mat-toolbar-row {
  border-bottom: 1px solid #d9dce1;
}
app-site-selector {
  height: 100%;
}

.first-mat-toolbar-row {
  height: 44px;
}
.navbar-btns-container {
  display: flex;
  justify-content: flex-end;
}
