.medium-menu-container {
  height: auto;
  min-height: calc(100vh - 100.994px);
  position: absolute;
  top: 101px;
  right: 0;
  transition: width 0.2s;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  z-index: 801;
  width: 0;
}

.medium-menu-container.open {
  width: 100%;
  display: flex;
  animation: slide-in-left 200ms;
}

.medium-menu-container.closing {
  animation: slide-out-left 30ms;
  width: 0;
}
@keyframes slide-in-left {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes slide-out-left {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}



.medium-menu-content-container {
  width: 0%;
  transition: width 0.2s;
  border-top: 1px solid #d9dce1;
  background-color: white;
  overflow: hidden;
  height: 100%;
  display: none;
}
.medium-menu-content-container.open {
  transition: width 0.2s ease 0s;
  overflow: initial;
  height: auto;
  width: 430px;
  display: flex;
  flex-direction: column;
}

.medium-menu-overlay {
  opacity: 0.5;
  background-color: #001928;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.medium-menu-btn-back-to-menu-btn {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
