<!-- The Module file is in the main folder -->
<app-personal-bank-accounts-overview-component
  [bankAccountsData]="bankAccountsData"
></app-personal-bank-accounts-overview-component>
<app-personal-bank-accounts-featured-products-component></app-personal-bank-accounts-featured-products-component>
<app-personal-bank-accounts-multiple-accounts-section></app-personal-bank-accounts-multiple-accounts-section>
<app-personal-bank-accounts-help-me-choose></app-personal-bank-accounts-help-me-choose>
<app-personal-bank-accounts-check-out-others></app-personal-bank-accounts-check-out-others>
<!-- <app-personal-bank-accounts-reviews-carousel></app-personal-bank-accounts-reviews-carousel> -->