<section>
  <div>
    <!-- Loading animation -->
    <div></div>
    <div
      style="
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row wrap;
      "
    >
      <div style="flex: 0 0 100%; max-width: 100%; box-sizing: inherit">
        <div
          style="
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-flow: row wrap;
            box-sizing: inherit;
          "
        >
          <div
            style="
              margin-bottom: 1.5rem;
              margin-top: 1.5rem;
              flex: 0 0 100%;
              max-width: 100%;
              min-width: initial;
              box-sizing: inherit;
            "
          >
            <nav
              style="
                width: max-content;
                padding-left: 1rem;
                display: flex;
                box-sizing: inherit;
              "
            >
              <li style="display: inline-flex; list-style-type: none">
                <a
                  routerLink="/personal"
                  aria-label="learn about personal banking"
                  style="
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-right: 0.5rem;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #0075be;
                    text-decoration: none;
                    cursor: pointer;
                  "
                >
                  <mat-icon
                    aria-hidden="true"
                    style="
                      display: block;
                      width: 24px;
                      height: 24px;
                      color: #0075be;
                    "
                    >arrow_back</mat-icon
                  >Personal</a
                >
              </li>
            </nav>
          </div>
        </div>
        <div
          style="padding-left: 1rem; margin-right: 0.5rem; padding-top: 1rem"
        >
          <h1
            style="
              margin-bottom: 1rem;
              line-height: 2rem;
              font-weight: 700;
              font-size: 1.75rem;
              margin-top: 0;
            "
          >
            Bank Accounts
          </h1>
          <div
            style="
              line-height: 1.5rem;
              display: inline;
              font-weight: 700;
              font-size: 1rem;
            "
          >
            Whatever your goals, we've got an account to help you make real
            financial progress
          </div>
          <div>
            <ul
              style="
                padding-top: 1rem;
                padding-left: 0rem;
                margin-left: 0;
                margin-top: 0;
                list-style: none;
                margin-bottom: 0;
              "
            >
              <!-- @TODO: li comes from API - create service when you figure out other pages setup -->
              <li style="margin-bottom: 1rem; display: flex">
                <div style="display: flex">
                  <div style="padding-right: 1rem">
                    <mat-icon aria-hidden="true" style="color: #0075be"
                      >check</mat-icon
                    >
                  </div>
                  <div></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Limited time offer -->
        <div></div>
      </div>
    </div>
  </div>
</section>
