<div
  [ngClass]="{
    'sign-in-large-container': currentScreenSize === 'Large'
  }"
>
  <div
    [ngClass]="{
      'sign-in-large-inner-container': currentScreenSize === 'Large'
    }"
  >
    <div
      [ngClass]="{
        'sign-in-large-wrapper-container': currentScreenSize === 'Large'
      }"
    >
      <div>
        <div
          [ngClass]="{
            'sign-in-large-content-container': currentScreenSize === 'Large'
          }"
        >
          <div
            [ngClass]="{
              'sign-in-large-main-wrapper': currentScreenSize === 'Large'
            }"
          >
            <main>
              <!-- Title for medium and large screen sizes -->
              <div
                *ngIf="
                  currentScreenSize === 'Medium' ||
                  currentScreenSize === 'Large'
                "
                class="sign-in-md-screen-title-container"
              >
                <div class="sign-in-md-screen-icon-container">
                  <span>
                    <mat-icon aria-hidden="true" class="sign-in-md-screen-icon"
                      >lock</mat-icon
                    >
                  </span>
                </div>
                <h1 class="sign-in-md-screen-title-text">
                  Sign in to Online Banking
                </h1>
              </div>
              <!-- Sign in content -->
              <div
                class="sign-in-outer-container"
                [ngClass]="{
                  medium: currentScreenSize === 'Medium',
                  large: currentScreenSize === 'Large'
                }"
              >
                <!-- Left border for medium screen and above -->
                <div
                  class="sign-in-left-border"
                  [ngClass]="{
                    medium: currentScreenSize === 'Medium',
                    large: currentScreenSize === 'Large'
                  }"
                ></div>
                <!-- Sigin Container -->
                <div
                  class="sign-in-container"
                  [ngClass]="{
                    medium: currentScreenSize === 'Medium',
                    large: currentScreenSize === 'Large'
                  }"
                >
                  <div
                    class="sign-in-inner-container"
                    [ngClass]="{
                      large: currentScreenSize === 'Large'
                    }"
                  >
                    <div class="sign-in-inner-wrapper">
                      <div>
                        <h1
                          *ngIf="currentScreenSize === 'Small'"
                          class="sign-in-title"
                        >
                          Sign in to Online Banking
                        </h1>
                        <form class="sign-in-form" [formGroup]="signInForm">
                          <div
                            class="sign-in-form-wrapper"
                            [ngClass]="{
                              medium: currentScreenSize === 'Medium',
                              large: currentScreenSize === 'Large'
                            }"
                          >
                            <!-- Card Number -->
                            <div class="sign-in-card-number-container">
                              <div class="sign-in-card-number-content-wrapper">
                                <label
                                  aria-hidden="false"
                                  for="username"
                                  id="username-text"
                                  class="sign-in-card-number-label"
                                  >Card number</label
                                >
                                <div
                                  class="sign-in-card-number-content-input-container"
                                >
                                  <input
                                    class="sign-in-card-number-content-input-box"
                                    id="username"
                                    aria-labelledby="username-text"
                                    type="number"
                                    formControlName="cardNumber"
                                    [ngClass]="{
                                      invalid:
                                        cardNumber?.invalid &&
                                        (cardNumber?.dirty ||
                                          cardNumber?.touched)
                                    }"
                                  />
                                </div>

                                <span
                                  *ngIf="
                                    cardNumber?.invalid &&
                                    (cardNumber?.dirty || cardNumber?.touched)
                                  "
                                  aria-live="assertive"
                                  aria-atomic="true"
                                  class="sign-in-error-message-text"
                                  ><mat-icon
                                    class="sign-in-error-message-text-icon"
                                    >error</mat-icon
                                  >You'll need to enter a card number.</span
                                >
                                <span class="sign-in-card-number-input-caption"
                                  >Enter your 16-digit card number</span
                                >
                              </div>
                            </div>
                            <!-- Remember card -->
                            <div class="sign-in-remember-card-container">
                              <div
                                class="sign-in-remember-card-inner-container"
                              >
                                <div
                                  class="sign-in-remember-card-content-wrapper"
                                >
                                  <label
                                    class="sign-in-remember-card-label-container"
                                  >
                                    <input
                                      type="checkbox"
                                      aria-checked="false"
                                      class="sign-in-remember-card-checkbox checked"
                                    />
                                    <span
                                      class="sign-in-remember-card-checkbox-title"
                                      >Remember card</span
                                    >
                                  </label>
                                </div>
                              </div>
                              <!-- <button>Icon</button> -->
                            </div>
                            <!-- Password -->
                            <div class="sign-in-password-container">
                              <div class="sign-in-password-inner-container">
                                <label
                                  aria-hidden="false"
                                  for="password-input"
                                  class="sign-in-password-label-text"
                                  >Password</label
                                >
                                <div class="sign-in-password-input-container">
                                  <input
                                    type="{{
                                      isPasswordVisible === true
                                        ? 'text'
                                        : 'password'
                                    }}"
                                    aria-describedby="password-input"
                                    maxlength="32"
                                    id="password-input"
                                    autocomplete="off"
                                    class="sign-in-password-input-box"
                                    formControlName="password"
                                    [ngClass]="{
                                      invalid:
                                        password?.invalid &&
                                        (password?.dirty || password?.touched)
                                    }"
                                  />
                                  <span
                                    aria-hidden="false"
                                    role="switch"
                                    aria-label="Show password. Note toggling display will read value audibly"
                                    tabindex="0"
                                    class="sign-in-password-input-eye-container"
                                    (click)="togglePasswordVisibility($event)"
                                    (keydown.Space)="
                                      togglePasswordVisibility($event)
                                    "
                                    (keydown.enter)="
                                      togglePasswordVisibility($event)
                                    "
                                  >
                                    <mat-icon
                                      aria-hidden="true"
                                      class="sign-in-password-input-eye-icon"
                                      >visibility</mat-icon
                                    >
                                  </span>
                                </div>
                                <span
                                  *ngIf="
                                    password?.invalid &&
                                    (password?.dirty || password?.touched)
                                  "
                                  aria-live="assertive"
                                  aria-atomic="true"
                                  class="sign-in-error-message-text"
                                  ><mat-icon
                                    class="sign-in-error-message-text-icon"
                                    >error</mat-icon
                                  >You'll need to enter a password.</span
                                >
                              </div>
                              <!-- For screen reader only -->
                              <div></div>
                            </div>
                            <!-- Forgot your password -->
                            <div class="sign-in-forgot-password-container">
                              <div
                                class="sign-in-forgot-password-inner-container"
                              >
                                <a
                                  draggable="false"
                                  class="sign-in-forgot-password-link-wrapper"
                                >
                                  <span role="text">
                                    <span>Forgot your password?</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                            <!-- Sign in -->
                            <div class="sign-in-login-button-container">
                              <button
                                type="submit"
                                class="sign-in-login-button-wrapper"
                              >
                                <span>
                                  <span>Sign in</span>
                                </span>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Right border for medium a screen and above -->
                <div
                  class="sign-in-right-border"
                  [ngClass]="{
                    medium: currentScreenSize === 'Medium',
                    large: currentScreenSize === 'Large'
                  }"
                ></div>
                <!-- Left border for medium screen and above -->
                <div
                  class="sign-in-left-border"
                  [ngClass]="{
                    medium: currentScreenSize === 'Medium',
                    large: currentScreenSize === 'Large'
                  }"
                ></div>
                <!-- Register for online banking and security  -->

                <app-register-card
                  class="register-and-security-container"
                  [ngClass]="{
                    medium: currentScreenSize === 'Medium',
                    large: currentScreenSize === 'Large'
                  }"
                ></app-register-card>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
