.sign-in-large-container {
  position: relative;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-in-large-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.sign-in-large-wrapper-container {
  margin-left: 152px;
  margin-right: 152px;
  padding: 0 32px;
  flex: 1;
  /* margin: 0 auto; */
  display: flex;
  flex-flow: column;
}
.sign-in-large-content-container {
  transition: 0.3s all ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-right: 12px;
  margin-left: 12px;
}
.sign-in-large-main-wrapper {
  flex: 1;
  max-width: 100%;
}
.sign-in-md-screen-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.sign-in-md-screen-icon-container {
  margin-top: 2px;
  margin-right: 8px;
}
.sign-in-md-screen-icon {
  color: #0075be;
  font-size: 1.5rem;
}
.sign-in-md-screen-title-text {
  font-size: 1.725rem;
  margin: 0;
}

.sign-in-outer-container.medium {
  margin-top: 0;
  transition: 0.3s all ease;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.sign-in-outer-container.large {
  display: flex;
  box-sizing: border-box;
  margin-top: 16px;
}
.sign-in-left-border {
  display: none;
}
.sign-in-left-border.medium {
  display: flex;
  flex: 0 0 16.666%;
  max-width: 16.666%;
  padding: 0;
  margin: 0;
}
.sign-in-left-border.large {
  display: none;
}
.sign-in-container {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.sign-in-container.medium {
  margin-top: 0;
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
  padding: 0;
}
.sign-in-container.large {
  flex: 1;
  max-width: 50%;
  margin: 0;
}
.sign-in-inner-container {
  min-height: 0px;
  margin: 0;
  margin-top: 1rem;
  transition: 0.3s box-shadow ease, 1s all ease;
  padding: 0;
  border: 1px solid none;
  box-shadow: 0 0 2px 0 rgba(0, 25, 40, 0.12), 0 2px 2px 0 rgba(0, 25, 40, 0.07);
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
.sign-in-inner-container.large {
  margin: 0;
}
.sign-in-inner-wrapper {
  position: relative;
  width: inherit;
  box-sizing: border-box;
}
.sign-in-title {
  display: block;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 700;
  margin-left: 16px;
  margin-top: 16px;
  letter-spacing: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.sign-in-form {
  margin: 0;
  padding: 0;
}
.sign-in-form-wrapper {
  padding: 0 16px 32px;
  margin: 0;
  box-sizing: border-box;
}
.sign-in-form-wrapper.medium {
  padding: 32px;
}
.sign-in-form-wrapper.large {
  padding: 32px;
}
.sign-in-card-number-container {
  margin-bottom: 8px;
  padding: 0;
  box-sizing: border-box;
}

.sign-in-card-number-label {
  display: initial;
  font-size: 0.9rem;
  line-height: 1.4rem;
  min-height: 24px;
  margin-bottom: 4px;
  letter-spacing: 0.25px;
}
.sign-in-card-number-content-input-container {
  position: relative;
}
.sign-in-card-number-content-input-box {
  background-color: white;
  width: 100%;
  height: 3rem;
  line-height: 2.4rem;
  padding: 0 0 0 0.5rem;
  white-space: nowrap;
  border: 1px solid #646c76;
  font-size: 1rem;
  color: #001928;
  border-radius: 4px;
  font-weight: 400;
  box-sizing: border-box;
}
.sign-in-error-message-text {
  font-weight: 400;
  color: #c81414;
  width: 100%;
  min-width: 150px;
  font-size: 0.9rem;
  line-height: 1.6rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.sign-in-error-message-text-icon {
  font-size: 1.2rem;
}
.sign-in-card-number-input-caption {
  color: #646c76;
  font-size: 0.9rem;
  line-height: 1.6rem;
  display: block;
  margin: 0;
}
.sign-in-remember-card-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sign-in-remember-card-inner-container {
  padding-bottom: 8px;
}
.sign-in-remember-card-content-wrapper {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
}
.sign-in-remember-card-label-container {
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 1.6rem;
  /* line-height: 2.4rem; */
  letter-spacing: 0.15px;
  align-items: center;
}
.sign-in-remember-card-checkbox {
  height: 1.4rem;
  width: 1.4rem;
  min-width: 1.4rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;
  margin-right: 0.5rem;
  border-radius: 0.4rem;
  border: 2px solid #646c76;
  display: block;
}
.sign-in-remember-card-checkbox.checked {
  background-color: #0075be;
  background-image: url("/assets/svg/checkmark-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.sign-in-remember-card-checkbox-title {
  font-size: 1rem;
}
.sign-in-password-container {
  margin-top: 8px;
}
.sign-in-password-inner-container {
  padding-bottom: 8px;
}
.sign-in-password-label-text {
  display: initial;
  font-size: 0.9rem;
  line-height: 1.4rem;
  min-height: 24px;
  margin-bottom: 4px;
  letter-spacing: 0.25px;
}
.sign-in-password-input-container {
  position: relative;
}
.sign-in-password-input-box {
  background-color: #ffffff;
  width: 100%;
  height: 3rem;
  line-height: 2.4rem;
  padding: 0 0 0 0.5rem;
  white-space: nowrap;
  border: 1px solid #646c76;
  font-size: 1rem;
  color: #001928;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
}
.sign-in-password-input-eye-container {
  position: absolute;
  top: 0rem;
  right: 0.4rem;
  display: block;
  border-radius: 4px;
  background-color: transparent;
  padding: 0;
  font-size: 0;
}
.sign-in-password-input-eye-icon {
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #0075be;
}

.sign-in-forgot-password-inner-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sign-in-forgot-password-link-wrapper {
  font-size: 0.825rem;
  cursor: pointer;
  text-transform: none;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-right: 0 24px 0 0;
  border-radius: 4px;
  color: #0075be;
  align-items: center;
  text-decoration: none;
}
.sign-in-forgot-password-link-wrapper:hover {
  text-decoration: underline;
}
.sign-in-login-button-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in-login-button-wrapper {
  min-width: 232px;
  padding: 0 32px;
  line-height: 1.5;
  border-radius: 3.2rem;
  min-height: 3.2rem;
  background-color: #0075be;
  border: 2px solid #0075be;
  color: #ffffff;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
  max-width: 100%;
}
.sign-in-login-button-wrapper:hover {
  cursor: pointer;
  background-color: #005587;
  border: 2px solid #005587;
}
.sign-in-right-border {
  display: none;
}
.sign-in-right-border.medium {
  display: flex;
  flex: 0 0 16.6666%;
  max-width: 16.666%;
  padding: 0;
  margin: 0;
}
.sign-in-right-border.large {
  display: none;
}
.register-and-security-container {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 16px;
  margin: 0;
}
.register-and-security-container.medium {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
  padding: 0;
}
.register-and-security-container.large {
  flex: 1;
  max-width: 50%;
}
.register-container {
  min-height: 0px;
  margin: 0;
  transition: 0.3s box-shadow ease, 1s all ease;
  padding: 0;
  border: 1px solid none;
  box-shadow: 0 0 2px 0 rgba(0, 25, 40, 0.12), 0 2px 2px 0 rgba(0, 25, 40, 0.07);
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
.register-inner-container {
  position: relative;
  margin: 0;
  padding: 0;
}
.register-content-wrapper {
  padding: 0 16px;
  margin: 0;
}
.register-title-text {
  margin-top: 16px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.15px;
  color: #001928;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  margin-bottom: 0;
}
.register-p-container {
  padding: 0;
  margin: 0;
  color: #001928;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-decoration: none;
}
.register-p-a-wrapper {
  max-height: 3.2rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: none;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 3.2rem;
  margin-right: 0 24px 0 0;
  border-radius: 4px;
  color: #0075be;
  align-items: center;
  text-decoration: none;
}
.register-or-text {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.15px;
  margin-right: 5px;
  padding: 0;
}
.security-container {
  min-height: 0px;
  margin: 16px 0 16px 0;
  transition: 0.3s box-shadow ease, 1s all ease;
  box-shadow: unset;
  border: 0px solid #fff;
  padding: 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
.security-inner-container {
  position: relative;
}
.security-content-container {
  padding: 16px 24px;
}
.security-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
.security-title-icon-wrapper {
  display: inline-block;
}
.security-title-text {
  /* margin-top: 16px; */
  margin-top: 0;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.15px;
  color: #001928;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  margin-bottom: 0;
  padding-left: 8px;
}
.security-description-text {
  line-height: 1.4rem;
  font-size: 0.9rem;
  letter-spacing: 0.25px;
  color: #001928;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  margin: 0;
}
.security-link-wrapper {
  text-decoration: underline;
  line-height: 2.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: none;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin-right: 0 24px 0 0;
  border-radius: 4px;
  color: #0075be;
}
.screen-reader-only {
  position: absolute;
  transition: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  clip-path: inset(0 0 0 0);
  white-space: nowrap;
  clip: rect(0 0 0 0);
  border: 0;
  outline: 0;
  appearance: none;
}
.security-link-icon-wrapper {
  position: absolute;
  top: -5px;
  margin-left: 0;
  font-size: 1.2rem;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
}
