<div class="sign-in-container">
  <div class="sign-in-inner-container">
    <div class="sign-in-inner-wrapper">
      <div>
        <h1 class="sign-in-title">Sign in to Online Banking</h1>
        <form class="sign-in-form">
          <div class="sign-in-form-wrapper">
            <!-- Card Number -->
            <div class="sign-in-card-number-container">
              <div class="sign-in-card-number-content-wrapper">
                <label
                  aria-hidden="false"
                  for="username"
                  id="username-text"
                  class="sign-in-card-number-label"
                  >Card number</label
                >
                <div class="sign-in-card-number-content-input-container">
                  <input 
                  class="sign-in-card-number-content-input-box"
                  id="username" aria-labelledby="username-text" />
                </div>
                <span>Error message</span>
                <span class="sign-in-card-number-input-caption">Enter your 16-digit card number</span>
              </div>
            </div>
            <!-- Remember card -->
            <div>
              <div>
                <div>
                  <label>
                    <input type="checkbox" />
                    <span>Remember card</span>
                  </label>
                </div>
              </div>
            </div>
            <!-- Password -->
            <div>
              <div>
                <label>Password</label>
                <span></span>
              </div>
            </div>
            <!-- Forgot your password -->
            <div>
              <div>
                <a>
                  <span>
                    <span>Forgot your password?</span>
                  </span>
                </a>
              </div>
            </div>
            <!-- Sign in -->
            <div></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
