<!-- Title for medium and large screen sizes -->
<div
  *ngIf="currentScreenSize === 'Medium' || currentScreenSize === 'Large'"
  class="sign-in-md-screen-title-container"
>
  <div class="sign-in-md-screen-icon-container">
    <span>
      <mat-icon aria-hidden="true" class="sign-in-md-screen-icon"
        >lock</mat-icon
      >
    </span>
  </div>
  <h1 class="sign-in-md-screen-title-text">Sign in to Online Banking</h1>
</div>
<!-- Sign in content -->
<div
  [ngClass]="{
    'sign-in-outer-container medium': currentScreenSize === 'Medium'
  }"
>
  <!-- Left border for medium screen and above -->
  <div
    class="sign-in-left-border"
    [ngClass]="{
      medium: currentScreenSize === 'Medium'
    }"
  ></div>
  <div
    class="sign-in-container"
    [ngClass]="{ medium: currentScreenSize === 'Medium' }"
  >
    <div class="sign-in-inner-container">
      <div class="sign-in-inner-wrapper">
        <div>
          <h1 *ngIf="currentScreenSize === 'Small'" class="sign-in-title">
            Sign in to Online Banking
          </h1>
          <form class="sign-in-form">
            <div
              class="sign-in-form-wrapper"
              [ngClass]="{
                medium: currentScreenSize === 'Medium'
              }"
            >
              <!-- Card Number -->
              <div class="sign-in-card-number-container">
                <div class="sign-in-card-number-content-wrapper">
                  <label
                    aria-hidden="false"
                    for="username"
                    id="username-text"
                    class="sign-in-card-number-label"
                    >Card number</label
                  >
                  <div class="sign-in-card-number-content-input-container">
                    <input
                      class="sign-in-card-number-content-input-box"
                      id="username"
                      aria-labelledby="username-text"
                    />
                  </div>
                  <span
                    *ngIf="false"
                    aria-live="assertive"
                    aria-atomic="true"
                    class="sign-in-error-message-text"
                    ><mat-icon class="sign-in-error-message-text-icon"
                      >error</mat-icon
                    >You'll need to enter a card number.</span
                  >
                  <span class="sign-in-card-number-input-caption"
                    >Enter your 16-digit card number</span
                  >
                </div>
              </div>
              <!-- Remember card -->
              <div class="sign-in-remember-card-container">
                <div class="sign-in-remember-card-inner-container">
                  <div class="sign-in-remember-card-content-wrapper">
                    <label class="sign-in-remember-card-label-container">
                      <input
                        type="checkbox"
                        aria-checked="false"
                        class="sign-in-remember-card-checkbox checked"
                      />
                      <span class="sign-in-remember-card-checkbox-title"
                        >Remember card</span
                      >
                    </label>
                  </div>
                </div>
                <!-- <button>Icon</button> -->
              </div>
              <!-- Password -->
              <div class="sign-in-password-container">
                <div class="sign-in-password-inner-container">
                  <label
                    aria-hidden="false"
                    for="password-input"
                    class="sign-in-password-label-text"
                    >Password</label
                  >
                  <div class="sign-in-password-input-container">
                    <input
                      type="password"
                      aria-describedby="password-input"
                      maxlength="32"
                      id="password-input"
                      autocomplete="off"
                      class="sign-in-password-input-box"
                    />
                    <span
                      aria-hidden="false"
                      role="switch"
                      aria-label="Show password. Note toggling display will read value audibly"
                      tabindex="0"
                      class="sign-in-password-input-eye-container"
                    >
                      <mat-icon
                        aria-hidden="true"
                        class="sign-in-password-input-eye-icon"
                        >visibility</mat-icon
                      >
                    </span>
                  </div>
                  <span
                    *ngIf="false"
                    aria-live="assertive"
                    aria-atomic="true"
                    class="sign-in-error-message-text"
                    ><mat-icon class="sign-in-error-message-text-icon"
                      >error</mat-icon
                    >You'll need to enter a password.</span
                  >
                </div>
                <!-- For screen reader only -->
                <div></div>
              </div>
              <!-- Forgot your password -->
              <div class="sign-in-forgot-password-container">
                <div class="sign-in-forgot-password-inner-container">
                  <a
                    draggable="false"
                    class="sign-in-forgot-password-link-wrapper"
                  >
                    <span role="text">
                      <span>Forgot your password?</span>
                    </span>
                  </a>
                </div>
              </div>
              <!-- Sign in -->
              <div class="sign-in-login-button-container">
                <button type="submit" class="sign-in-login-button-wrapper">
                  <span>
                    <span>Sign in</span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Right border for medium a screen and above -->
  <div
    class="sign-in-right-border"
    [ngClass]="{
      medium: currentScreenSize === 'Medium'
    }"
  ></div>
  <!-- Register for online banking and security  -->
  <div class="register-and-security-container">
    <!-- Online banking register -->
    <div class="register-container">
      <div class="register-inner-container">
        <div>
          <div class="register-content-wrapper">
            <h2 class="register-title-text">
              Register a new card for online banking
            </h2>
            <p class="register-p-container">
              <a
                href="https://www.bmo.com/online/debitcards/registration/#/terms"
                aria-label="REGISTER WITH A DEBIT CARD"
                draggable="false"
                class="register-p-a-wrapper"
              >
                <span role="text"><span>DEBIT CARD</span></span>
              </a>
              <span class="register-or-text"> or</span>
              <a
                href="https://www.bmo.com/online/creditcards/registration?lang=enundefined"
                aria-label="REGISTER WITH A CREDIT CARD"
                draggable="false"
                class="register-p-a-wrapper"
              >
                <span role="text">
                  <span>CREDIT CARD</span>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Security -->
    <div class="security-container">
      <div>
        <div>
          <div>
            <div>
              <h2 class="security-title-text">Your security always comes first.</h2>
            </div>
            <p class="security-description-text">
              We’ve made Online Banking more convenient, while still using
              advanced security technologies that keep your money and
              information safe.
            </p>
            <a
              href="https://www.bmo.com/main/personal/ways-to-bank/security-centre/#tabs-3"
              target="_blank"
              draggable="false"
              class="security-link-wrapper"
            >
              <span role="text"
                ><span> Learn more about how we protect you. </span>
                <!-- Screen reader only -->
                <span></span>
              </span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
