<div>
  <div>
    <h3 class="bank-accounts-title-text">Bank accounts</h3>
  </div>
  <div>
    <div class="bank-accounts-individual-account-container">
      <div>
        <h5 class="bank-accounts-individual-account-info-name">Chequing</h5>
        <p class="bank-accounts-individual-account-info-account-number">7222</p>
      </div>
      <div class="bank-accounts-individual-account-amount-container">
        <p class="bank-accounts-individual-account-amount-text">$11,271.48</p>
        <mat-icon class="bank-accounts-individual-account-icon"
          >chevron_right</mat-icon
        >
      </div>
    </div>
  </div>
  <div>
    <p class="bank-accounts-open-account-text">Open an account</p>
  </div>
</div>
