<div>
  <div>
    <ul>
      <li>
        <h3 class="active">Personal Info</h3>
        <ul class="subsection">
          <li class="active-sub">
            <h4>Name</h4>
          </li>
          <li>
            <h4>Birthday</h4>
          </li>
        </ul>
      </li>
      <li>
        <h3>Contact info</h3>
      </li>
      <li>
        <h3>Address</h3>
      </li>
      <li>
        <h3>Employment</h3>
      </li>
      <li>
        <h3>SIN</h3>
      </li>
      <li>
        <h3>Tax Details</h3>
      </li>
      <li>
        <h3>Family Bundle</h3>
      </li>
      <li>
        <h3>Account use</h3>
      </li>
    </ul>
  </div>
</div>
