ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 4px;
  margin-left: 10px;
  margin-bottom: 16px;
  color: #646c76;
}
li h3 {
  font-weight: 500;
  font-size: 18px;
}
li h3.active {
  color: #000000;
  font-weight: 700;
}
li h4 {
  font-weight: 500;
  font-size: 14px;
}
li h4.active {
  font-weight: 700;
}
.subsection {
  margin-left: -12px;
  margin-top: 8px;
  padding-left: 8px;
  border-left: 4px solid transparent;
}
.active-sub {
  border-left: 4px solid #2cbfc1;
}
.active-sub h4 {
  font-weight: 700;
  color: #000000;
}
