mat-toolbar {
  height: 101px;
}
.mobile-logo-wrapper {
  margin-top: 10px;
}
.logo-medium {
  width: auto;
  height: 33px;
}
.spacer {
  flex: 1 1 auto;
}
.sign-in-btn-container {
  display: flex;
  height: 100%;
  width: 140px;
  border-left: transparent;
  border-right: transparent;
}
.full-height-btn {
  flex: 1;
  height: 100%;
}
.sign-in-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0075be;
}
.hamburger-btn-container {
  display: flex;
  height: 100%;
}

.close-container {
  transition: transform 0.2s;
}
.close-container.open {
  transition: transform 0.2s ease 0s;
  padding: 10px 0px;
  transform: rotate(90deg);
}
.hamburger-icon-top,
.hamburger-icon-middle,
.hamburger-icon-bottom {
  border-top: 2px solid #646c76;
  display: block;
  width: 20px;
}
.hamburger-icon-top.open {
  transform: rotate(45deg);
}
.hamburger-icon-middle {
  margin: 5px 0;
}
.hamburger-icon-middle.open {
  opacity: 0;
  margin: -2px 0;
}
.hamburger-icon-bottom.open {
  transform: rotate(135deg);
}
