<div class="navbar-container">
  <div class="navbar-inner-container">
    <div class="navbar-wrapper">
      <div class="navbar-content-container">
        <div class="navbar-logo-container">
          <a
            routerLink="/login"
            aria-label="Home - BMO Digital Banking"
            draggable="false"
          >
            <img
              src="assets/svg/bmo-roundel-logo-crop.svg"
              alt="B M O logo"
              class="navbar-logo-img"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
