.navbar-container {
  box-sizing: border-box;
  background-color: #0075be;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar-inner-container {
  height: 100%;
  margin: 0 4px;
}

.navbar-wrapper {
  margin: 0 8px 0 16px;
  display: flex;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}
.navbar-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-logo-container {
  display: flex;
  align-items: center;
}
.navbar-logo-img {
  height: 4rem;
  width: 109px;
}
