<div>
  <mat-toolbar
    [ngClass]="{
      'toolbar-small': currentScreenSize === 'Medium',
      'toolbar-large': currentScreenSize === 'Large'
    }"
  >
    <div
      [ngClass]="{
        'mobile-logo-container':
          currentScreenSize === 'Small' || currentScreenSize === 'Medium',
        'mobile-logo-container-large': currentScreenSize === 'Large'
      }"
    >
      <a
        style="text-align: left"
        *ngIf="currentScreenSize === 'Small' || currentScreenSize === 'Medium'"
      >
        <div>
          <img
            src="assets/svg/bmoLogo.svg"
            alt="Bank of Montreal logo"
            [ngClass]="{
              'logo-xsmall': currentScreenSize === 'Small',
              'logo-small': currentScreenSize === 'Medium'
            }"
          />
        </div>
      </a>
      <div class="site-select-container" *ngIf="currentScreenSize === 'Large'">
        <div
          class="site-select-wrapper open"
          (click)="isSelectedSiteOpen = !isSelectedSiteOpen"
          [ngClass]="{ open: isSelectedSiteOpen }"
        >
          <span>{{ selectedSiteOption }}</span>
          <div class="expand-more-chevron-wrapper">
            <mat-icon
              class="expand-more-chevron"
              [ngClass]="{ open: isSelectedSiteOpen }"
              >expand_more</mat-icon
            >
          </div>
        </div>
        <ul class="site-select-list" *ngIf="isSelectedSiteOpen">
          <li *ngFor="let option of siteOptions">
            <a
              href="{{ option.linkHref }}"
              target="_blank"
              [attr.aria-label]="option.ariaLabel"
              >{{ option.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="currentScreenSize === 'Large'" class="search-bar-container">
      <div
        [ngClass]="{
          'search-icon-wrapper-open': isSearchBarOpen,
          'search-icon-wrapper': !isSearchBarOpen
        }"
        (click)="isSearchBarOpen = !isSearchBarOpen"
      >
        <form>
          <div class="search-form-inner-wrapper">
            <mat-icon *ngIf="!isSearchBarOpen" class="search-form-icon"
              >search</mat-icon
            >
            <input placeholder="Search" class="search-form-input" />
          </div>
        </form>
      </div>
    </div>
    <div class="mobile-btn-container">
      <div>
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <span
            style="display: flex; align-items: center; justify-content: center"
            ><img
              src="assets/svg/flag-canada.svg"
              alt="Canada flag"
              style="width: 25px; height: 25px"
          /></span>
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
      <div>
        <div>
          <span>EN</span>
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
      <button
        class="signin-btn"
        (click)="isMobileSignInMenuOpen = !isMobileSignInMenuOpen"
      >
        <span *ngIf="isMobileSignInMenuOpen">
          <mat-icon>close</mat-icon><span>Close</span></span
        >
        <span *ngIf="!isMobileSignInMenuOpen"
          ><mat-icon>lock_open</mat-icon><span>Sign In</span></span
        >
      </button>

      <button
        *ngIf="currentScreenSize === 'Small' || currentScreenSize === 'Medium'"
        class="mobile-menu-btn"
        (click)="isMobileMenuOpen = !isMobileMenuOpen"
      >
        <span
          class="close-container"
          [ngClass]="isMobileMenuOpen ? 'open' : null"
        >
          <span
            class="hamburger-icon-top"
            [ngClass]="isMobileMenuOpen ? 'open' : null"
          ></span>
          <span
            class="hamburger-icon-middle"
            [ngClass]="isMobileMenuOpen ? 'open' : null"
          ></span>
          <span
            class="hamburger-icon-bottom"
            [ngClass]="isMobileMenuOpen ? 'open' : null"
          ></span>
        </span>
      </button>
    </div>
  </mat-toolbar>
  <div
    *ngIf="currentScreenSize === 'Large'"
    style="
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-top: 0.5rem;
      padding-right: 2rem;
    "
  >
    <div>
      <img
        src="assets/svg/bmoLogo.svg"
        alt="Bank of Montreal logo"
        class="logo-small"
      />
    </div>
    <div>
      <nav>
        <ul style="display: flex; list-style-type: none">
          <li *ngFor="let navOption of navbarOptions">
            <button
              style="
                border: none;
                background: transparent;
                cursor: pointer;
                font-size: 1rem;
                padding: 0 12px;
              "
            >
              {{ navOption.title }}
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
