<div class="site-selector-container">
  <div class="site-selector-wrapper">
    <label class="site-selector-label">Site Selector</label>
    <div
      tabindex="0"
      role="combobox"
      [attr.aria-expanded]="isSelectedSiteOpen"
      aria-controls="site-selector-dropdown-list"
      aria-haspopup="listbox"
      aria-labelledby="site-selector-label"
      [attr.aria-activedescendant]="ariaActiveDescendent"
      class="site-select-wrapper open"
      (click)="handleSelectedSiteMenuClick($event)"
      (keyup.enter)="handleSelectedSiteMenuClick($event)"
      (keydown.Space)="handleSelectedSiteMenuClick($event)"
      [ngClass]="{ open: isSelectedSiteOpen }"
    >
      <span>{{ selectedSiteOption }}</span>
      <div class="expand-more-chevron-wrapper">
        <mat-icon
          class="expand-more-chevron"
          [ngClass]="{ open: isSelectedSiteOpen }"
          >expand_more</mat-icon
        >
      </div>
    </div>
    <ul
      role="listbox"
      aria-labelledby="site-selector-label"
      id="site-selector-dropdown-list"
      class="site-select-list"
      tabindex="-1"
      *ngIf="isSelectedSiteOpen"
    >
      <!-- https://angular.io/api/common/NgForOf#local-variables -->
      <li
        role="option"
        aria-disabled="false"
        *ngFor="let option of siteOptions; let i = index; let last = last"
        id="{{ 'site-selector_' + i }}"
      >
        <!-- @TODO: Once all angular pages are set up - we can remove the second a tag. -->
        <a
          *ngIf="option.routerLink"
          routerLink="{{ option.routerLink }}"
          target="_blank"
          [attr.aria-label]="option.ariaLabel"
          (focus)="optionOnFocus(i)"
          >{{ option.title }}</a
        >
        <a
          *ngIf="option.linkHref"
          href="{{ option.linkHref }}"
          target="_blank"
          [attr.aria-label]="option.ariaLabel"
          (focus)="optionOnFocus(i)"
          >{{ option.title }}</a
        >
        <button
          *ngIf="last"
          (focus)="handleSelectedSiteMenuClick($event)"
          class="site-select-list-last-option"
        >
        </button>
      </li>
    </ul>
  </div>
</div>
