<div class="site-selector-container">
  <div class="site-selector-wrapper">
    <label class="site-selector-label">Site Selector</label>
    <div
      class="site-select-wrapper open"
      (click)="handleSelectedSiteMenuClick()"
      [ngClass]="{ open: isSelectedSiteOpen }"
    >
      <span>{{ selectedSiteOption }}</span>
      <div class="expand-more-chevron-wrapper">
        <mat-icon
          class="expand-more-chevron"
          [ngClass]="{ open: isSelectedSiteOpen }"
          >expand_more</mat-icon
        >
      </div>
    </div>
    <ul class="site-select-list" *ngIf="isSelectedSiteOpen">
      <li *ngFor="let option of siteOptions">
        <!-- @TODO: Once all angular pages are set up - we can remove the second a tag. -->
        <a
          *ngIf="option.routerLink"
          routerLink="{{ option.routerLink }}"
          target="_blank"
          [attr.aria-label]="option.ariaLabel"
          >{{ option.title }}</a
        >
        <a
          *ngIf="option.linkHref"
          href="{{ option.linkHref }}"
          target="_blank"
          [attr.aria-label]="option.ariaLabel"
          >{{ option.title }}</a
        >
      </li>
    </ul>
  </div>
</div>
