<div class="medium-signin-container">
  <button
    class="signin-btn"
    (click)="isMobileSignInMenuOpen = !isMobileSignInMenuOpen"
  >
    <span *ngIf="isMobileSignInMenuOpen">
      <mat-icon>close</mat-icon><span>Close</span></span
    >
    <span *ngIf="!isMobileSignInMenuOpen"
      ><mat-icon>lock_open</mat-icon><span>Sign In</span></span
    >
  </button>
  <div class="medium-signin-menu-container">
    <div class="medium-signin-menu-content-container">
      <div class="medium-signin-menu-online-banking-container">
        <a
          class="medium-signin-menu-online-banking-link"
          aria-label="Access online banking"
          href="https://mobile2.bmo.com/BMOMobile/BMOMobileBanking.html#/login/auth"
          target="_blank"
        >
          <div>Online Banking</div>
          <mat-icon aria-hidden="true">chevron_right</mat-icon>
        </a>
      </div>
      <div></div>
      <ul></ul>
    </div>
    <div class="medium-signin-menu-overlay"></div>
  </div>
</div>
