section {
  padding-top: 2rem;
}

.title {
  margin: 0 1.5rem 0.5rem;
}
.title h1 {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.75rem;
  color: #646c76;
  letter-spacing: 2px;
}

.sub-title {
  margin: 0 1.5rem;
}
.sub-title h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.tab-content-container {
  padding: 1.5rem;
}
.tab-content-container-medium {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tab-content-container-medium mat-card {
  flex: 45%;
}

.mat-card-image {
  height: 164px;
  object-fit: cover;
  border-bottom-left-radius: 10000px 2000px;
  border-bottom-right-radius: 10000px 2000px;
  overflow: hidden;
}
.mat-card-svg {
  width: 60px;
  height: 60px;
}
.mat-card-content-title {
  font-size: 22px;
  font-weight: 500;
}
.mat-card-content-desc {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-bottom: 0.8rem;
}
.mat-card-content-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/* Angular Material Styles */

:host ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #0075be;
}

:host
  ::ng-deep
  .mat-mdc-tab.mdc-tab--active:focus
  .mdc-tab-indicator__content--underline {
  border-color: #0075be;
}
.blue {
  background-color: #0075be;
}
.ultramarine {
  background-color: #005587;
}
.albicant {
  background-color: #f5f6f7;
}
.text-white {
  color: white;
}
.text-blue {
  color: #0075be;
}
mat-card {
  margin-bottom: 1.5rem;
}
mat-card-content {
  padding: 0 2rem 1.5rem;
}
