<div>
  <div>
    <h3 class="loans-and-mortgages-title-text">Loans & mortgages</h3>
  </div>
  <div>
    <div class="loans-and-mortgages-individual-account-container">
      <div
        class="loans-and-mortgages-individual-account-info-container"
        [ngClass]="{
          large: currentScreenSize === 'Large'
        }"
      >
        <h5 class="loans-and-mortgages-individual-account-info-name">
          Mortgage
        </h5>
        <p class="loans-and-mortgages-individual-account-info-account-number">
          5555
        </p>
      </div>
      <div class="loans-and-mortgages-individual-account-amount-container">
        <p class="loans-and-mortgages-individual-account-amount-text">
          $212,103.72
        </p>
        <mat-icon class="loans-and-mortgages-individual-account-icon"
          >chevron_right</mat-icon
        >
      </div>
    </div>
  </div>
  <div
    class="loans-and-mortgages-open-account-container"
    [ngClass]="{
      large: currentScreenSize === 'Large'
    }"
  >
    <p class="loans-and-mortgages-open-account-text">Apply for a credit card</p>
    <p class="loans-and-mortgages-open-account-text">
      Get pre-approved for a mortgage
    </p>
  </div>
</div>
