.loans-and-mortgages-title-text {
  letter-spacing: 1px;
}
.loans-and-mortgages-individual-account-container {
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #dec28c;
  padding: 0.5rem;
  background-color: #ffffff;
  box-sizing: border-box;
}
.loans-and-mortgages-individual-account-info-container.large {
  display: flex;
  gap: 0 5px;
  align-items: center;
}

.loans-and-mortgages-individual-account-info-name {
  margin: 0.5rem 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}
.loans-and-mortgages-individual-account-info-account-number {
  margin: 0.5rem 0;
  font-size: 16px;
  color: #8d9091;
  letter-spacing: 1px;
  font-weight: 300;
}
.loans-and-mortgages-individual-account-amount-container {
  display: flex;
  align-items: center;
}

.loans-and-mortgages-individual-account-amount-text {
  margin: 0;
  letter-spacing: 1px;
}
.loans-and-mortgages-individual-account-icon {
  color: #0075be;
}

.loans-and-mortgages-open-account-container.large {
  display: flex;
  gap: 0 20px;
}

.loans-and-mortgages-open-account-text {
  color: #0075be;
  text-transform: uppercase;
  letter-spacing: 1px;
}
