<div class="security-container">
  <div class="security-inner-container">
    <div>
      <div class="security-content-container">
        <div class="security-title-container">
          <span class="security-title-icon-wrapper">
            <mat-icon aria-hidden="true">lock</mat-icon>
          </span>
          <h2 class="security-title-text">Your security always comes first.</h2>
        </div>
        <p class="security-description-text">
          We’ve made Online Banking more convenient, while still using advanced
          security technologies that keep your money and information safe.
        </p>
        <a
          href="https://www.bmo.com/main/personal/ways-to-bank/security-centre/#tabs-3"
          target="_blank"
          draggable="false"
          class="security-link-wrapper"
        >
          <span role="text"
            ><span> Learn more about how we protect you. </span>
            <!-- Screen reader only -->
            <span class="screen-reader-only"> Opens in a new tab </span>
          </span>
          <!-- Icon -->
          <span class="security-link-icon-wrapper" aria-hidden="true"
            ><mat-icon aria-hidden="true">open_in_new</mat-icon></span
          >
        </a>
      </div>
    </div>
  </div>
</div>
