<div class="quick-links-container">
  <div class="quick-links-content-container">
    <h4 class="quick-links-title-text">Quick links</h4>
    <ul class="quick-links-ul-container">
      <li class="quick-links-option-container">
        <a class="quick-links-link"
          ><mat-icon class="quick-links-link-icon">sync_alt</mat-icon>Account
          transfers</a
        >
      </li>
      <li class="quick-links-option-container">
        <a class="quick-links-link"
          ><mat-icon class="quick-links-link-icon">receipt_long</mat-icon>Bill
          payments</a
        >
      </li>
      <li class="quick-links-option-container">
        <a class="quick-links-link"
          ><mat-icon class="quick-links-link-icon">send</mat-icon>Interac
          e-Transfer</a
        >
      </li>
      <li class="quick-links-option-container">
        <a class="quick-links-link"
          ><mat-icon class="quick-links-link-icon">public</mat-icon>Global money
          transfer</a
        >
      </li>
    </ul>
  </div>
</div>
