<div class="hamburger-btn-container">
  <button
    #hamburgerMenuBtn
    mat-button
    (click)="toggleHamburgerMenu()"
    class="full-height-btn"
    id="mobile-hamburger-menu-btn"
  >
    <span class="close-container" [ngClass]="isMobileMenuOpen ? 'open' : null">
      <span
        class="hamburger-icon-top"
        [ngClass]="isMobileMenuOpen ? 'open' : null"
      ></span>
      <span
        class="hamburger-icon-middle"
        [ngClass]="isMobileMenuOpen ? 'open' : null"
      ></span>
      <span
        class="hamburger-icon-bottom"
        [ngClass]="isMobileMenuOpen ? 'open' : null"
      ></span>
    </span>
  </button>
  <div class="hamburger-menu-container" [ngClass]="{ open: isMobileMenuOpen }">
    <div
      class="hamburger-first-group-container"
      [ngClass]="{ open: isMobileMenuOpen }"
    >
      <div
        class="hamburger-first-group-inner-container"
        [ngClass]="{ open: isMobileMenuOpen }"
      >
        <!-- Search bar -->
        <div>
          <div>
            <div>
              <form>
                <div class="search-form-inner-container">
                  <label
                    class="search-label"
                    aria-hidden="true"
                    for="header-search-mobile"
                    >Search box</label
                  >
                  <input
                    #searchInput
                    autocomplete="off"
                    placeholder="Search"
                    role="combobox"
                    aria-label="Search"
                    aria-autocomplete="list"
                    aria-expanded="false"
                    aria-labelledby="header-search-mobile-label"
                    aria-owns="header-search-mobile-list"
                    aria-activedescendant=""
                    type="text"
                    (click)="handleSearchMenuSelected(true)"
                    (focus)="handleSearchMenuSelected(true)"
                    class="search-input"
                  />
                  <button
                    aria-label="Cancel, clear search results and close"
                    type="reset"
                    class="search-cancel-btn"
                    [ngClass]="{ show: isSearchMenuSelected }"
                    (click)="handleSearchMenuSelected(false)"
                    (focusout)="handleSearchCancelBtnFocusout()"
                  >
                    <span>Cancel</span>
                    <span></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Country selector -->
        <div>
          <label
            class="search-label"
            id="country-selector-mobile-dropdown-label"
            >Country Selector</label
          >
          <div
            [attr.aria-expanded]="isCountrySelectorOpen"
            aria-controls="country-selector-mobile-dropdown-list"
            aria-haspopup="listbox"
            aria-labelledby="country-selector-mobile-dropdown-label"
            role="combobox"
            tabindex="0"
            class="country-selector-dropdown-container"
            (click)="toggleIsCountrySelectorOpen()"
            (keydown)="countrySelectorKeyDown($event)"
          >
            <div class="country-selector-text-container">
              <span
                ><img
                  alt="Canada flag"
                  height="100%"
                  width="25"
                  src="assets/svg/flag-canada.svg"
              /></span>
              <span class="country-selector-selected-text-container">
                <div>
                  <span>CA</span>
                  <span class="screen-reader-text"
                    >You're on B M O Canada website</span
                  >
                </div>
                <div class="country-selector-chevron-container">
                  <mat-icon
                    class="country-selector-chevron"
                    [ngClass]="{ open: isCountrySelectorOpen }"
                    >chevron_right</mat-icon
                  >
                </div>
              </span>
            </div>
          </div>
          <div
            role="listbox"
            aria-labelledby="country-selector-mobile-dropdown-label"
            tabindex="-1"
            class="country-selector-dropdown-list-container"
            [ngClass]="{ open: isCountrySelectorOpen }"
          >
            <div
              role="option"
              *ngFor="let options of countrySelectorMenuOptions"
              id="country-selector-mobile_0"
              aria-selected="true"
              class="country-selector-dropdown-list-option-container"
            >
              <div class="country-selector-dropdown-list-option-text-container">
                <span>
                  <img src="{{ options.icon }}" width="20" height="20" />
                </span>
                <span
                  class="country-selector-dropdown-list-option-text-caption-container"
                >
                  <div>{{ options.country }}</div></span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Site selector -->
        <div>
          <label id="site-selector-mobile-dropdown-label" class="search-label"
            >Site Selector</label
          >
          <div
            [attr.aria-expanded]="isSiteSelectorOpen"
            aria-controls="site-selector-mobile-dropdown-list"
            aria-haspopup="listbox"
            aria-labelledby="site-selector-mobile-dropdown-label"
            role="combobox"
            tabindex="0"
            class="site-selector-mobile-dropdown-container"
            (click)="toggleIsSiteSelectorOpen()"
            (keydown)="siteSelectorKeyDown($event)"
          >
            <div class="site-selector-mobile-dropdown-text-container">
              <span>Private Wealth</span>
              <mat-icon
                class="site-selector-mobile-dropdown-chevron"
                [ngClass]="{ open: isSiteSelectorOpen }"
                >chevron_right</mat-icon
              >
            </div>
          </div>
          <ul
            role="listbox"
            id="site-selector-mobile-dropdown-list"
            aria-labelledby="site-selector-mobile-dropdown-label"
            tabindex="-1"
            class="site-selector-ul-container"
            [ngClass]="{ open: isSiteSelectorOpen }"
          >
            <li
              *ngFor="let option of siteSelectorMenuOptions"
              role="option"
              id="site-selector-mobile_{{ option.id }}"
              aria-selected="false"
              class="site-selector-ul-li-container"
            >
              @if(option.routerLink){
              <a
                href="{{ option.routerLink }}"
                target="_blank"
                [attr.aria-label]="option.ariaLabel"
                class="site-selector-ul-li-link"
              >
                {{ option.linkName }}
              </a>
              }@else {
              <a
                href="{{ option.hrefLink }}"
                target="_blank"
                [attr.aria-label]="option.ariaLabel"
                class="site-selector-ul-li-link"
              >
                {{ option.linkName }}
              </a>
              }
            </li>
          </ul>
        </div>
        <!-- Language selector -->
        <div>
          <label id="lang-selector-mobile-dropdown-label" class="search-label"
            >Language Selector</label
          >
          <div
            aria-expanded="false"
            aria-controls="lang-selector-mobile-dropdown-list"
            aria-haspopup="listbox"
            aria-labelledby="lang-selector-mobile-dropdown-label"
            id="lang-selector-mobile-dropdown-combobox"
            role="combobox"
            tabindex="0"
            class="lang-selector-mobile-dropdown-container"
            (click)="toggleIsLangSelectorOpen()"
            (keydown)="langSelectorKeyDown($event)"
          >
            <div class="lang-selector-mobile-dropdown-text-container">
              <span>English</span>
              <mat-icon
                aria-hidden="true"
                class="lang-selector-mobile-dropdown-chevron"
                [ngClass]="{ open: isLangSelectorOpen }"
                >chevron_right</mat-icon
              >
            </div>
          </div>
          <ul
            role="listbox"
            id="lang-selector-mobile-dropdown-list"
            aria-labelledby="lang-selector-mobile-dropdown-label"
            tabindex="-1"
            class="lang-selector-mobile-ul-container"
            [ngClass]="{ open: isLangSelectorOpen }"
          >
            <li
              *ngFor="let option of langSelectorMenuOptions"
              role="option"
              aria-selected="false"
              id="site-selector-mobile-{{ option.id }}"
            >
              <a href="{{ option.href }}" target="_blank">{{
                option.language
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
