.mobile-menu-btn-menu-country-select-container {
  box-sizing: border-box;
}
.mobile-menu-btn-menu-search-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.mobile-menu-btn-menu-country-select-wrapper {
  box-sizing: border-box;
  margin: 8px auto;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-indent: 8px;
}
.mobile-menu-btn-menu-country-select-chevron {
  position: absolute;
  transition: all 0.2s;
  right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  width: auto;
}
.mobile-menu-btn-menu-country-select-chevron.open {
  transform: rotate(90deg);
}
.mobile-menu-btn-menu-country-select-content-wrapper {
  width: 100%;
  text-indent: 0;
  display: inline-flex;
  align-items: center;
}
.mobile-menu-btn-menu-country-select-icon-wrapper {
  width: 25px;
  min-width: 25px;
  max-height: 25px;
  line-height: unset;
}
.mobile-menu-btn-menu-country-select-text-wrapper {
  width: 100%;
  margin-left: 8px;
  font-size: 1rem;
}
.mobile-menu-btn-menu-country-dropdown-container {
  box-sizing: border-box;
  width: 100%;
  border: 0px;
  overflow-y: auto;
  transition: max-height 0.2s ease 0s;
  display: none;
}
.mobile-menu-btn-menu-country-dropdown-container.open {
  display: block;
}
.mobile-menu-btn-menu-country-wrapper {
  box-sizing: border-box;
  margin: 0;
  text-indent: 0;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
}
.mobile-menu-btn-menu-country-content-container {
  width: 100%;
  text-indent: 0;
  display: inline-flex;
  align-items: center;
}
.mobile-menu-btn-menu-country-icon-wrapper {
  width: 25px;
  min-width: 25px;
  max-height: 30px;
  line-height: unset;
}
.mobile-menu-btn-menu-country-text-wrapper {
  width: 100%;
  margin-left: 8px;
  font-size: 1rem;
}
