<div
  #MediumMenuContainer
  class="medium-menu-container"
  [ngClass]="isMediumMenuOpen ? 'open' : null"
>
  <div
    class="medium-menu-overlay"
    [ngClass]="isMediumMenuOpen ? 'open' : null"
  ></div>
  <div
    class="medium-menu-content-container"
    [ngClass]="isMediumMenuOpen ? 'open' : null"
  >
    <div style="background-color: #f5f6f7; padding: 1rem 1.5rem 1rem">
      <app-mobile-menu-search-bar></app-mobile-menu-search-bar>
      <app-mobile-menu-country-select></app-mobile-menu-country-select>
      <app-mobile-menu-site-selector></app-mobile-menu-site-selector>
      <app-mobile-menu-language-selector></app-mobile-menu-language-selector>
    </div>
    <app-mobile-menu-inner-menu></app-mobile-menu-inner-menu>
  </div>
  <!-- @NOTE: Added directive here because two bottom-nav will show in signin menu -->
  <app-medium-bottom-navigation
    *ngIf="isMediumMenuOpen"
  ></app-medium-bottom-navigation>
  <button
    (focus)="backToMenuBtn()"
    aria-hidden="true"
    class="medium-menu-btn-back-to-menu-btn"
  ></button>
</div>
