.medium-menu-container {
  height: auto;
  min-height: calc(100vh - 100.994px);
  position: absolute;
  top: 101px;
  right: 0;
  transition: width 0.2s;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  z-index: 801;
  width: 0;
}
.medium-menu-container.open {
  width: 100%;
}
.medium-menu-content-container {
  width: 0%;
  transition: width 0.2s;
  border-top: 1px solid #d9dce1;
  background-color: white;
  overflow: hidden;
  height: 100%;
  display: none;
}
.medium-menu-content-container.open {
  transition: width 0.2s ease 0s;
  overflow: initial;
  height: auto;
  width: 430px;
  display: flex;
  flex-direction: column;
}

.medium-menu-overlay {
  opacity: 0.5;
  background-color: #001928;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
