<div>
  <app-personal-navbar
    [currentScreenSize]="currentScreenSize"
  ></app-personal-navbar>
  <app-personal-hero
    [currentScreenSize]="currentScreenSize"
  ></app-personal-hero>
  <app-personal-products-tabs [currentScreenSize]="currentScreenSize"></app-personal-products-tabs>
  <app-person-download-banner [currentScreenSize]="currentScreenSize"></app-person-download-banner>
  <app-personal-where-to-begin></app-personal-where-to-begin>
  <app-footer [currentScreenSize]="currentScreenSize"></app-footer>
</div>
