<div>
  <app-navbar [currentScreenSize]="currentScreenSize"></app-navbar>
  <div
    [ngClass]="
      isMobileSignInMenuOpen
        ? 'home-page-content-wrapper mobile-signin-menu-open'
        : 'home-page-content-wrapper'
    "
  >
    <app-personal-hero
      [currentScreenSize]="currentScreenSize"
    ></app-personal-hero>
    <app-personal-products-tabs
      [currentScreenSize]="currentScreenSize"
    ></app-personal-products-tabs>
    <app-person-download-banner
      [currentScreenSize]="currentScreenSize"
    ></app-person-download-banner>
    <app-personal-where-to-begin
      [currentScreenSize]="currentScreenSize"
    ></app-personal-where-to-begin>
    <app-footer [currentScreenSize]="currentScreenSize"></app-footer>
  </div>
</div>
