<section class="reviews-carousel-section">
  <div class="reviews-carousel-container">
    <div class="reviews-carousel-inner-container">
      <!-- Carousel -->
      <div class="reviews-carousel-carousel-container">
        <div class="reviews-carousel-carousel-inner-container">
          <ul class="reviews-carousel-carousel-ul-container">
            <li class="reviews-carousel-carousel-li">
              <div>
                <div class="reviews-carousel-carousel-content-wrapper">
                  <!-- Carousel content description -->
                  <div class="reviews-carousel-carousel-content-desc-container">
                    <h2 class="reviews-carousel-carousel-content-title">
                      “Making a good thing better”
                    </h2>
                    <p class="reviews-carousel-carousel-content-desc-text">
                      “The app has been actively updated and continutes to
                      improve. It does everything I need it to and does it well.
                      If you have a
                    </p>
                    <!-- Star rating -->
                    <div></div>
                    <div
                      class="reviews-carousel-carousel-content-captions-container"
                    >
                      <p
                        class="reviews-carousel-carousel-content-captions-reviewer-text"
                      >
                        Robifouche, Oct. 16, 2018
                      </p>
                      <div
                        class="reviews-carousel-carousel-content-captions-wrapper"
                      >
                        <p
                          class="reviews-carousel-carousel-content-captions-text-one"
                        >
                          App Store review
                        </p>
                        <p
                          class="reviews-carousel-carousel-content-captions-text-two"
                        >
                          Reviews have been edited for spelling and punctuation
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Carousel top image -->
                  <div class="reviews-carousel-carousel-image-container">
                    <picture class="reviews-carousel-carousel-image-wrapper">
                      <img
                        src="/assets/images/personal-bank-accounts-reviews-carousel-mobile.png"
                        alt="B M O mobile app"
                      />
                    </picture>
                  </div>
                  <!-- Carousel download buttons -->
                  <div
                    class="reviews-carousel-carousel-download-button-container"
                  >
                    <div
                      class="reviews-carousel-carousel-download-button-wrapper"
                    >
                      <a
                        href="https://play.google.com/store/apps/details?id=com.bmo.mobile"
                        target="_blank"
                        rel="noopener"
                        class="reviews-carousel-carousel-download-button-a-wrapper"
                      >
                        <picture
                          ><img src="/assets/svg/google-app-btn.svg"
                        /></picture>
                      </a>
                      <a
                        href="https://itunes.apple.com/ca/app/bmo-mobile-banking/id429080319?mt=8"
                        target="_blank"
                        rel="noopener"
                        class="reviews-carousel-carousel-download-button-a-wrapper"
                      >
                        <picture
                          ><img src="/assets/svg/apple-app-btn.svg"
                        /></picture>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Carousel controls -->
        <div>
          <div>
            <div>
              <!-- Carousel left button -->
              <button
                aria-label="Previous slide"
                class="reviews-carousel-carousel-nav-left-btn"
              >
                <span class="reviews-carousel-carousel-nav-btn-icon-wrapper">
                  <mat-icon aria-hidden="true">chevron_left</mat-icon>
                </span>
              </button>
              <!-- Carousel right button -->
              <button
                aria-label="Next slide"
                class="reviews-carousel-carousel-nav-right-btn"
              >
                <span class="reviews-carousel-carousel-nav-btn-icon-wrapper">
                  <mat-icon aria-hidden="true">chevron_right</mat-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
        <!-- Carousel navigational dot -->
        <div class="reviews-carousel-carousel-nav-dots-container">
          <ul
          role="list"
          class="reviews-carousel-carousel-nav-dots-ul"
          >
          <li class="reviews-carousel-carousel-nav-dots-ul-li">
            <button></button>
          </li>
        </ul>
        </div>
        <div></div>
      </div>
      <!-- Explore button -->
      <div></div>
    </div>
  </div>
</section>
