mat-toolbar {
  border-bottom: 1px solid #d9dce1;
  padding-left: 1rem;
}

.top-nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
.mobile-logo-container {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-xsmall {
  width: 100px;
  height: 27px;
}

.mobile-btn-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.mobile-btn-container button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.signin-btn-container {
  display: flex;
  border-left: 1px solid #d9dce1;
  border-right: 1px solid #d9dce1;
  align-items: center;
}
.signin-btn {
  color: #0075be;
  text-transform: uppercase;
  width: 140px;
  padding: 2px 24px 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  margin: 0;
  height: 100%;
  justify-content: center;
}
.signin-btn span {
  display: flex;
  align-items: center;
}
.signin-btn:hover {
  text-decoration: underline;
}
.signin-btn:hover,
.mobile-menu-btn {
  cursor: pointer;
}

.signin-btn mat-icon {
  margin-right: 2px;
}

.mobile-signin-btn-menu-container {
  height: auto;
  min-height: calc(100vh - 56.9886px);
  background-color: #f5f6f7;
  transition: width 0.2s ease 0s;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 801;
  top: 57px;
  right: 0px;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
}
.mobile-signin-btn-menu-container.open {
  width: 100%;
}
.mobile-signin-btn-menu-inner-container {
  transition: width 0.2s ease 0s;
  box-sizing: border-box;
  width: 100%;
  background-color: #f5f6f7;
  color: #fefefe;
  overflow: initial;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.mobile-online-banking-signin-container {
  width: 100%;
  background-color: white;
  height: auto !important;
}
.online-banking-signin-link {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  font-weight: 700;
  display: flex;
  color: #0075be;
  padding: 1.5rem 1.5rem 0px;
  text-decoration: none;
}

.mobile-signin-register-container {
  width: 100%;
  background-color: white;
  color: #646c76;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #d9dce1;
  height: auto !important;
  display: flex;
}
.mobile-signin-register-wrapper {
  padding: 1.5rem;
}
.mobile-signin-register-link {
  color: #0075be;
  margin-bottom: 12px;
  font-weight: 700;
  white-space: nowrap;
}
.mobile-signin-dropdown-menu {
  margin: 0;
  padding: 1.5rem;
  list-style-type: none;
}
.mobile-signin-dropdown-link {
  color: #001928;
  letter-spacing: 0.15px;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  display: flex;
  text-decoration: none;
}
.mobile-menu-btn {
  cursor: pointer;
  border: none;
  padding: 0 1.5rem;
}

.close-container {
  transition: transform 0.2s;
}
.close-container.open {
  transition: transform 0.2s ease 0s;
  padding: 10px 0px;
  transform: rotate(90deg);
}

.hamburger-icon-top,
.hamburger-icon-middle,
.hamburger-icon-bottom {
  border-top: 2px solid #646c76;
  display: block;
  width: 20px;
}

.hamburger-icon-top.open {
  transform: rotate(45deg);
}

.hamburger-icon-middle {
  margin: 5px 0;
}

.hamburger-icon-middle.open {
  opacity: 0;
  margin: -2px 0;
}

.hamburger-icon-bottom.open {
  transform: rotate(135deg);
}

.mobile-menu-btn-menu-container {
  height: auto;
  min-height: calc(100vh - 55px);
  transition: width 0.2s ease 0s;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  z-index: 801;
  top: 55px;
  right: 0px;
  width: 0;
  overflow-x: hidden;
}
.mobile-menu-btn-menu-container.open {
  width: 100%;
}
.mobile-menu-btn-menu-inner-container {
  transition: width 0.2s ease 0s;
  border-top: 1px solid #d9dce1;
  width: 100%;
  background-color: white;
  overflow: initial;
  height: auto;
}
.mobile-menu-btn-menu-options-container {
  background-color: #f5f6f7;
  padding: 1rem 1.5rem 1rem;
}
.mobile-menu-btn-menu-search-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.mobile-menu-btn-menu-search-input {
  box-sizing: border-box;
  flex-grow: 1;
  height: 3rem;
  padding: 10px 10px 10px 3rem;
  font-weight: 400;
  color: #001928;
  background: white;
  line-height: 1.5rem;
  transition: border-color 0.15s linear;
  box-shadow: none;
  border: 2px solid #d9dce1;
  background-image: url("/assets/svg/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  margin-top: 0;
  margin-bottom: 0;
}
.mobile-menu-btn-menu-search-input.open {
  box-sizing: border-box;
  color: #001928;
  background: none;
  transition: border-color 150ms linear 0s;
  background-repeat: no-repeat;
  background-position: left 1rem center;
  padding: 10px 10px 10px 1rem;
  border: 2px solid #005587;
  outline: none;
}
.mobile-menu-btn-menu-search-cancel-btn {
  display: none !important;
}
.mobile-menu-btn-menu-search-cancel-btn.open {
  flex-grow: 0;
  font-size: 1rem;
  line-height: 50%;
  width: 100px;
  height: auto !important;
  padding-left: 1.5rem;
  padding-right: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  display: block !important;
}
.mobile-menu-btn-menu-country-select-container {
  box-sizing: border-box;
}
.mobile-menu-btn-menu-country-select-wrapper {
  box-sizing: border-box;
  margin: 8px auto;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-indent: 8px;
}
.mobile-menu-btn-menu-country-select-chevron {
  position: absolute;
  transition: all 0.2s;
  right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  width: auto;
}
.mobile-menu-btn-menu-country-select-chevron.open {
  transform: rotate(90deg);
}
.mobile-menu-btn-menu-country-select-content-wrapper {
  width: 100%;
  text-indent: 0;
  display: inline-flex;
  align-items: center;
}
.mobile-menu-btn-menu-country-select-icon-wrapper {
  width: 25px;
  min-width: 25px;
  max-height: 25px;
  line-height: unset;
}
.mobile-menu-btn-menu-country-select-text-wrapper {
  width: 100%;
  margin-left: 8px;
  font-size: 1rem;
}
.mobile-menu-btn-menu-country-dropdown-container {
  box-sizing: border-box;
  width: 100%;
  border: 0px;
  overflow-y: auto;
  transition: max-height 0.2s ease 0s;
  display: none;
}
.mobile-menu-btn-menu-country-dropdown-container.open {
  display: block;
}
.mobile-menu-btn-menu-country-wrapper {
  box-sizing: border-box;
  margin: 0;
  text-indent: 0;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
}
.mobile-menu-btn-menu-country-content-container {
  width: 100%;
  text-indent: 0;
  display: inline-flex;
  align-items: center;
}
.mobile-menu-btn-menu-country-icon-wrapper {
  width: 25px;
  min-width: 25px;
  max-height: 30px;
  line-height: unset;
}
.mobile-menu-btn-menu-country-text-wrapper {
  width: 100%;
  margin-left: 8px;
  font-size: 1rem;
}
.mobile-menu-site-selector-container {
  box-sizing: inherit;
}
.mobile-menu-site-selector-content-container {
  padding: 8px 0;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mobile-menu-site-selector-chevron {
  position: absolute;
  transition: all 0.2s;
  right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  width: auto;
}
.mobile-menu-site-selector-chevron.open {
  transform: rotate(90deg);
}
.mobile-menu-site-selector-dropdown {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0px;
  overflow-y: auto;
  transition: max-height 0.2 ease 0s;
  max-height: 0;
  text-indent: 32px;
  font-weight: 400;
  display: none;
}
.mobile-menu-site-selector-dropdown.open {
  max-height: 500px;
  display: block;
}
.mobile-menu-site-selector-link {
  text-decoration: none;
  color: #001928;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.mobile-menu-language-selector-content-container {
  padding: 8px 0;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mobile-menu-language-selector-chevron {
  position: absolute;
  transition: all 0.2s;
  right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  width: auto;
}
.mobile-menu-language-selector-chevron.open {
  transform: rotate(90deg);
}
.mobile-menu-language-selector-dropdown {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  overflow-y: auto;
  transition: max-height 0.2s;
  max-height: 0;
  display: none;
  font-size: 1rem;
  font-weight: 400;
}
.mobile-menu-language-selector-dropdown.open {
  max-height: 500px;
  display: block;
}
.mobile-menu-language-selector-dropdown-option {
  display: flex;
  list-style: none;
  padding: 2px 0;
  text-indent: 32px;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
}
.mobile-menu-btn-navigation-container {
  padding-bottom: 128px;
}
.mobile-menu-btn-navigation-dropdown-wrapper {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0;
  display: block;
}
.mobile-menu-btn-navigation-dropdown {
  padding: 0;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
.mobile-menu-btn-navigation-dropdown-option {
  display: block;
  margin: 0;
  padding: 4px 1.5rem;
  border-bottom: 1px solid #d9dce1;
}
.mobile-menu-btn-navigation-dropdown-content-wrapper {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: flex-start !important;
  font-size: 1rem;
  width: 100%;
  padding: 1rem 0;
  text-align: left;
  line-height: 1.5;
  border-radius: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.mobile-menu-btn-navigation-dropdown-chevron {
  position: absolute;
  transition: all 0.2s;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  width: auto;
}
.mobile-menu-btn-navigation-categories-container {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: none;
}
.mobile-menu-btn-navigation-categories-container.open {
  display: block;
}
.mobile-menu-btn-navigation-categories-dropdown {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.mobile-menu-btn-navigation-categories-dropdown-option {
  font-size: 1rem;
  width: 100%;
  padding: 0 0 1rem 1rem;
}
.mobile-menu-btn-navigation-categories-dropdown-link-no-children {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.mobile-menu-btn-navigation-categories-dropdown-with-children {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: flex-start !important;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  border-radius: 0;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.mobile-menu-btn-navigation-categories-dropdown-with-children.open {
  color: #0075be;
  font-weight: 600;
}
.mobile-menu-btn-navigation-categories-dropdown-chevron {
  position: absolute;
  transition: all 0.2s;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  width: auto;
}
.mobile-menu-btn-navigation-categories-dropdown-chevron.open {
  transform: rotate(90deg);
  color: #0075be;
}
.mobile-menu-btn-navigation-categories-dropdown-child-container {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0;
  display: none;
}
.mobile-menu-btn-navigation-categories-dropdown-child-container.open {
  display: block;
}
.mobile-menu-btn-navigation-categories-dropdown-child-dropdown {
  width: 100%;
  /* padding: 0 0 0 1.5rem; */
  margin: 0;
  list-style-type: none;
}
.mobile-menu-btn-navigation-resources-container {
  padding-left: 1rem;
}
.mobile-menu-btn-navigation-resources-title {
  width: 100%;
  padding: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.mobile-menu-btn-navigation-resources-list-container {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu-btn-navigation-resources-list-link {
  display: flex;
  font-weight: 400;
  padding: 0 0 1rem;
  text-align: left;
  align-items: center;
  text-decoration: none;
}
.mobile-menu-btn-navigation-resources-image-wrapper {
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  display: flex;
  flex-grow: 0;
}
.mobile-menu-btn-navigation-resources-description {
  flex-grow: 1;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.bottom-nav-container {
  position: fixed;
  z-index: 802;
  transition: all 0.2s ease 0s;
  bottom: -90px;
  height: auto !important;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(19, 40, 71, 0.25) 0px 3px 14px 5px;
  background-color: white;
}
.bottom-nav-container.open {
  bottom: 0px;
}
.mobile-menu-btn-navigation-categories-dropdown-child-dropdown-option {
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  cursor: pointer;
}

.mobile-menu-btn-navigation-categories-dropdown-child-dropdown-option-link {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0;
  margin: 0;
  position: relative;
  color: #001928;
}
.mobile-menu-btn-navigation-categories-dropdown-child-dropdown-option-link:hover {
  color: #0075be;
}
.bottom-nav-link {
  width: 33.33%;
  height: 100%;
  display: block;
  text-align: center;
  font-weight: 400;
  color: #0075be;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.bottom-nav-link-content-wrapper {
  width: 100%;
  height: 100%;
  color: #0075be;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-nav-link-image-wrapper {
  height: 30px !important;
  width: 30px;
  margin-top: 5px;
}
