<div>
  <mat-toolbar>
    <div class="top-nav-container">
      <div class="mobile-logo-container">
        <a style="text-align: left">
          <div style="margin-top: 10px">
            <img
              src="assets/svg/bmoLogo.svg"
              alt="Bank of Montreal logo"
              class="logo-xsmall"
            />
          </div>
        </a>
      </div>
      <div class="mobile-btn-container">
        <div class="signin-btn-container">
          <button class="signin-btn" (click)="handleSignInMenuClick()">
            <span *ngIf="isMobileSignInMenuOpen">
              <mat-icon>close</mat-icon><span>Close</span></span
            >
            <span *ngIf="!isMobileSignInMenuOpen"
              ><mat-icon>lock_open</mat-icon><span>Sign In</span></span
            >
          </button>
          <div
            [ngClass]="
              isMobileSignInMenuOpen
                ? 'mobile-signin-btn-menu-container open'
                : 'mobile-signin-btn-menu-container'
            "
          >
            <div class="mobile-signin-btn-menu-inner-container">
              <div class="mobile-online-banking-signin-container">
                <a
                  class="online-banking-signin-link"
                  aria-label="Access online banking"
                  href="https://mobile2.bmo.com/BMOMobile/BMOMobileBanking.html#/login/auth"
                  target="_blank"
                >
                  <div>Online Banking</div>
                  <mat-icon>chevron_right</mat-icon>
                </a>
              </div>
              <div class="mobile-signin-register-container">
                <span class="mobile-signin-register-wrapper"
                  ><p>
                    Register for online banking with a
                    <a
                      class="mobile-signin-register-link"
                      href="https://www1.bmo.com/selfreg/#/step0"
                      target="_blank"
                      >BMO Debit Card</a
                    >
                    or
                  </p>
                  <p>
                    <a
                      class="mobile-signin-register-link"
                      href="https://www.bmo.com/online/creditcards/registration/?lang=en"
                      target="_blank"
                      >Credit Card</a
                    >
                  </p></span
                >
              </div>
              <ul class="mobile-signin-dropdown-menu">
                <li *ngFor="let options of signInMenuOptions">
                  <a
                    class="mobile-signin-dropdown-link"
                    [attr.aria-label]="options.ariaLabel"
                    href="{{ options.link }}"
                    target="_blank"
                    ><div>{{ options.title }}</div></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="width: 72px; display: block; cursor: pointer">
          <button
            class="mobile-menu-btn"
            (click)="isMobileMenuOpen = !isMobileMenuOpen"
          >
            <span
              class="close-container"
              [ngClass]="isMobileMenuOpen ? 'open' : null"
            >
              <span
                class="hamburger-icon-top"
                [ngClass]="isMobileMenuOpen ? 'open' : null"
              ></span>
              <span
                class="hamburger-icon-middle"
                [ngClass]="isMobileMenuOpen ? 'open' : null"
              ></span>
              <span
                class="hamburger-icon-bottom"
                [ngClass]="isMobileMenuOpen ? 'open' : null"
              ></span>
            </span>
          </button>
          <div
            [ngClass]="
              isMobileMenuOpen
                ? 'mobile-menu-btn-menu-container open'
                : 'mobile-menu-btn-menu-container'
            "
          >
            <div class="mobile-menu-btn-menu-inner-container">
              <div class="mobile-menu-btn-menu-options-container">
                <div style="box-sizing: border-box">
                  <div style="position: relative">
                    <div>
                      <form onsubmit="return false">
                        <div style="display: flex">
                          <label class="mobile-menu-btn-menu-search-label"
                            >Search</label
                          >
                          <input
                            (click)="handleMobileMenuSearchClick(true)"
                            [ngClass]="
                              isMobileMenuSearchSelected
                                ? 'mobile-menu-btn-menu-search-input open'
                                : 'mobile-menu-btn-menu-search-input'
                            "
                            placeholder="Search"
                          />
                          <button
                            (click)="handleMobileMenuSearchClick(false)"
                            [ngClass]="
                              isMobileMenuSearchSelected
                                ? 'mobile-menu-btn-menu-search-cancel-btn open'
                                : 'mobile-menu-btn-menu-search-cancel-btn'
                            "
                          >
                            Cancel
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div
                  (click)="handleCountrySelectMenuClick()"
                  class="mobile-menu-btn-menu-country-select-container"
                >
                  <!-- @TODO: this class is reused in this component per WCAG - refactor -->
                  <label class="mobile-menu-btn-menu-search-label"
                    >Country Selector</label
                  >
                  <div class="mobile-menu-btn-menu-country-select-wrapper">
                    <mat-icon
                      *ngIf="isMobileMenuOpen"
                      [ngClass]="
                        isCountrySelectMenuOpen
                          ? 'mobile-menu-btn-menu-country-select-chevron open'
                          : 'mobile-menu-btn-menu-country-select-chevron'
                      "
                      >chevron_right</mat-icon
                    >
                    <div
                      class="mobile-menu-btn-menu-country-select-content-wrapper"
                    >
                      <span
                        class="mobile-menu-btn-menu-country-select-icon-wrapper"
                        ><img
                          alt="Canada flag"
                          height="25"
                          width="25"
                          src="assets/svg/flag-canada.svg" /></span
                      ><span
                        class="mobile-menu-btn-menu-country-select-text-wrapper"
                        >CA</span
                      >
                    </div>
                  </div>
                  <div
                    [ngClass]="
                      isCountrySelectMenuOpen
                        ? 'mobile-menu-btn-menu-country-dropdown-container open'
                        : 'mobile-menu-btn-menu-country-dropdown-container'
                    "
                  >
                    <div
                      *ngFor="let option of countryOptions"
                      class="mobile-menu-btn-menu-country-wrapper"
                    >
                      <div
                        class="mobile-menu-btn-menu-country-content-container"
                      >
                        <span class="mobile-menu-btn-menu-country-icon-wrapper">
                          <img
                            src="{{ option.icon }}"
                            height="auto"
                            width="25px"
                            min-width="25px"
                          />
                        </span>
                        <span class="mobile-menu-btn-menu-country-text-wrapper"
                          ><a>{{ option.country }}</a></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mobile-menu-site-selector-container">
                  <label class="mobile-menu-btn-menu-search-label"
                    >Site Selector</label
                  >
                  <div
                    (click)="handleSiteSelectMenuClick()"
                    class="mobile-menu-site-selector-content-container"
                  >
                    <mat-icon
                      [ngClass]="
                        isSiteSelectMenuOpen
                          ? 'mobile-menu-site-selector-chevron open'
                          : 'mobile-menu-site-selector-chevron'
                      "
                      >chevron_right</mat-icon
                    >
                    <span style="font-size: 1rem">Personal</span>
                  </div>
                  <ul
                    [ngClass]="
                      isSiteSelectMenuOpen
                        ? 'mobile-menu-site-selector-dropdown open'
                        : 'mobile-menu-site-selector-dropdown'
                    "
                  >
                    <li *ngFor="let option of siteOptions">
                      <a
                        class="mobile-menu-site-selector-link"
                        href="{{ option.linkHref }}"
                        target="_blank"
                        [attr.aria-label]="option.ariaLabel"
                        >{{ option.title }}</a
                      >
                    </li>
                  </ul>
                </div>
                <div>
                  <label class="mobile-menu-btn-menu-search-label"
                    >Language Selector</label
                  >
                  <div
                    (click)="handleLanguageSelectMenuClick()"
                    class="mobile-menu-language-selector-content-container"
                  >
                    <mat-icon
                      [ngClass]="
                        isLanguageSelectMenuOpen
                          ? 'mobile-menu-language-selector-chevron open'
                          : 'mobile-menu-language-selector-chevron'
                      "
                      >chevron_right</mat-icon
                    >
                    <span style="font-size: 1rem">English</span>
                  </div>
                  <ul
                    [ngClass]="
                      isLanguageSelectMenuOpen
                        ? 'mobile-menu-language-selector-dropdown open'
                        : 'mobile-menu-language-selector-dropdown'
                    "
                  >
                    <li class="mobile-menu-language-selector-dropdown-option">
                      English
                    </li>
                    <li class="mobile-menu-language-selector-dropdown-option">
                      French
                    </li>
                  </ul>
                </div>
              </div>
              <nav></nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="
        isMobileSignInMenuOpen
          ? 'bottom-nav-container open'
          : 'bottom-nav-container'
      "
    >
      <a
        *ngFor="let option of mobileBottomNavOptions"
        class="bottom-nav-link"
        [attr.aria-label]="option.ariaLabel"
        href="{{ option.href }}"
        target="_blank"
        ><div style="max-height: initial">
          <div class="bottom-nav-link-content-wrapper">
            <div class="bottom-nav-link-image-wrapper">
              <img
                alt="{{ option.imageAlt }}"
                src="{{ option.image }}"
                style="width: 100%; height: 100%"
              />
            </div>
            {{ option.title }}
          </div>
        </div></a
      >
    </div>
  </mat-toolbar>
</div>
