mat-toolbar {
  border-bottom: 1px solid #d9dce1;
  padding-left: 1rem;
}

.top-nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
.mobile-logo-container {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-xsmall {
  width: 100px;
  height: 27px;
}

.mobile-btn-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.mobile-btn-container button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.mobile-menu-btn {
  cursor: pointer;
  border: none;
  padding: 0 1.5rem;
}
