mat-toolbar {
  border-bottom: 1px solid #d9dce1;
}
app-sign-in-mobile,
app-hamburger-menu-mobile {
  height: 100%;
}
.mobile-logo-container {
  height: 100%;
  flex-basis: 1;
  display: flex;
  align-items: center;
}
.mobile-logo-wrapper {
  margin-top: 10px;
}
.logo-xsmall {
  width: 100px;
  height: 27px;
}
.spacer {
  flex: 1 1 auto;
}
