<div>
  <mat-toolbar>
    <a
      aria-label="Bank of Montreal logo"
      href="/{{ originalPath }}"
      target="_self"
    >
      <div class="mobile-logo-wrapper">
        <img
          src="assets/svg/bmoLogo.svg"
          alt="Bank of Montreal logo"
          class="logo-xsmall"
        />
      </div>
    </a>
    <span class="spacer"></span>

    <app-sign-in-mobile
      [(isMobileMenuOpen)]="isMobileMenuOpen"
      [(isMobileSignInMenuOpen)]="isMobileSignInMenuOpen"
    ></app-sign-in-mobile>
    <app-hamburger-menu-mobile
      [(isMobileMenuOpen)]="isMobileMenuOpen"
      [(isMobileSignInMenuOpen)]="isMobileSignInMenuOpen"
    ></app-hamburger-menu-mobile>
  </mat-toolbar>
</div>
