<div>
    <div>
      <h3 class="credit-cards-title-text">Credit cards</h3>
    </div>
    <div>
      <div class="credit-cards-individual-account-container">
        <div>
          <h5 class="credit-cards-individual-account-info-name">MasterCard</h5>
          <p class="credit-cards-individual-account-info-account-number">3918</p>
        </div>
        <div class="credit-cards-individual-account-amount-container">
          <p class="credit-cards-individual-account-amount-text">$28.25</p>
          <mat-icon class="credit-cards-individual-account-icon"
            >chevron_right</mat-icon
          >
        </div>
      </div>
    </div>
    <div>
      <p class="credit-cards-open-account-text">Apply for a credit card</p>
    </div>
  </div>
  