<div
  class="bottom-nav-container"
  [ngClass]="{
    open: isMobileSignInMenuOpen === true || isMobileMenuOpen === true
  }"
>
  <a
    *ngFor="let option of mobileBottomNavOptions"
    class="bottom-nav-link"
    [attr.aria-label]="option.ariaLabel"
    href="{{ option.href }}"
    target="_blank"
    ><div style="max-height: initial">
      <div class="bottom-nav-link-content-wrapper">
        <div class="bottom-nav-link-image-wrapper">
          <img
            alt="{{ option.imageAlt }}"
            src="{{ option.image }}"
            style="width: 100%; height: 100%"
          />
        </div>
        {{ option.title }}
      </div>
    </div></a
  >
</div>
