<button class="mobile-menu-btn" (click)="isMobileMenuOpen = !isMobileMenuOpen">
  <span class="close-container" [ngClass]="isMobileMenuOpen ? 'open' : null">
    <span
      class="hamburger-icon-top"
      [ngClass]="isMobileMenuOpen ? 'open' : null"
    ></span>
    <span
      class="hamburger-icon-middle"
      [ngClass]="isMobileMenuOpen ? 'open' : null"
    ></span>
    <span
      class="hamburger-icon-bottom"
      [ngClass]="isMobileMenuOpen ? 'open' : null"
    ></span>
  </span>
</button>
