.get-in-touch-container {
  padding-top: 2rem;
  background-color: white;
}
.get-in-touch-container.medium {
  padding-top: 3rem;
}
.get-in-touch-wrapper {
  background-color: #e6f9fe;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.get-in-touch-wrapper.medium {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.get-in-touch-wrapper.large {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
  padding: 3rem 80px;
}
.get-in-touch-intro-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1.5rem;
}
.get-in-touch-intro-container.medium {
  /* margin-right: 0.75rem; */
  flex: 0 0 47%;
}
.get-in-touch-intro-container.large {
  margin-right: 3rem;
  flex: 0 0 46%;

}
.get-in-touch-left-container {
  display: block;
}
.get-in-touch-title-container {
  text-align: left;
}
.get-in-touch-title-wrapper {
  word-wrap: break-word;
}
.get-in-touch-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.get-in-touch-title.large {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.get-in-touch-description-container {
  text-align: left;
  color: #001928;
  font-weight: 300;
}
.get-in-touch-description-wrapper {
  word-wrap: break-word;
}
.get-in-touch-description {
  margin: 0;
}
.get-in-touch-button-list {
  text-align: left;
  list-style: none;
  position: relative;
  padding: 2rem 0 0 0;
}
.get-in-touch-button.active {
  background-color: #ffffff;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
  width: 100%;
  border: 0;
  border-radius: 52px;
  box-shadow: 0px 0px 1.25rem 5px rgba(19, 40, 71, 0.2);
  position: relative;
  font-size: 18px;
}
.get-in-touch-button-wrapper {
  display: flex;
  margin: 0;
  justify-content: left;
  font-size: 14px;
  color: #0075be;
  font-weight: 500;
  text-decoration: none;
  align-items: center;
  text-align: left;
  cursor: pointer;
  padding: 1rem 1.5rem;
}
.get-in-touch-button-image-container {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.get-in-touch-button-title {
  font-size: 1rem;
  font-weight: 700;
}
.get-in-touch-button-description {
  margin: 0;
}
.get-in-touch-button {
  background-color: transparent;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
  width: 100%;
  border: 2px solid #73c3eb;
  border-radius: 52px;
  box-shadow: none;
  position: relative;
  font-size: 18px;
}
.get-in-touch-button.large {
  width: 86%;
}
.get-in-touch-second-container {
  padding: 0 1.5rem;
  text-align: center;
}
.get-in-touch-second-container.medium {
  margin-left: 0.75rem;
  padding: 0;
}
.get-in-touch-tabpanel-container {
  text-align: left;
  margin: 0;
  opacity: 0;
  height: 0;
  padding-top: 0;
}
.get-in-touch-tabpanel-container.active {
  opacity: 1;
  height: auto;
}
.get-in-touch-tabpanel-wrapper {
  display: flex;
  flex-direction: column;
}
.get-in-touch-tabpanel-image-container {
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #001928;
}
.get-in-touch-tabpanel-image-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-in-touch-tabpanel-image-wrapper {
  text-align: center;
  margin-top: 3rem;
}
.get-in-touch-tabpanel-image-wrapper.medium {
  text-align: left;
  margin-top: 0;
}
.get-in-touch-content-container {
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #001928;
}
.get-in-touch-content-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-in-touch-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.get-in-touch-content-intro-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.get-in-touch-content-title-container {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.get-in-touch-content-title-wrapper {
  word-wrap: break-word;
}
.get-in-touch-content-title {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  color: #005587;
  line-height: 2rem;
}
.get-in-touch-content-description-container {
  box-sizing: border-box;
  width: 100%;
  color: #001928;
  font-weight: 300;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
.get-in-touch-branch-contact-link {
  font-size: 1rem;
  color: #0075be;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.get-in-touch-contact-number-container {
  padding: 0;
  padding-top: 1rem;
}
.get-in-touch-contact-number-link {
  font-size: 1rem;
  color: #0075be;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.get-in-touch-contact-number-text-container {
  display: flex;
  align-items: center;
}
