<div class="medium-hamburger-menu-container">
  <button
    class="medium-menu-btn"
    id="medium-menu-btn"
    (click)="handleMenuClick()"
  >
    <span class="close-container" [ngClass]="isMediumMenuOpen ? 'open' : null">
      <span
        class="hamburger-icon-top"
        [ngClass]="isMediumMenuOpen ? 'open' : null"
      ></span>
      <span
        class="hamburger-icon-middle"
        [ngClass]="isMediumMenuOpen ? 'open' : null"
      ></span>
      <span
        class="hamburger-icon-bottom"
        [ngClass]="isMediumMenuOpen ? 'open' : null"
      ></span>
    </span>
  </button>
  <app-medium-menu [innerNavbarOptions]="innerNavbarOptions"></app-medium-menu>
</div>
