<section class="featured-products-section">
  <!-- Title -->
  <div
    class="featured-products-title-container"
    [ngClass]="{
      medium: currentScreenSize === 'Medium',
      large: currentScreenSize === 'Large'
    }"
  >
    <div class="featured-products-title-wrapper">
      <h2
        class="featured-products-title"
        [ngClass]="{
          medium: currentScreenSize === 'Medium',
          large: currentScreenSize === 'Large'
        }"
      >
        Banking that's made for you
      </h2>
    </div>
  </div>
  <!-- Content -->
  <div class="featured-products-cards-container">
    <div class="featured-products-cards-wrapper">
      <!-- First card -->
      <div
        class="featured-products-card-container"
        [ngClass]="{
          'medium-left': currentScreenSize === 'Medium',
          'large-left': currentScreenSize === 'Large'
        }"
      >
        <!-- First card content -->
        <div class="featured-products-card-content-container">
          <!-- First card top banner -->
          <div class="featured-products-card-top-banner-container">
            <h3 class="featured-products-card-top-banner-title">
              Most Popular
            </h3>
          </div>
          <div
            class="featured-products-card-content-wrapper"
            [ngClass]="{
              large: currentScreenSize === 'Large'
            }"
          >
            <div class="featured-products-card-content-wrapper-inner">
              <div
                class="featured-products-first-card-content-title-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <a
                  aria-label="learn more about B M O Performance Chequing Account, opens in new tab"
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  target="_blank"
                  class="featured-products-first-card-content-title-wrapper"
                >
                  <span>
                    <span class="featured-products-first-card-content-title-one"
                      >Performance Chequing
                    </span>
                    <span
                      class="featured-products-first-card-content-title-two"
                    >
                      <span>Account</span>
                      <span
                        ><mat-icon aria-hidden="true"
                          >chevron_right</mat-icon
                        ></span
                      >
                    </span>
                  </span>
                </a>
              </div>
              <div
                class="featured-products-card-content-button-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <div>
                  <div>
                    <div>
                      <button
                        aria-label="open a performance plan account now, opens in new pop up"
                        aria-haspopup="false"
                        (click)="setOverlay(true)"
                        class="featured-products-card-content-button"
                      >
                        <span
                          class="featured-products-first-card-content-button-content-wrapper"
                        >
                          <mat-icon
                            aria-hidden="true"
                            style="margin-right: 0.5rem"
                            >lock_open</mat-icon
                          >
                          <span
                            *ngIf="
                              currentScreenSize === 'Medium' ||
                              currentScreenSize === 'Large'
                            "
                            >Open now</span
                          >
                          <!-- Show only when small screen -->
                          <span *ngIf="currentScreenSize === 'Small'"
                            >open in 7 minutes</span
                          >
                        </span>
                        <!-- Only for screen readers -->
                        <span class="screen-reader-only"
                          >a performance plan account</span
                        >
                      </button>
                    </div>
                  </div>
                  <!-- Overlay -->
                  <!-- https://stackoverflow.com/questions/44059714/close-modal-when-clicking-on-overlay-and-not-the-modal-it-self -->
                  <div
                    #cardOneOverlay
                    class="featured-products-first-card-content-overlay-container"
                    [ngClass]="showOverlay === true ? 'show' : null"
                    (click)="clickedOverlay($event)"
                  >
                    <div
                      role="dialog"
                      aria-modal="true"
                      class="featured-products-first-card-content-overlay-inner-container"
                      [ngClass]="{
                        show: showOverlay === true,
                        medium:
                          currentScreenSize === 'Medium' ||
                          currentScreenSize === 'Large'
                      }"
                    >
                      <button
                        aria-label="Close Accessible Modal"
                        (click)="setOverlay(false)"
                        class="featured-products-first-card-content-overlay-close-btn"
                      >
                        <span aria-hidden="true">x</span>
                      </button>
                      <div
                        class="featured-products-first-card-content-overlay-content-container"
                      >
                        <div
                          class="featured-products-first-card-content-overlay-content-title-container"
                        >
                          <h2
                            class="featured-products-first-card-content-overlay-content-title-wrapper"
                          >
                            <span
                              >Limited time offer! Get an exclusive 5.50%
                              interest rate</span
                            >
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#thirteen"
                              target="_blank"
                              aria-label="footnote *13, opens in a new tab."
                              rel="noopener"
                              class="featured-products-first-card-content-overlay-content-title-superscript-link"
                              ><sup class="superscript-no-font-weight"
                                >*13</sup
                              ></a
                            >
                            <span> on a Savings Amplifier Account.</span>
                          </h2>
                        </div>
                        <p
                          class="featured-products-first-card-content-overlay-content-description"
                        >
                          You're opening Performance Plan – good choice. Make it
                          even better and open a Savings Amplifier Account for
                          free!
                        </p>
                        <div
                          class="featured-products-first-card-content-overlay-content-product-container"
                        >
                          <div aria-hidden="true">
                            <img
                              src="/assets/svg/jar-with-money-inside.svg"
                              alt="jar with money inside"
                            />
                          </div>
                          <div
                            class="featured-products-first-card-content-overlay-content-product-title-container"
                          >
                            <span
                              class="featured-products-first-card-content-overlay-content-product-title"
                              >Savings Amplifier Account</span
                            >
                          </div>
                          <div>
                            <span
                              class="featured-products-first-card-content-overlay-content-promo-title"
                              >Promotional interest rate</span
                            >
                          </div>
                          <div
                            class="featured-products-first-card-content-overlay-content-promo-rate-container"
                          >
                            <span
                              class="featured-products-first-card-content-overlay-content-promo-rate"
                              >5.50%</span
                            >
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#thirteen"
                              target="_blank"
                              aria-label="footnote *13, opens in a new tab."
                              rel="noopener"
                              class="featured-products-first-card-content-overlay-content-promo-rate-link"
                              ><sup
                                class="featured-products-first-card-content-overlay-content-promo-rate-superscript"
                                >*13</sup
                              ></a
                            >
                          </div>
                        </div>
                        <div
                          class="featured-products-first-card-content-overlay-content-form-container"
                        >
                          <form>
                            <div
                              class="featured-products-first-card-content-overlay-content-form-terms-container"
                            >
                              <fieldset
                                class="featured-products-first-card-content-overlay-content-form-terms-wrapper"
                              >
                                <input
                                  type="checkbox"
                                  class="featured-products-first-card-content-overlay-content-form-terms-input"
                                />
                                <label
                                  class="featured-products-first-card-content-overlay-content-form-terms-label-wrapper"
                                >
                                  <div>
                                    <span
                                      class="featured-products-first-card-content-overlay-content-form-terms-label-text"
                                    >
                                      I’ve read and agree to the
                                      <a
                                        href="https://www.bmo.com/pdf/savings-amplifier-promotional-interest-rate-offer-en.pdf"
                                        target="_blank"
                                        class="featured-products-first-card-content-overlay-content-form-terms-label-text-link"
                                        >Terms and Conditions</a
                                      >
                                    </span>
                                  </div>
                                </label>
                                <!-- @TODO: use css to show message, set false for now -->
                                <span
                                  *ngIf="false"
                                  aria-live="assertive"
                                  class="featured-products-first-card-content-overlay-content-form-terms-error-message"
                                  >Please accept the Terms and Conditions to
                                  proceed with your application.</span
                                >
                              </fieldset>
                            </div>
                            <div
                              class="featured-products-first-card-content-overlay-content-form-terms-button-container"
                            >
                              <div
                                class="featured-products-first-card-content-overlay-content-form-terms-button-wrapper"
                              >
                                <button
                                  role="button"
                                  type="submit"
                                  aria-haspopup="false"
                                  class="featured-products-first-card-content-overlay-content-form-terms-button"
                                >
                                  yes add and continue
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div
                          class="featured-products-first-card-content-overlay-content-reject-container"
                        >
                          <a
                            href="https://www.bmo.com/main/personal/bank-accounts/getting-started/?rg=BMO&spc=6109010&ofid=EQPCOPCMP00&lang=en"
                            rel="noopener"
                            class="featured-products-first-card-content-overlay-content-reject-link"
                            >No, I don’t want to add a Savings Amplifier
                            Account</a
                          >
                        </div>
                      </div>
                      <!-- For screen readers only -->
                      <span tabindex="0" class="screen-reader-only"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="featured-products-first-card-content-button-caption-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <div
                  class="featured-products-first-card-content-button-first-caption-container"
                >
                  <strong class="featured-products-font-weight-large"
                    >$16.95 per month</strong
                  >
                </div>
                <div
                  class="featured-products-first-card-content-button-two-caption-container"
                >
                  <strong style="line-height: 1.5rem; font-weight: 300">
                    <strong class="featured-products-font-weight-large"
                      >or $0 with min. $4,000 balance</strong
                    >
                    <a
                      href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#four"
                      target="_blank"
                      aria-label="star 4 learn more about B M O Bank Plan fees, opens in new tab"
                      class="featured-products-first-card-content-button-two-caption-link"
                    >
                      <!-- For screen readers only -->
                      <span class="screen-reader-only">footnote</span>
                      <sup class="featured-products-card-content-button-two-sup"
                        >*4</sup
                      >
                    </a>
                  </strong>
                </div>
              </div>
              <div class="featured-products-card-line"></div>
              <ul
                class="featured-products-first-card-list-container"
                [ngClass]="{
                  medium: currentScreenSize === 'Medium',
                  large: currentScreenSize === 'Large'
                }"
              >
                <li class="featured-products-first-card-list-li">
                  <div
                    class="featured-products-first-card-list-content-wrapper"
                  >
                    <div
                      class="featured-products-first-card-list-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-first-card-list-content">
                      <div>
                        <div>
                          <span
                            class="featured-products-first-card-list-content-text-wrapper"
                          >
                            <strong class="featured-products-font-weight-large"
                              >Unlimited transactions</strong
                            >
                            per month
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#fiftytwo"
                              target="_blank"
                              aria-label="star 52 learn more about monthly transactions, opens in new tab"
                              class="featured-products-first-card-content-button-two-caption-link"
                            >
                              <span class="screen-reader-only"></span>
                              <sup
                                class="featured-products-card-content-button-two-sup"
                                >*52</sup
                              >
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="featured-products-first-card-list-li">
                  <div
                    class="featured-products-first-card-list-content-wrapper"
                  >
                    <div
                      class="featured-products-first-card-list-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-first-card-list-content">
                      <div>
                        <div>
                          <span
                            class="featured-products-first-card-list-content-text-wrapper"
                          >
                            <abbr>BMO </abbr>
                            Family Bundle -
                            <strong class="featured-products-font-weight-large"
                              >no-fee daily banking</strong
                            >
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#ninety"
                              target="_blank"
                              aria-label="star 90 learn more about B M O Family bundle, opens in new tab"
                              class="featured-products-first-card-content-button-two-caption-link"
                            >
                              <span class="screen-reader-only">footnote</span>
                              <sup
                                class="featured-products-card-content-button-two-sup"
                              >
                                *90</sup
                              >
                            </a>
                            for your family
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="featured-products-first-card-list-li">
                  <div
                    class="featured-products-first-card-list-content-wrapper"
                  >
                    <div
                      class="featured-products-first-card-list-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-first-card-list-content">
                      <div>
                        <div>
                          <span
                            class="featured-products-first-card-list-content-text-wrapper"
                          >
                            <strong class="featured-products-font-weight-large"
                              >Up to $40 rebate</strong
                            >
                            on annual fee for eligible credit cards
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#fifteen"
                              target="_blank"
                              aria-label="star 15 learn more about credit card fees, opens in new tab"
                              class="featured-products-first-card-content-button-two-caption-link"
                            >
                              <span class="screen-reader-only">footnote</span>
                              <sup
                                class="featured-products-card-content-button-two-sup"
                              >
                                *15</sup
                              >
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="featured-products-first-card-list-li">
                  <div
                    class="featured-products-first-card-list-content-wrapper"
                  >
                    <div
                      class="featured-products-first-card-list-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-first-card-list-content">
                      <div>
                        <div>
                          <span
                            class="featured-products-first-card-list-content-text-wrapper"
                          >
                            <strong class="featured-products-font-weight-large"
                              >OnGuard<sup>®</sup> Identity Theft Protection at
                              no cost</strong
                            >
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#seventyfour"
                              target="_blank"
                              aria-label="star 74 learn more about On Guard Identify theft protection"
                              class="featured-products-first-card-content-button-two-caption-link"
                            >
                              <span class="screen-reader-only">footnote</span>
                              <sup
                                class="featured-products-card-content-button-two-sup"
                              >
                                *74</sup
                              >
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div
                class="featured-products-first-card-learn-more-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <a
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  aria-label="learn more about B M O Performance Chequing account, opens in new tab"
                  target="_blank"
                  class="featured-products-card-learn-more-link"
                >
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- First card bottom button -->
        <div
          class="featured-products-first-card-explore-container"
          [ngClass]="{
            medium: currentScreenSize === 'Medium'
          }"
        >
          <a
            href="https://www.bmo.com/main/personal/bank-accounts/chequing-accounts/"
            aria-label="learn more about B M O chequing accounts, opens in new tab"
            target="_blank"
            class="featured-products-card-explore-link"
          >
            <span class="featured-products-card-explore-link-text">
              <span>Explore Chequing Accounts</span>
            </span>
          </a>
        </div>
      </div>
      <!-- Second card -->
      <div
        class="featured-products-card-container"
        [ngClass]="{
          'medium-right': currentScreenSize === 'Medium',
          'large-right': currentScreenSize === 'Large'
        }"
      >
        <!-- Second card content -->
        <div class="featured-products-card-content-container">
          <div class="featured-products-card-top-banner-container">
            <h3 class="featured-products-card-top-banner-title">
              Most Benefits
            </h3>
            <span class="featured-products-card-top-banner-new">New</span>
          </div>
          <div
            class="featured-products-card-content-wrapper"
            [ngClass]="{ large: currentScreenSize === 'Large' }"
          >
            <div style="text-align: center">
              <div
                class="featured-products-second-card-title-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <a
                  href="https://www.bmo.com/main/personal/bank-accounts/savings-accounts/savings-amplifier/"
                  aria-label="star 26 learn more about B M O Savings Amplifier account, opens in new tab"
                  target="_target"
                  class="featured-products-second-card-content-link"
                >
                  <span>
                    <span
                      class="featured-products-second-card-content-title-one"
                      >Saving Amplifier</span
                    >
                    <span
                      class="featured-products-second-card-content-title-two-wrapper"
                      ><span
                        class="featured-products-second-card-content-title-two"
                        >Account</span
                      ><mat-icon aria-hidden="true"
                        >chevron_right</mat-icon
                      ></span
                    >
                  </span>
                </a>
                <a
                  href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#twentysix"
                  aria-label="star 26 learn more about B M O Savings Amplifier account, opens in new tab"
                  target="_blank"
                  class="featured-products-second-card-content-link"
                >
                  <sup class="featured-products-card-content-button-two-sup"
                    >*26</sup
                  >
                </a>
              </div>
              <div
                class="featured-products-card-content-button-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <div>
                  <a
                    href="https://www.bmo.com/main/personal/bank-accounts/getting-started/?rg=BMO&spc=7880184&ofid=SAASTAND001&lang=en"
                    aria-label="open a B M O Savings Amplifier account, opens in new tab"
                    target="_blank"
                    class="featured-products-card-content-button"
                  >
                    <span
                      class="featured-products-second-card-content-button-wrapper"
                    >
                      <mat-icon aria-hidden="true">lock_open</mat-icon
                      ><span
                        class="featured-products-second-card-content-button-text"
                        >Open now</span
                      ></span
                    >
                  </a>
                </div>
              </div>
              <div
                class="featured-products-second-card-button-caption-container"
                [ngClass]="{
                  medium:
                    currentScreenSize === 'Medium' ||
                    currentScreenSize === 'Large'
                }"
              >
                <span class="featured-products-second-card-button-caption"
                  >1.900% interest rate</span
                >
                <a
                  href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#twelve"
                  aria-label="star 12 learn about B M O interest rates, opens in new tab"
                  target="_blank"
                  rel="noopener"
                  class="featured-products-second-card-button-caption-link"
                >
                  <sup class="featured-products-card-content-button-two-sup"
                    >*12</sup
                  >
                </a>
              </div>
              <div class="featured-products-card-line"></div>
              <ul
                class="featured-products-second-card-list-container"
                [ngClass]="{
                  medium: currentScreenSize === 'Medium',
                  large: currentScreenSize === 'Large'
                }"
              >
                <li class="featured-products-second-card-list-li">
                  <div
                    class="featured-products-second-card-list-li-content-container"
                  >
                    <div
                      class="featured-products-second-card-list-li-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-second-card-list-li-content">
                      <span
                        class="featured-products-second-card-list-li-content-text"
                        ><strong>Unlimited no fee self-serve transfers</strong>
                        to your other
                        <abbr
                          class="featured-products-second-card-list-li-content-abbr"
                          >BMO</abbr
                        >
                        accounts</span
                      >
                      <a
                        aria-label="star 99 learn more about B M O fees, opens in new tab"
                        target="_blank"
                        href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#ninetynine"
                        class="featured-products-second-card-content-link"
                      >
                        <sup
                          class="featured-products-card-content-button-two-sup"
                        >
                          <span class="screen-reader-only"></span>*99
                        </sup>
                      </a>
                      <span
                        class="featured-products-second-card-list-li-content-text"
                      >
                        including mobile and online transfers, and
                        <abbr>ATM</abbr>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="featured-products-second-card-list-li">
                  <div
                    class="featured-products-second-card-list-li-content-container"
                  >
                    <div
                      class="featured-products-second-card-list-li-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-second-card-list-li-content">
                      <span
                        class="featured-products-second-card-list-li-content-text"
                        ><strong>No monthly fee</strong>
                        or
                        <strong> minimum balance</strong>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="featured-products-second-card-list-li">
                  <div
                    class="featured-products-second-card-list-li-content-container"
                  >
                    <div
                      class="featured-products-second-card-list-li-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true" style="color: #0075be"
                        >check</mat-icon
                      >
                    </div>
                    <div class="featured-products-second-card-list-li-content">
                      <span
                        class="featured-products-second-card-list-li-content-text"
                      >
                        Benefit from a competitive interest rate and
                        <strong>earn money back when you save</strong>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <div
                class="featured-products-second-card-learn-more-container"
                [ngClass]="{
                  medium: currentScreenSize === 'Medium',
                  large: currentScreenSize === 'Large'
                }"
              >
                <a
                  href="https://www.bmo.com/main/personal/bank-accounts/savings-accounts/savings-amplifier/"
                  aria-label="learn more about B M O Savings Amplifier account, opens in the same window"
                  target="_blank"
                  class="featured-products-card-learn-more-link"
                  ><span>Learn More</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Second card bottom button -->
        <div style="padding-top: 1.5rem; text-align: center">
          <a
            href="https://www.bmo.com/main/personal/bank-accounts/savings-accounts/"
            aria-label="learn more about B M O saving accounts, opens in new tab"
            target="_blank"
            class="featured-products-card-explore-link"
            ><span class="featured-products-card-explore-link-text">
              <span>Explore savings accounts</span>
            </span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
