.navbar-container {
  padding-top: 16px;
}
.navbar-inner-container.medium {
  border-bottom: 1px solid #d9dce1;
}
.navbar-inner-container.large {
  border-bottom: 1px solid #d9dce1;
}

.navbar-content-container {
  margin: 0 16px;
}
.navbar-content-container.large {
  max-width: 1023px;
  margin: 0 auto;
}
.navbar-icon {
  margin-bottom: 16px;
}
