<section class="hero-section">
  <div class="image-container">
    <img
      src="assets/images/personal-hero-banner-one.jpg"
      alt="Hero banner"
      style="width: 100%; border-radius: 1rem"
    />
  </div>
  <div class="hero-description-container">
    <p class="description-title">
      Get up to $1200<a
        href="https://www.bmo.com/pdf/edb-total-value/terms-and-conditions.pdf"
        target="_blank"
        class="subscript"
        ><sup>§</sup></a
      >
      in value
    </p>
    <p class="description">
      Feel good about your savings progress. This includes a 5% promo interest
      rate** when you open a chequing and a Savings Amplifier Account.
    </p>
    <a
      href="https://www.bmo.com/main/personal/bank-accounts/new-bank-account-offers-and-promotions/?icid=ba-FEAT1907EDB4-AMBMO14"
      target="_target"
      class="btn"
      aria-label="Learn more details about this limited time offer"
    >
      LEARN MORE
    </a>
  </div>
</section>
