<section
  class="get-started-section"
  [ngClass]="{ large: currentScreenSize === 'Large' }"
>
  <div class="get-started-container">
    <div
      class="get-started-title-required-container"
      [ngClass]="{
        large: currentScreenSize === 'Large'
      }"
    >
      <div>
        <h1
          class="get-started-title-text"
          [ngClass]="{
            large: currentScreenSize === 'Large'
          }"
        >
          Let's get started!
        </h1>
        <p class="get-started-title-description-text">
          Easily open a BMO account online in about 7 minutes. Here’s what
          you’ll need to speed up your application:
        </p>
      </div>
      <div
        class="get-started-title-required-container"
        [ngClass]="{
          large: currentScreenSize === 'Large'
        }"
      >
        <div>
          <ul class="get-started-required-ul">
            <li class="get-started-required-list-item">
              <div class="get-started-required-list-content-container">
                <div>
                  <mat-icon
                    aria-hidden="true"
                    class="get-started-checkmark-icon"
                    >check</mat-icon
                  >
                </div>
                <div>
                  <div
                    class="get-started-required-item-title-container"
                    [ngClass]="{
                      large: currentScreenSize === 'Large'
                    }"
                  >
                    <span class="get-started-required-item-title-text"
                      >Social Insurance Number (SIN)</span
                    >
                  </div>
                  <div>
                    <span class="get-started-title-description-text"
                      >We need to check with the </span
                    ><button
                      aria-label="information tooltip, credit bureau, opens in pop up"
                      class="get-started-credit-bureau-btn"
                    >
                      credit bureau
                    </button>
                    <span class="get-started-title-description-text">
                      to make sure you are you.</span
                    >
                  </div>
                </div>
              </div>
            </li>
            <li class="get-started-required-list-item">
              <div class="get-started-required-list-content-container">
                <mat-icon aria-hidden="true" class="get-started-checkmark-icon"
                  >check</mat-icon
                >
                <div>
                  <span class="get-started-required-item-title-text"
                    >You’ll need a Canadian Address</span
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="get-started-caption-container"
          [ngClass]="{
            large: currentScreenSize === 'Large'
          }"
        >
          <span class="get-started-caption-text"
            >Your privacy is important to us. To learn more about how we
            collect, use and safeguard your personal information, your choices,
            and the rights you have, view our
            <a
              target="_blank"
              aria-label="privacy code, opens in new tab."
              href="https://www.bmo.com/main/about-bmo/privacy-security/our-privacy-code/"
              rel="noopener"
              class="get-started-privacy-link"
              >Privacy code</a
            >.
          </span>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div class="get-started-customer-title-container">
            <h3 class="get-started-customer-title-text">
              Already a BMO customer with a debit card?
            </h3>
          </div>

          <div class="get-started-customer-btn-container">
            <div>
              <p class="get-started-title-description-text">Yes, I am!</p>
              <button
                aria-label="Sign in to b m o to open an account"
                class="get-started-customer-sign-in-btn"
              >
                Sign in to open
              </button>
            </div>
            <div>
              <p class="get-started-title-description-text">No, not yet</p>
              <a
                target="_blank"
                aria-label="apply online to open an account now"
                class="get-started-apply-now-link"
              >
                Apply Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="get-start-bottom-container">
      <div>
        <div>
          <span class="get-start-bottom-captions-text"
            >By continuing with your application, you’ve considered the features
            of the account and/or plan selected and it is appropriate for your
            everyday banking needs. Our Everyday Banking Plans, Discounted
            Banking Programs, and account features can be found on
          </span>
          <a
            target="_blank"
            aria-label="Access the B M O Banking webpage, opens in a new tab"
            href="https://www.bmo.com/main/personal/bank-accounts/"
            rel="noopener"
            class="get-start-bottom-caption-link"
            >bmo.com/banking</a
          >
          <span class="get-start-bottom-captions-text"
            >. If you need help finding an appropriate plan, check out our
          </span>
          <a
            target="_blank"
            aria-label="Access the Help Me Choose tool, opens in a new tab."
            href="https://www.bmo.com/main/personal/bank-accounts/#help-me-choose"
            rel="noopener"
            class="get-start-bottom-caption-link"
            >Help Me Choose</a
          >
          <span class="get-start-bottom-captions-text"> tool.</span>
        </div>
      </div>
    </div>
  </div>
</section>
