<div
  [ngClass]="
    isCountrySelectMenuOpen
      ? 'country-select-container open'
      : 'country-select-container'
  "
  (click)="handleCountrySelectMenuClick($event)"
  (keydown.Space)="handleCountrySelectMenuClick($event)"
  (keydown.enter)="handleCountrySelectMenuClick($event)"
>
  <label class="country-select-label" id="country-selector-dropdown-label"
    >Country Selector</label
  >
  <div
    class="country-select-inner-container"
    [attr.aria-expanded]="isCountrySelectMenuOpen"
    aria-controls="country-selector-dropdown-list"
    aria-haspopup="listbox"
    aria-labelledby="country-selector-dropdown-label"
    role="combobox"
    [attr.aria-activedescendant]="ariaActiveDescendent"
    tabindex="0"
  >
    <mat-icon
      [ngClass]="
        isCountrySelectMenuOpen
          ? 'country-select-icon open'
          : 'country-select-icon'
      "
      aria-hidden="true"
      >expand_more</mat-icon
    >
    <div class="country-select-image-container">
      <span class="country-select-image-wrapper"
        ><img
          alt="Canada flag"
          height="25"
          width="25"
          src="assets/svg/flag-canada.svg" /></span
      ><span><span></span></span>
    </div>
  </div>
  <div
    *ngIf="isCountrySelectMenuOpen"
    [ngClass]="
      isCountrySelectMenuOpen
        ? 'country-select-dropdown-list open'
        : 'country-select-dropdown-list'
    "
  >
    <div
      *ngFor="
        let countryOption of countryOptions;
        let i = index;
        let last = last
      "
      class="country-select-option"
      role="listbox"
      id="country-selector-dropdown-list"
      aria-labelledby="country-selector-dropdown-label"
      tabindex="-1"
    >
      <div
        role="option"
        id="{{ 'country_selector_' + i }}"
        aria-selected="true"
        aria-disabled="true"
        tabindex="0"
        (focus)="optionOnFocus(i)"
      >
        <div class="country-select-option-wrapper">
          <span class="country-select-icon-wrapper"
            ><img src="{{ countryOption.icon }}" alt="" width="25" height="25"
          /></span>
          <span>{{ countryOption.country }}</span>
        </div>
      </div>
      <button
        *ngIf="last"
        (focus)="handleCountrySelectMenuClick($event)"
        class="country-select-option-last-option"
      ></button>
    </div>
  </div>
</div>
