<div>
  <span>Chequing Account with Performance Plan</span>
  <!-- Form -->
  <div>
    <div>
      <h1>Let's get started</h1>
      <p>Please enter your full legal name</p>
      <div>
        <div>
          <label
            for="name-block-first-name-element"
            id="name-block-first-name-label"
            >First name/Given name</label
          >
          <input id="name-block-first-name-element" />
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <!-- Form button -->
  <div></div>
</div>
