.online-banking-main {
  margin-top: 67px;
  background-color: #f5f6f7;
  height: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}
.online-banking-main.large {
  margin-top: 115px;
}
.content-wrapper.large {
  height: 100%;
}
.content-container {
  margin-left: 300px;
  padding: 0.5rem 1.5rem;
}
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #005587;
}

.inner-content-container {
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.inner-content-paragraph {
  color: rgb(128, 128, 128);
  margin: 2rem 0;
}
.select-account-container {
  padding: 0.4rem 0;
}
.select-account-form-field {
  width: 70%;
}
.amount-input-container {
  padding: 0.5rem 0;
}
