<main
  class="online-banking-main"
  [ngClass]="{ large: currentScreenSize === 'Large' }"
>
  <div
    class="content-wrapper"
    [ngClass]="{
      large: currentScreenSize === 'Large'
    }"
  >
    <div *ngIf="currentScreenSize === 'Large'">
      <app-side-nav></app-side-nav>
    </div>
    <div
      class="content-container"
      [ngClass]="{
        large: currentScreenSize === 'Large'
      }"
    >
      <h1 class="main-title">Account transfers</h1>
      <div>
        <mat-tab-group
          animationDuration="0ms"
          mat-stretch-tabs="false"
          mat-align-tabs="start"
        >
          <mat-tab label="Make a transfer"></mat-tab>
          <mat-tab label="Transfer Activity"></mat-tab>
        </mat-tab-group>
      </div>
      <div class="inner-content-container">
        <div>
          <h3>Your transfer details</h3>
        </div>
        <div>
          <p class="inner-content-paragraph">
            All fields are required unless we've marked them (optional)
          </p>
        </div>
        <div>
          <div class="select-account-container">
            <mat-form-field
              class="select-account-form-field"
              [ngClass]="{
                large: currentScreenSize === 'Large'
              }"
              aria-label="Choose which account funds would be taken out of"
            >
              <mat-label>From: Choose an account</mat-label>
              <mat-select [(value)]="fromAccount">
                <mat-option
                  *ngFor="let userAccount of userAccounts"
                  [value]="userAccount.AccountNumber"
                >
                  {{ userAccount.AccountType }}({{ userAccount.AccountNumber }})
                  {{ userAccount.Amount | currency }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            Selected option: {{ fromAccount }}
          </div>
          <div class="select-account-container">
            <mat-form-field
              class="select-account-form-field"
              [ngClass]="{
                large: currentScreenSize === 'Large'
              }"
              aria-label="Choose which account funds will deposited into"
            >
              <mat-label>To: Choose an account</mat-label>
              <mat-select [(value)]="toAccount">
                <mat-option
                  *ngFor="let userAccount of userAccounts"
                  [value]="userAccount.AccountNumber"
                >
                  {{ userAccount.AccountType }}({{ userAccount.AccountNumber }})
                  {{ userAccount.Amount | currency }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            Selected option: {{ toAccount }}
          </div>
          <div class="amount-input-container">
            <mat-form-field>
              <mat-label>Amount</mat-label>
              <input matInput type="textbox" appTwoDigitDecimalNumber />
              <mat-hint>Format: 0.00</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <h5 class="transfer-type-title">Choose a transfer type</h5>
            <mat-button-toggle-group
              name="transferType"
              aria-label="Choose a transfer type"
            >
              <mat-button-toggle value="one-time">One-time</mat-button-toggle>
              <mat-button-toggle value="recurring">Recurring</mat-button-toggle>
              <mat-button-toggle value="custom">Custom</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div>
          <h5 class="date-picker-title">Date</h5>
          <mat-form-field
            class="date-picker"
            [ngClass]="{
              large: currentScreenSize === 'Large'
            }"
          >
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          class="continue-btn-container"
          [ngClass]="{
            large: currentScreenSize === 'Large'
          }"
        >
          <button mat-flat-button class="continue-btn">Continue</button>
        </div>
      </div>
    </div>
  </div>
</main>
