<main
  class="online-banking-main"
  [ngClass]="{ large: currentScreenSize === 'Large' }"
>
  <div
    class="content-wrapper"
    [ngClass]="{
      large: currentScreenSize === 'Large'
    }"
  >
    <app-side-nav></app-side-nav>
    <div class="content-container">
      <h1>Account transfers</h1>
      <div>
        <mat-tab-group
          animationDuration="0ms"
          mat-stretch-tabs="false"
          mat-align-tabs="start"
        >
          <mat-tab label="Make a transfer"></mat-tab>
          <mat-tab label="Transfer Activity"></mat-tab>
        </mat-tab-group>
      </div>
      <div class="inner-content-container">
        <div>
          <h3>Your transfer details</h3>
        </div>
        <div>
          <p class="inner-content-paragraph">
            All fields are required unless we've marked them (optional)
          </p>
        </div>
        <div>
          <div class="select-account-container">
            <mat-form-field
              class="select-account-form-field"
              aria-label="Choose which account funds would be taken out of"
            >
              <mat-label>From: Choose an account</mat-label>
              <mat-select>
                <mat-option>First option</mat-option>
                <mat-option>Second option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="select-account-container">
            <mat-form-field
              class="select-account-form-field"
              aria-label="Choose which account funds will deposited into"
            >
              <mat-label>To: Choose an account</mat-label>
              <mat-select>
                <mat-option>First option</mat-option>
                <mat-option>Second option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="amount-input-container">
            <mat-form-field>
              <mat-label>Amount</mat-label>
              <input matInput />
              <mat-hint>Format: 0.00</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <h5>Choose a transfer type</h5>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="one-time">One-time</mat-button-toggle>
              <mat-button-toggle value="one-time">Recurring</mat-button-toggle>
              <mat-button-toggle value="one-time">Custom</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div>
          <button mat-flat-button>Continue</button>
        </div>
      </div>
    </div>
  </div>
</main>
