.online-banking-main {
  margin-top: 67px;
  background-color: #f5f6f7;
  height: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}
.online-banking-main.large {
  margin-top: 115px;
}
.content-wrapper.large {
  height: 100%;
}
.content-container {
  margin-left: 0;
  padding: 0.5rem 0.5rem;
  padding-bottom: 10rem;
}
.content-container.large {
  margin-left: 300px;
  padding: 0.5rem 1.5rem;
}

.main-title {
  font-size: 1.2rem;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #005587;
}
.inner-content-container {
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.inner-content-paragraph {
  color: rgb(128, 128, 128);
  margin: 2rem 0;
}
.select-account-container {
  padding: 0.4rem 0;
  margin-bottom: 1rem;
}
.select-account-form-field {
  width: 100%;
}
.select-account-form-field.large {
  width: 70%;
}
.matching-account-warning {
  color: red;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.amount-input-container {
  padding: 0.5rem 0;
}
.transfer-type-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.date-picker-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.date-picker {
  width: 100%;
}
.date-picker.large {
  width: 50%;
}
.continue-btn-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.continue-btn-container.large {
  justify-content: flex-end;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #005587;
}
.mat-mdc-unelevated-button:not(:disabled) {
  color: white;
}
