.footer-container {
  background-color: #ffffff;
}
.footer-inner-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 16px;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
}
.footer-links-container.medium {
  display: flex;
  flex-direction: row;
}
.footer-links-container.large {
  display: flex;
  flex-direction: row;
}
.footer-a-link {
  display: inline-flex;
  margin-right: 16px;
  color: #0075be;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 2.4rem;
  cursor: pointer;
}
