<div class="footer-container">
  <div class="footer-inner-container">
    <div>
      <img src="assets/svg/bmo-logo.svg" alt="B M O logo" aria-hidden="true" />
    </div>

    <div
      class="footer-links-container"
      [ngClass]="{
        medium: currentScreenSize === 'Medium',
        large: currentScreenSize === 'Large'
      }"
    >
      <div>
        <a
          href="https://www.bmo.com/main/about-bmo/privacy-security/our-privacy-code/"
          target="_blank"
          aria-label="Click to read B M O Privacy Code, link opens in new tab"
          class="footer-a-link"
          >Privacy policy</a
        >
        <a
          href="https://www.bmo.com/main/personal/legal/"
          aria-label="Click to read B M O terms of use, link opens in new tab"
          target="_blank"
          class="footer-a-link"
          >Legal</a
        >
        <a
          href="https://www.bmo.com/en-ca/main/personal/security-centre/"
          aria-label="Click to read B M O security, link opens in new tab"
          target="_blank"
          class="footer-a-link"
          >Security</a
        >
        <a
          href="https://www.bmo.com/pdf/CDIC-ProtectingYourDeposits.pdf"
          aria-label="Click to read C D I C deposit protection, link opens in new tab"
          target="_blank"
          class="footer-a-link"
          >CDIC member</a
        >
      </div>
      <div>
        <span class="footer-a-link"
          >Contact us: &nbsp;
          <span>
            <a
              href="https://www.bmo.com/open-account/tel:18772255266"
              aria-label="click to contact us at 18772255266, link opens in new tab"
              class="footer-a-link"
              target="_blank"
            >
              1-877-225-5266</a
            >
          </span></span
        >
      </div>
    </div>
  </div>
</div>
