.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  outline: 0 !important;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.not-found-section {
  margin: 60px 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-section.medium {
  padding: 0 45px;
}
.not-found-title {
  margin: 30px 0;
  text-align: center;
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 26px;
  letter-spacing: 0.1rem;
}
.not-found-description-text {
  margin: 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1rem;
}
.not-found-button-container {
  margin-top: 30px;
  text-align: center;
  display: flex;
}
.not-found-button-primary {
  background-color: #0075be;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  padding: 0 30px;
  border: 2px solid #0075be;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}
.not-found-button-primary:hover {
  border-color: #1a4d78;
  background-color: #1a4d78;
  color: #ffffff;
}
.not-found-ul-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}
.not-found-ul-container.medium {
  flex-direction: row;
}

.not-found-ul-container.medium li:not(:first-child) {
  margin-left: 30px;
}
.not-found-li-container {
  margin-top: 1rem;
}
.not-found-li-link {
  color: #0075be;
  line-height: 1.3em;
  font-size: 16px;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.not-found-li-link:hover {
  text-decoration: underline;
}
