<div class="signin-btn-container">
  <button
    aria-label="Toggle sign in menu navigation"
    [attr.aria-expanded]="isMobileSignInMenuOpen"
    class="signin-btn"
    (click)="handleSignInMenuClick()"
    id="signin-btn"
  >
    <span *ngIf="isMobileSignInMenuOpen">
      <mat-icon aria-hidden="true">close</mat-icon><span>Close</span></span
    >
    <span *ngIf="!isMobileSignInMenuOpen"
      ><mat-icon aria-hidden="true">lock_open</mat-icon
      ><span>Sign In</span></span
    >
  </button>
  <div
    #MobileSigninMenuContainer
    class="mobile-signin-btn-menu-container"
    [ngClass]="isMobileSignInMenuOpen ? 'open' : null"
  >
    <div class="mobile-signin-btn-menu-inner-container">
      <div class="mobile-online-banking-signin-container">
        <a
          aria-label="Access online banking"
          class="online-banking-signin-link"
          href="https://mobile2.bmo.com/BMOMobile/BMOMobileBanking.html#/login/auth"
          target="_blank"
          tabindex="0"
        >
          <div>Online Banking</div>
          <mat-icon aria-hidden="true">chevron_right</mat-icon>
        </a>
      </div>
      <div class="mobile-signin-register-container">
        <span class="mobile-signin-register-wrapper"
          ><p>
            Register for online banking with a
            <a
              class="mobile-signin-register-link"
              href="https://www1.bmo.com/selfreg/#/step0"
              target="_blank"
              >BMO Debit Card</a
            >
            or
          </p>
          <p>
            <a
              class="mobile-signin-register-link"
              href="https://www.bmo.com/online/creditcards/registration/?lang=en"
              target="_blank"
              >Credit Card</a
            >
          </p></span
        >
      </div>
      <ul role="list" class="mobile-signin-dropdown-menu">
        <li *ngFor="let options of signInMenuOptions" role="listitem">
          <a
            class="mobile-signin-dropdown-link"
            [attr.aria-label]="options.ariaLabel"
            href="{{ options.link }}"
            target="_blank"
            ><div>{{ options.title }}</div></a
          >
        </li>
      </ul>
      <app-mobile-bottom-navigation></app-mobile-bottom-navigation>
      <button
        (focus)="backToSignInBtn()"
        aria-hidden="true"
        class="mobile-signin-back-to-signin-btn"
      ></button>
    </div>
  </div>
</div>
