<section class="get-in-touch-container">
  <div class="get-in-touch-wrapper">
    <div class="get-in-touch-intro-container">
      <div class="get-in-touch-left-container">
        <div>
          <div class="get-in-touch-title-container">
            <span class="get-in-touch-title-wrapper"
              ><h2 class="get-in-touch-title">
                <span role="text">Ready to get started? Get in touch</span>
              </h2></span
            >
          </div>
          <div class="get-in-touch-description-container">
            <span class="get-in-touch-description-wrapper"
              ><p class="get-in-touch-description">
                <span role="text"
                  ><span
                    >Select your annual revenue to find the best way to get
                    personalized help.</span
                  ></span
                >
              </p></span
            >
          </div>
        </div>
      </div>
      <div role="tablist" class="get-in-touch-button-list">
        <button
          #tabButton
          id="{{ 'tabButton-' + i }}"
          *ngFor="let buttonData of buttonsData; let i = index"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          (click)="handleButtonClick(i)"
          class="get-in-touch-button"
        >
          <span aria-current="false" class="get-in-touch-button-wrapper">
            <span class="get-in-touch-button-image-container">
              <img
                src="{{ buttonData.imageSrc }}"
                alt="{{ buttonData.imageAlt }}"
              />
            </span>
            <span>
              <strong class="get-in-touch-button-title">{{
                buttonData.title
              }}</strong>
              <p class="get-in-touch-button-description">
                {{ buttonData.titleParagraph }}
              </p>
            </span>
          </span>
        </button>
      </div>
    </div>
    <div
      *ngFor="let buttonContent of buttonsDisplayContents; let i = index"
      class="get-in-touch-second-container"
    >
      <!-- Tabpanels -->
      <!-- @TODO change ngIf to ngClass -->
      <div
        role="tabpanel"
        *ngIf="i == selectedButton"
        class="get-in-touch-tabpanel-container"
      >
        <div class="get-in-touch-tabpanel-wrapper">
          <!-- Image -->
          <div class="get-in-touch-tabpanel-image-container">
            <div class="get-in-touch-tabpanel-image-inner-container">
              <div class="get-in-touch-tabpanel-image-wrapper">
                <img
                  src="{{ buttonContent.imageSrc }}"
                  alt="{{ buttonContent.imageAlt }}"
                />
              </div>
            </div>
          </div>
          <!-- Content -->
          <div class="get-in-touch-content-container">
            <div class="get-in-touch-content-inner-container">
              <div class="get-in-touch-content-wrapper">
                <div class="get-in-touch-content-intro-container">
                  <div class="get-in-touch-content-title-container">
                    <span class="get-in-touch-content-title-wrapper"
                      ><h3 class="get-in-touch-content-title">
                        <span role="text">
                          <span>{{ buttonContent.title }}</span>
                        </span>
                      </h3></span
                    >
                  </div>
                  <div class="get-in-touch-content-description-container">
                    <span>
                      <p style="margin: 0; padding: 0">
                        <span role="text">
                          <span>{{ buttonContent.description }}</span>
                        </span>
                      </p>
                    </span>
                  </div>
                </div>
                <div>
                  <a
                    [attr.aria-label]="buttonContent.contactBranchAriaLabel"
                    href="{{ buttonContent.contactBranchHref }}"
                    target="_blank"
                    style="
                      font-size: 1rem;
                      color: #0075be;
                      font-weight: 700;
                      text-transform: uppercase;
                      text-decoration: none;
                      display: inline-flex;
                      align-items: center;
                      gap: 4px;
                    "
                  >
                    <div>Book an appointment</div>
                    <mat-icon aria-hidden="true">chevron_right</mat-icon>
                  </a>
                </div>
                <div style="padding: 0; padding-top: 1rem">
                  <a
                    [attr.aria-label]="buttonContent.contactNumberAriaLabel"
                    href="{{ buttonContent.contactNumberHref }}"
                    target="_blank"
                    style="
                      font-size: 1rem;
                      color: #0075be;
                      font-weight: 700;
                      text-transform: uppercase;
                      text-decoration: none;
                      display: inline-flex;
                      align-items: center;
                      gap: 4px;
                    "
                  >
                    <div style="display: flex; align-items: center">
                      {{ buttonContent.contactNumber }}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
