<section class="get-in-touch-container">
  <div class="get-in-touch-wrapper">
    <div class="get-in-touch-intro-container">
      <div class="get-in-touch-left-container">
        <div>
          <div class="get-in-touch-title-container">
            <span class="get-in-touch-title-wrapper"
              ><h2 class="get-in-touch-title">
                <span role="text">Ready to get started? Get in touch</span>
              </h2></span
            >
          </div>
          <div class="get-in-touch-description-container">
            <span class="get-in-touch-description-wrapper"
              ><p class="get-in-touch-description">
                <span role="text"
                  ><span
                    >Select your annual revenue to find the best way to get
                    personalized help.</span
                  ></span
                >
              </p></span
            >
          </div>
        </div>
      </div>
      <div role="tablist" class="get-in-touch-button-list">
        <button
          #tabButton
          id="{{ 'tabButton-' + i }}"
          *ngFor="let buttonData of buttonsData; let i = index"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          (click)="handleButtonClick(i)"
          class="get-in-touch-button"
        >
          <span aria-current="false" class="get-in-touch-button-wrapper">
            <span class="get-in-touch-button-image-container">
              <img
                src="{{ buttonData.imageSrc }}"
                alt="{{ buttonData.imageAlt }}"
              />
            </span>
            <span>
              <strong class="get-in-touch-button-title">{{
                buttonData.title
              }}</strong>
              <p class="get-in-touch-button-description">
                {{ buttonData.titleParagraph }}
              </p>
            </span>
          </span>
        </button>

      </div>
    </div>
  </div>
</section>
