<section class="get-in-touch-container">
  <div class="get-in-touch-wrapper">
    <div class="get-in-touch-intro-container">
      <div class="get-in-touch-left-container">
        <div>
          <div class="get-in-touch-title-container">
            <span class="get-in-touch-title-wrapper"
              ><h2 class="get-in-touch-title">
                <span role="text">Ready to get started? Get in touch</span>
              </h2></span
            >
          </div>
          <div class="get-in-touch-description-container">
            <span class="get-in-touch-description-wrapper"
              ><p class="get-in-touch-description">
                <span role="text"
                  ><span
                    >Select your annual revenue to find the best way to get
                    personalized help.</span
                  ></span
                >
              </p></span
            >
          </div>
        </div>
      </div>
      <div role="tablist" class="get-in-touch-button-list">
        <button
          role="tab"
          aria-selected="true"
          tabindex="0"
          class="get-in-touch-button active"
        >
          <span aria-current="true" class="get-in-touch-button-wrapper"
            ><span class="get-in-touch-button-image-container">
              <img alt src="assets/svg/dollar-1-illustration.svg" /> </span
            ><span
              ><strong class="get-in-touch-button-title">Up to $250K</strong>
              <p class="get-in-touch-button-description">
                in annual revenue
              </p></span
            ></span
          >
        </button>
        <button
          role="tab"
          aria-selected="false"
          tabindex="-1"
          class="get-in-touch-button"
        >
          <span aria-current="false" class="get-in-touch-button-wrapper">
            <span class="get-in-touch-button-image-container">
              <img alt src="assets/svg/dollar-2-illustration.svg" />
            </span>
            <span>
              <strong class="get-in-touch-button-title">$250K to $10M</strong>
              <p class="get-in-touch-button-description">in annual revenue</p>
            </span>
          </span>
        </button>
        <button
          role="tab"
          aria-selected="false"
          tabindex="-1"
          class="get-in-touch-button"
        >
          <span aria-current="false" class="get-in-touch-button-wrapper">
            <span class="get-in-touch-button-image-container">
              <img alt src="assets/svg/money-bag-illustration.svg">
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
