.toolbar-large {
  border-bottom: 1px solid #d9dce1;
  padding-left: 1rem;
  height: 45px;
  display: flex !important;
  align-items: stretch !important;
}

.logo-small {
  width: 116px;
  height: 40px;
}


.btns-container {
  display: flex;
  justify-content: flex-end;
}
.btns-container button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}













.signin-btn-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin-btn-inner-container {
  position: relative;
  border-left: 1px solid #d9dce1;
}
.signin-btn-inner-container.open {
  transform: translateZ(0px);
  filter: drop-shadow(rgb(153, 153, 153) 0px 0px 5px);
  z-index: 1;
  background-color: white;
}
.signin-btn {
  padding: 2px 1rem;
  height: 44px;
  border-radius: 0;
  color: #0075be;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  white-space: nowrap;
  margin: 0;
  justify-content: center;
  z-index: 0;
  border: none;
}
.signin-btn-inner-wrapper {
  cursor: pointer;
  color: #0075be;
  text-transform: uppercase;
  line-height: 1.25rem;
  box-sizing: inherit;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}
.signin-btn-inner-wrapper.open {
  color: #000000;
}
.signin-btn-signin-text:hover {
  text-decoration: underline;
}
.signin-btn-menu-container {
  height: auto !important;
  min-height: auto;
  transition: height 0.2s ease 0s;
  position: absolute;
  top: 44px;
  right: 0;
  width: 288px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 0;
  display: flex;
}
.signin-btn-menu-inner-container {
  width: 288px;
  position: initial;
  padding: 0px;
  background-color: white;
  /* height: auto; */

  box-sizing: border-box;
  overflow: initial;
  flex-direction: column;
}
.signin-btn-online-banking-wrapper {
  width: 100%;
}

.signin-btn-online-banking-link {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
  color: #0075be;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1.5rem 1.25rem 0px;
}
.signin-btn-register-container {
  letter-spacing: 0.25px;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid #d9dce1;
  width: 100%;
}
.signin-btn-register-wrapper {
  word-wrap: break-word;
  line-height: 0.5rem;
  padding: 2rem 1.25rem;
}
.signin-btn-register-link {
  color: #0075be;
  font-weight: 700;
  text-decoration: none;
}
.signin-btn-dropdown-list {
  list-style-type: none;
  width: 100%;
  background-color: #f5f6f7;
  margin: 0;
}
.signin-btn-dropdown-list li {
  margin: 18px 0;
}
.signin-btn-dropdown-option-link {
  text-decoration: none;
  color: #001928;
  letter-spacing: 0.25px;
  width: 100%;
  font-size: 14px;
}
