<div>
  <mat-toolbar class="toolbar-large">
    <div class="mobile-logo-container-large">
      <div class="site-select-container">
        <div
          class="site-select-wrapper open"
          (click)="handleSelectedSiteMenuClick()"
          [ngClass]="{ open: isSelectedSiteOpen }"
        >
          <span>{{ selectedSiteOption }}</span>
          <div class="expand-more-chevron-wrapper">
            <mat-icon
              class="expand-more-chevron"
              [ngClass]="{ open: isSelectedSiteOpen }"
              >expand_more</mat-icon
            >
          </div>
        </div>
        <ul class="site-select-list" *ngIf="isSelectedSiteOpen">
          <li *ngFor="let option of siteOptions">
            <a
              href="{{ option.linkHref }}"
              target="_blank"
              [attr.aria-label]="option.ariaLabel"
              >{{ option.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="search-bar-container">
      <div
        [ngClass]="
          isSearchBarOpen ? 'search-icon-wrapper-open' : 'search-icon-wrapper'
        "
        (click)="handleSearchBarClick($event, true)"
      >
        <div class="search-bar-form-wrapper">
          <form style="width: 100%" onsubmit="return false">
            <div class="search-form-inner-wrapper">
              <input
                #searchInput
                placeholder="Search"
                class="search-form-input"
                [ngClass]="
                  isSearchBarOpen
                    ? 'search-form-input open'
                    : 'search-form-input'
                "
              />
              <button
                [ngClass]="
                  isSearchBarOpen
                    ? 'search-form-close-wrapper open'
                    : 'search-form-close-wrapper'
                "
                (click)="
                  handleSearchBarClick($event, false); searchInput.value = ''
                "
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="btns-container">
      <div
        [ngClass]="
          isCountrySelectMenuOpen
            ? 'country-select-container open'
            : 'country-select-container'
        "
        (click)="handleCountrySelectMenuClick()"
      >
        <div class="country-select-inner-container">
          <mat-icon
            [ngClass]="
              isCountrySelectMenuOpen
                ? 'country-select-icon open'
                : 'country-select-icon'
            "
            >expand_more</mat-icon
          >
          <div style="width: 100%; display: inline-flex; align-items: center">
            <span class="country-select-image-wrapper"
              ><img
                alt=""
                height="25"
                width="25"
                src="assets/svg/flag-canada.svg" /></span
            ><span><span></span></span>
          </div>
        </div>
        <div
          *ngIf="isCountrySelectMenuOpen"
          [ngClass]="
            isCountrySelectMenuOpen
              ? 'country-select-dropdown-list open'
              : 'country-select-dropdown-list'
          "
        >
          <div
            *ngFor="let countryOption of countryOptions"
            class="country-select-option"
          >
            <div class="country-select-option-wrapper">
              <span class="country-select-icon-wrapper"
                ><img
                  src="{{ countryOption.icon }}"
                  alt=""
                  width="25"
                  height="25"
              /></span>
              <span>{{ countryOption.country }}</span>
            </div>
          </div>
        </div>
      </div>
      <div
        [ngClass]="
          isLanguageSelectMenuOpen
            ? 'language-container open'
            : 'language-container'
        "
        class="language-container"
        (click)="handleLanguageSelectMenuClick()"
      >
        <div class="language-selector-container">
          <mat-icon class="language-selector-icon">expand_more</mat-icon>
          <span>EN</span>
        </div>
        <ul
          [ngClass]="
            isLanguageSelectMenuOpen
              ? 'language-dropdown-list open'
              : 'language-dropdown-list'
          "
        >
          <li class="language-dropdown-list-option">
            <div>English</div>
          </li>
          <li class="language-dropdown-list-option">
            <a>Français</a>
          </li>
        </ul>
      </div>
      <div class="signin-btn-container">
        <div
          [ngClass]="
            isSigninMenuOpen
              ? 'signin-btn-inner-container open'
              : 'signin-btn-inner-container'
          "
        >
          <button class="signin-btn" (click)="handleSigninMenuClick()">
            <span
              [ngClass]="
                isSigninMenuOpen
                  ? 'signin-btn-inner-wrapper open'
                  : 'signin-btn-inner-wrapper'
              "
              ><span><mat-icon>lock</mat-icon></span
              ><span class="signin-btn-signin-text">Sign In</span
              ><span> <mat-icon>expand_more</mat-icon></span></span
            >
          </button>
          <div *ngIf="isSigninMenuOpen" class="signin-btn-menu-container">
            <div class="signin-btn-menu-inner-container">
              <div class="signin-btn-online-banking-wrapper">
                <a class="signin-btn-online-banking-link">
                  <div>Sign in to Online Banking</div>
                  <div>
                    <mat-icon>chevron_right</mat-icon>
                  </div>
                </a>
              </div>
              <div class="signin-btn-register-container">
                <span class="signin-btn-register-wrapper">
                  <p style="margin: 0px; color: #9da2a8">
                    Register for online banking with a
                  </p>
                  <p>
                    <a class="signin-btn-register-link">BMO Debit Card</a>
                    or
                    <a class="signin-btn-register-link">Credit Card</a>
                  </p>
                </span>
              </div>
              <ul class="signin-btn-dropdown-list">
                <li *ngFor="let signInOption of signInMenuOptions">
                  <a
                    class="signin-btn-dropdown-option-link"
                    [attr.aria-label]="signInOption.ariaLabel"
                    href="{{ signInOption.link }}"
                    target="_blank"
                    ><div>{{ signInOption.title }}</div></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div
    style="
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-top: 0.5rem;
      padding-right: 2rem;
    "
  >
    <div>
      <img
        src="assets/svg/bmoLogo.svg"
        alt="Bank of Montreal logo"
        class="logo-small"
      />
    </div>
    <div>
      <nav>
        <ul style="display: flex; list-style-type: none">
          <li *ngFor="let navOption of navbarOptions">
            <button
              style="
                border: none;
                background: transparent;
                cursor: pointer;
                font-size: 1rem;
                padding: 0 12px;
              "
            >
              {{ navOption.title }}
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
