<div>
  <mat-toolbar class="toolbar-large">
    <div class="mobile-logo-container-large">
      <div class="site-select-container">
        <div
          class="site-select-wrapper open"
          (click)="isSelectedSiteOpen = !isSelectedSiteOpen"
          [ngClass]="{ open: isSelectedSiteOpen }"
        >
          <span>{{ selectedSiteOption }}</span>
          <div class="expand-more-chevron-wrapper">
            <mat-icon
              class="expand-more-chevron"
              [ngClass]="{ open: isSelectedSiteOpen }"
              >expand_more</mat-icon
            >
          </div>
        </div>
        <ul class="site-select-list" *ngIf="isSelectedSiteOpen">
          <li *ngFor="let option of siteOptions">
            <a
              href="{{ option.linkHref }}"
              target="_blank"
              [attr.aria-label]="option.ariaLabel"
              >{{ option.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="search-bar-container">
      <div
        [ngClass]="{
          'search-icon-wrapper-open': isSearchBarOpen,
          'search-icon-wrapper': !isSearchBarOpen
        }"
        (click)="isSearchBarOpen = !isSearchBarOpen"
      >
        <!-- <div class="search-icon-wrapper"> -->
        <div style="border-left: 1px solid #d9dce1; position: relative">
          <form>
            <div class="search-form-inner-wrapper">
              <input placeholder="Search" class="search-form-input" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="btns-container">
      <div
        [ngClass]="
          isCountrySelectMenuOpen
            ? 'country-select-container open'
            : 'country-select-container'
        "
        (click)="handleCountrySelectMenuClick()"
      >
        <div class="country-select-inner-container">
          <mat-icon
            [ngClass]="
              isCountrySelectMenuOpen
                ? 'country-select-icon open'
                : 'country-select-icon'
            "
            >expand_more</mat-icon
          >
          <div style="width: 100%; display: inline-flex; align-items: center">
            <span class="country-select-image-wrapper"
              ><img
                alt=""
                height="25"
                width="25"
                src="assets/svg/flag-canada.svg" /></span
            ><span><span></span></span>
          </div>
        </div>
        <div
          *ngIf="isCountrySelectMenuOpen"
          [ngClass]="
            isCountrySelectMenuOpen
              ? 'country-select-dropdown-list open'
              : 'country-select-dropdown-list'
          "
        >
          <!-- @TODO: Refactor when you have another component that shares this  -->
          <div class="country-select-option">
            <div class="country-select-option-wrapper">
              <span
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 25px;
                  min-width: 25px;
                  max-height: 30px;
                  line-height: unset;
                "
                ><img
                  src="assets/svg/checkmark-circle.svg"
                  alt=""
                  width="25"
                  height="25"
              /></span>
              <span>Canada</span>
            </div>
          </div>
          <div class="country-select-option">
            <div class="country-select-option-wrapper">
              <span
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 25px;
                  min-width: 25px;
                  max-height: 30px;
                  line-height: unset;
                "
                ><img
                  src="assets/svg/flag-usa-icon.svg"
                  alt=""
                  width="25"
                  height="25"
              /></span>
              <span>US</span>
            </div>
          </div>
          <div class="country-select-option">
            <div class="country-select-option-wrapper">
              <span
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 25px;
                  min-width: 25px;
                  max-height: 30px;
                  line-height: unset;
                "
                ><img
                  src="assets/svg/flag-china-icon.svg"
                  alt=""
                  width="25"
                  height="25"
              /></span>
              <span>China</span>
            </div>
          </div>
        </div>
      </div>
      <div
        [ngClass]="
          isLanguageSelectMenuOpen
            ? 'language-container open'
            : 'language-container'
        "
        class="language-container"
        (click)="handleLanguageSelectMenuClick()"
      >
        <div class="language-selector-container">
          <mat-icon class="language-selector-icon">expand_more</mat-icon>
          <span>EN</span>
        </div>
        <ul
          [ngClass]="
            isLanguageSelectMenuOpen
              ? 'language-dropdown-list open'
              : 'language-dropdown-list'
          "
        >
          <li class="language-dropdown-list-option">
            <div>English</div>
          </li>
          <li class="language-dropdown-list-option">
            <a>Français</a>
          </li>
        </ul>
      </div>

      <!-- <button
        class="signin-btn"
        (click)="isMobileSignInMenuOpen = !isMobileSignInMenuOpen"
      >
        <span *ngIf="isMobileSignInMenuOpen">
          <mat-icon>close</mat-icon><span>Close</span></span
        >
        <span *ngIf="!isMobileSignInMenuOpen"
          ><mat-icon>lock_open</mat-icon><span>Sign In</span></span
        >
      </button> -->

      <div class="signin-btn-container">
        <div class="signin-btn-inner-container">
          <button class="signin-btn">
            <span class="signin-btn-inner-wrapper"
              ><span><mat-icon>lock</mat-icon></span
              ><span style="display: none">Close</span><span>Sign In</span
              ><span> <mat-icon>expand_more</mat-icon></span></span
            >
          </button>
          <div
            style="
              height: auto;
              min-height: auto;
              transition: height 0.2s ease 0s;
              position: absolute;
              top: 44px;
              right: 0;
              width: 288px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              overflow: hidden;
              background-color: white;
              padding: 0;
            "
          >
            <div
              style="
                width: 288px;
                position: initial;
                padding: 0px;
                background-color: white;
                height: auto;
              "
            >
              <div style="padding: 1.5rem 1.25rem 0px">
                <a
                  style="
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    letter-spacing: 0.25px;
                    color: #0075be;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                  "
                >
                  <div>Sign in to Online Banking</div>
                  <div>
                    <mat-icon>chevron_right</mat-icon>
                  </div>
                </a>
              </div>
              <div style="
              letter-spacing: 0.25px;
              font-size: 14px;
              padding: 1.5rem 1.25rem;
              
              ">
                <span>
                  <p>
                    Register for online banking with a <a>BMO Debit Card</a> or
                    <a>Credit Card</a>
                  </p>
                </span>
              </div>
              <ul></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div
    style="
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-top: 0.5rem;
      padding-right: 2rem;
    "
  >
    <div>
      <img
        src="assets/svg/bmoLogo.svg"
        alt="Bank of Montreal logo"
        class="logo-small"
      />
    </div>
    <div>
      <nav>
        <ul style="display: flex; list-style-type: none">
          <li *ngFor="let navOption of navbarOptions">
            <button
              style="
                border: none;
                background: transparent;
                cursor: pointer;
                font-size: 1rem;
                padding: 0 12px;
              "
            >
              {{ navOption.title }}
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
