<div class="side-nav-container">
  <div class="side-list-container">
    <ul class="side-list-ul">
      <li>
        <button
          class="side-list-link"
          [routerLink]="['/banking/digital/accounts/account-transfers']"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Account transfers
        </button>
      </li>
      <li>
        <button
          class="side-list-link"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Bill payment
        </button>
      </li>
      <li>
        <button
          class="side-list-link"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Interac e-transfer
        </button>
      </li>
      <li>
        <button
          class="side-list-link"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Global money transfer
        </button>
      </li>
      <li>
        <button
          class="side-list-link"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Western Union Money Transfer
        </button>
      </li>
    </ul>
  </div>
</div>
