<div
  class="language-container"
  [ngClass]="isLanguageSelectMenuOpen ? 'open' : null"
  (click)="handleLanguageSelectMenuClick()"
>
  <label class="language-selector-label" id="lang-selector-dropdown-label"
    >Language Selector</label
  >
  <div
    aria-expanded="false"
    aria-control="country-selector-dropdown-list"
    aria-haspopup="listbox"
    aria-labelledby="lang-selector-dropdown-label"
    aria-activedescendant
    role="combobox"
    tabindex="0"
    class="language-selector-container"
  >
    <mat-icon class="language-selector-icon" aria-hidden="true"
      >expand_more</mat-icon
    >
    <span>EN</span>
  </div>
  <ul
    class="language-dropdown-list"
    [ngClass]="isLanguageSelectMenuOpen ? ' open' : null"
  >
    <li class="language-dropdown-list-option">
      <div>English</div>
    </li>
    <li class="language-dropdown-list-option">
      <a>Français</a>
    </li>
  </ul>
</div>
