<div
  class="language-container"
  [ngClass]="isLanguageSelectMenuOpen ? 'open' : null"
  (click)="handleLanguageSelectMenuClick()"
>
  <div class="language-selector-container">
    <mat-icon class="language-selector-icon">expand_more</mat-icon>
    <span>EN</span>
  </div>
  <ul
    class="language-dropdown-list"
    [ngClass]="isLanguageSelectMenuOpen ? ' open' : null"
  >
    <li class="language-dropdown-list-option">
      <div>English</div>
    </li>
    <li class="language-dropdown-list-option">
      <a>Français</a>
    </li>
  </ul>
</div>
