<div style="width: 72px; display: block; cursor: pointer">
  <app-mobile-hamburger-menu></app-mobile-hamburger-menu>
  <!-- @TODO: remove the open in the false clause when done refactoring -->
  <div
    [ngClass]="
      isMobileMenuOpen
        ? 'mobile-menu-btn-menu-container open'
        : 'mobile-menu-btn-menu-container open'
    "
  >
    <div class="mobile-menu-btn-menu-inner-container">
      <div class="mobile-menu-btn-menu-options-container">
        <div style="box-sizing: border-box">
          <div style="position: relative">
            <div>
              <form onsubmit="return false">
                <div style="display: flex">
                  <label class="mobile-menu-btn-menu-search-label"
                    >Search</label
                  >
                  <input
                    (click)="handleMobileMenuSearchClick(true)"
                    [ngClass]="
                      isMobileMenuSearchSelected
                        ? 'mobile-menu-btn-menu-search-input open'
                        : 'mobile-menu-btn-menu-search-input'
                    "
                    placeholder="Search"
                  />
                  <button
                    (click)="handleMobileMenuSearchClick(false)"
                    [ngClass]="
                      isMobileMenuSearchSelected
                        ? 'mobile-menu-btn-menu-search-cancel-btn open'
                        : 'mobile-menu-btn-menu-search-cancel-btn'
                    "
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div
          (click)="handleCountrySelectMenuClick()"
          class="mobile-menu-btn-menu-country-select-container"
        >
          <!-- @TODO: this class is reused in this component per WCAG - refactor -->
          <label class="mobile-menu-btn-menu-search-label"
            >Country Selector</label
          >
          <div class="mobile-menu-btn-menu-country-select-wrapper">
            <mat-icon
              *ngIf="isMobileMenuOpen"
              [ngClass]="
                isCountrySelectMenuOpen
                  ? 'mobile-menu-btn-menu-country-select-chevron open'
                  : 'mobile-menu-btn-menu-country-select-chevron'
              "
              >chevron_right</mat-icon
            >
            <div class="mobile-menu-btn-menu-country-select-content-wrapper">
              <span class="mobile-menu-btn-menu-country-select-icon-wrapper"
                ><img
                  alt="Canada flag"
                  height="25"
                  width="25"
                  src="assets/svg/flag-canada.svg" /></span
              ><span class="mobile-menu-btn-menu-country-select-text-wrapper"
                >CA</span
              >
            </div>
          </div>
          <div
            [ngClass]="
              isCountrySelectMenuOpen
                ? 'mobile-menu-btn-menu-country-dropdown-container open'
                : 'mobile-menu-btn-menu-country-dropdown-container'
            "
          >
            <div
              *ngFor="let option of countryOptions"
              class="mobile-menu-btn-menu-country-wrapper"
            >
              <div class="mobile-menu-btn-menu-country-content-container">
                <span class="mobile-menu-btn-menu-country-icon-wrapper">
                  <img
                    src="{{ option.icon }}"
                    height="auto"
                    width="25px"
                    min-width="25px"
                  />
                </span>
                <span class="mobile-menu-btn-menu-country-text-wrapper"
                  ><a>{{ option.country }}</a></span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu-site-selector-container">
          <label class="mobile-menu-btn-menu-search-label">Site Selector</label>
          <div
            (click)="handleSiteSelectMenuClick()"
            class="mobile-menu-site-selector-content-container"
          >
            <mat-icon
              [ngClass]="
                isSiteSelectMenuOpen
                  ? 'mobile-menu-site-selector-chevron open'
                  : 'mobile-menu-site-selector-chevron'
              "
              >chevron_right</mat-icon
            >
            <span style="font-size: 1rem">Personal</span>
          </div>
          <ul
            [ngClass]="
              isSiteSelectMenuOpen
                ? 'mobile-menu-site-selector-dropdown open'
                : 'mobile-menu-site-selector-dropdown'
            "
          >
            <li *ngFor="let option of siteOptions">
              <a
                class="mobile-menu-site-selector-link"
                href="{{ option.linkHref }}"
                target="_blank"
                [attr.aria-label]="option.ariaLabel"
                >{{ option.title }}</a
              >
            </li>
          </ul>
        </div>
        <div>
          <label class="mobile-menu-btn-menu-search-label"
            >Language Selector</label
          >
          <div
            (click)="handleLanguageSelectMenuClick()"
            class="mobile-menu-language-selector-content-container"
          >
            <mat-icon
              [ngClass]="
                isLanguageSelectMenuOpen
                  ? 'mobile-menu-language-selector-chevron open'
                  : 'mobile-menu-language-selector-chevron'
              "
              >chevron_right</mat-icon
            >
            <span style="font-size: 1rem">English</span>
          </div>
          <ul
            [ngClass]="
              isLanguageSelectMenuOpen
                ? 'mobile-menu-language-selector-dropdown open'
                : 'mobile-menu-language-selector-dropdown'
            "
          >
            <li class="mobile-menu-language-selector-dropdown-option">
              English
            </li>
            <li class="mobile-menu-language-selector-dropdown-option">
              French
            </li>
          </ul>
        </div>
      </div>
      <nav class="mobile-menu-btn-navigation-container">
        <div class="mobile-menu-btn-navigation-dropdown-wrapper">
          <ul class="mobile-menu-btn-navigation-dropdown">
            <li
              class="mobile-menu-btn-navigation-dropdown-option"
              *ngFor="let option of navigationOptions; let i = index"
            >
              <button
                (click)="handleCategoryClick(i)"
                class="mobile-menu-btn-navigation-dropdown-content-wrapper"
              >
                {{ option.title }}
                <mat-icon class="mobile-menu-btn-navigation-dropdown-chevron"
                  >chevron_right</mat-icon
                >
              </button>
              <div class="mobile-menu-btn-navigation-categories-container">
                <ul class="mobile-menu-btn-navigation-categories-dropdown">
                  <li
                    *ngFor="let category of option.categories; let j = index"
                    class="mobile-menu-btn-navigation-categories-dropdown-option"
                  >
                    <a
                      *ngIf="category.link"
                      [attr.aria-label]="category.ariaLabel"
                      target="_blank"
                      href="{{ category.link }}"
                      class="mobile-menu-btn-navigation-categories-dropdown-link-no-children"
                      >{{ category.title }}</a
                    >
                    <button
                      *ngIf="!category.link"
                      (click)="testClick($event, i, j)"
                      class="mobile-menu-btn-navigation-categories-dropdown-with-children"
                    >
                      {{ category.title }}
                      <mat-icon
                        class="mobile-menu-btn-navigation-categories-dropdown-chevron"
                        >chevron_right</mat-icon
                      >
                    </button>
                    <div
                      *ngIf="!category.link"
                      class="mobile-menu-btn-navigation-categories-dropdown-child-container"
                    >
                      <ul
                        class="mobile-menu-btn-navigation-categories-dropdown-child-dropdown"
                      >
                        <li
                          *ngFor="let child of category.children"
                          class="mobile-menu-btn-navigation-categories-dropdown-child-dropdown-option"
                        >
                          <a
                            href="{{ child.link }}"
                            [attr.aria-label]="child.ariaLabel"
                            target="_blank"
                            class="mobile-menu-btn-navigation-categories-dropdown-child-dropdown-option-link"
                            ><span>{{ child.title }}</span></a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="mobile-menu-btn-navigation-resources-container">
                  <div class="mobile-menu-btn-navigation-resources-title">
                    Resources
                  </div>
                  <ul
                    class="mobile-menu-btn-navigation-resources-list-container"
                  >
                    <li *ngFor="let resource of option.resources">
                      <a
                        href="{{ resource.link }}"
                        [attr.aria-label]="resource.ariaLabel"
                        target="_blank"
                        class="mobile-menu-btn-navigation-resources-list-link"
                      >
                        <div
                          class="mobile-menu-btn-navigation-resources-image-wrapper"
                        >
                          <img
                            src="{{ resource.icon }}"
                            alt="{{ resource.alt }}"
                            style="min-width: 1.25"
                          />
                        </div>
                        <div
                          class="mobile-menu-btn-navigation-resources-description"
                        >
                          {{ resource.title }}
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
