<section class="featured-products-section">
  <!-- Title -->
  <div class="featured-products-title-container">
    <div class="featured-products-title-wrapper">
      <h2 class="featured-products-title">Banking that's made for you</h2>
    </div>
  </div>
  <!-- Content -->
  <div class="featured-products-cards-container">
    <div class="featured-products-cards-wrapper">
      <!-- First card -->
      <div class="featured-products-first-card-container">
        <!-- First card content -->
        <div class="featured-products-first-card-content-container">
          <!-- First card top banner -->
          <div class="featured-products-first-card-top-banner-container">
            <h3 class="featured-products-first-card-top-banner-title">
              Most Popular
            </h3>
          </div>
          <div class="featured-products-first-card-content-wrapper">
            <div>
              <div class="featured-products-first-card-content-title-container">
                <a
                  aria-label="learn more about B M O Performance Chequing Account, opens in new tab"
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  target="_blank"
                  class="featured-products-first-card-content-title-wrapper"
                >
                  <span>
                    <span class="featured-products-first-card-content-title-one"
                      >Performance Chequing
                    </span>
                    <span
                      class="featured-products-first-card-content-title-two"
                    >
                      <span>Account</span>
                      <span
                        ><mat-icon aria-hidden="true"
                          >chevron_right</mat-icon
                        ></span
                      >
                    </span>
                  </span>
                </a>
              </div>
              <div
                class="featured-products-first-card-content-button-container"
              >
                <div>
                  <div>
                    <div>
                      <button
                        aria-label="open a performance plan account now, opens in new pop up"
                        aria-haspopup="false"
                        class="featured-products-first-card-content-button"
                      >
                        <span
                          class="featured-products-first-card-content-button-content-wrapper"
                        >
                          <mat-icon
                            aria-hidden="true"
                            style="margin-right: 0.5rem"
                            >lock_open</mat-icon
                          >
                          <!-- <span>Open now</span> -->
                          <!-- Show only when small screen -->
                          <span>open in 7 minutes</span>
                        </span>
                        <!-- Only for screen readers -->
                        <span class="screen-reader-only"
                          >a performance plan account</span
                        >
                      </button>
                    </div>
                  </div>
                  <!-- Overlay -->
                  <div
                    style="
                      background-color: rgba(0, 0, 0, 0.8);
                      position: fixed;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      z-index: 1005;
                      display: none;
                      overflow-y: scroll;
                    "
                  ></div>
                </div>
              </div>
              <div
                class="featured-products-first-card-content-button-caption-container"
              >
                <div
                  class="featured-products-first-card-content-button-first-caption-container"
                >
                  <strong class="featured-products-font-weight-large"
                    >$16.95 per month</strong
                  >
                </div>
                <div
                  class="featured-products-first-card-content-button-two-caption-container"
                >
                  <strong style="line-height: 1.5rem; font-weight: 300">
                    <strong class="featured-products-font-weight-large"
                      >or $0 with min. $4,000 balance</strong
                    >
                    <a
                      href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#four"
                      target="_blank"
                      aria-label="star 4 learn more about B M O Bank Plan fees, opens in new tab"
                      class="featured-products-first-card-content-button-two-caption-link"
                    >
                      <!-- For screen readers only -->
                      <span class="screen-reader-only">footnote</span>
                      <sup
                        class="featured-products-first-card-content-button-two-sup"
                        >*4</sup
                      >
                    </a>
                  </strong>
                </div>
              </div>
              <div class="featured-products-first-card-line"></div>
              <ul class="featured-products-first-card-list-container">
                <li class="featured-products-first-card-list-li">
                  <div
                    class="featured-products-first-card-list-content-wrapper"
                  >
                    <div
                      class="featured-products-first-card-list-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true">check</mat-icon>
                    </div>
                    <div class="featured-products-first-card-list-content">
                      <div>
                        <div>
                          <span
                            class="featured-products-first-card-list-content-text-wrapper"
                          >
                            <strong class="featured-products-font-weight-large"
                              >Unlimited transactions</strong
                            >
                            per month
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#fiftytwo"
                              target="_blank"
                              aria-label="star 52 learn more about monthly transactions, opens in new tab"
                              class="featured-products-first-card-content-button-two-caption-link"
                            >
                              <span
                                style="
                                  text-indent: -9999px;
                                  position: absolute !important;
                                  width: 1px;
                                  height: 1px;
                                  overflow: hidden;
                                  clip: rect(0, 0, 0, 0);
                                "
                              ></span>
                              <sup
                                style="
                                  top: -0.5em;
                                  font-size: 75%;
                                  line-height: 0;
                                  position: relative;
                                  vertical-align: baseline;
                                "
                                >*52</sup
                              >
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div style="margin-top: 2rem; text-align: center">
                <a
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  aria-label="learn more about B M O Performance Chequing account, opens in new tab"
                  target="_blank"
                  style="
                    display: inline-flex;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #0075be;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: transparent;
                  "
                >
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- First card bottom button -->
        <div
          style="padding-bottom: 2rem; padding-top: 1.5rem; text-align: center"
        >
          <a
            href="https://www.bmo.com/main/personal/bank-accounts/chequing-accounts/"
            aria-label="learn more about B M O chequing accounts, opens in new tab"
            target="_blank"
            style="
              letter-spacing: 0.01562rem;
              line-height: 3.25rem;
              width: auto;
              text-transform: uppercase;
              border: 0.125rem solid #0075be;
              background-color: transparent;
              color: #0075be;
              cursor: pointer;
              display: inline-block;
              font-size: 0.875rem;
              text-align: center;
              font-weight: 700;
              padding: 0 2rem;
              overflow: hidden;
              height: 3.5rem;
              transition: all 0.2s ease;
              border-radius: 1.75rem;
              box-sizing: border-box;
              text-decoration: none;
            "
          >
            <span
              style="
                align-items: center;
                justify-content: center;
                display: flex;
              "
            >
              <span>Explore Chequing Accounts</span>
            </span>
          </a>
        </div>
      </div>
      <!-- Second card -->
      <div></div>
    </div>
  </div>
</section>
