<!-- @TODO: Check when complete rename/reuse CSS class name if similar -->
<section class="featured-products-section">
  <!-- Title -->
  <div class="featured-products-title-container">
    <div class="featured-products-title-wrapper">
      <h2 class="featured-products-title">Banking that's made for you</h2>
    </div>
  </div>
  <!-- Content -->
  <div class="featured-products-cards-container">
    <div class="featured-products-cards-wrapper">
      <!-- First card -->
      <div class="featured-products-first-card-container">
        <!-- First card content -->
        <div class="featured-products-first-card-content-container">
          <!-- First card top banner -->
          <div class="featured-products-first-card-top-banner-container">
            <h3 class="featured-products-first-card-top-banner-title">
              Most Popular
            </h3>
          </div>
          <div class="featured-products-first-card-content-wrapper">
            <div>
              <div class="featured-products-first-card-content-title-container">
                <a
                  aria-label="learn more about B M O Performance Chequing Account, opens in new tab"
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  target="_blank"
                  class="featured-products-first-card-content-title-wrapper"
                >
                  <span>
                    <span class="featured-products-first-card-content-title-one"
                      >Performance Chequing
                    </span>
                    <span
                      class="featured-products-first-card-content-title-two"
                    >
                      <span>Account</span>
                      <span
                        ><mat-icon aria-hidden="true"
                          >chevron_right</mat-icon
                        ></span
                      >
                    </span>
                  </span>
                </a>
              </div>
              <div
                class="featured-products-first-card-content-button-container"
              >
                <div>
                  <div>
                    <div>
                      <button
                        aria-label="open a performance plan account now, opens in new pop up"
                        aria-haspopup="false"
                        class="featured-products-first-card-content-button"
                      >
                        <span
                          class="featured-products-first-card-content-button-content-wrapper"
                        >
                          <mat-icon
                            aria-hidden="true"
                            style="margin-right: 0.5rem"
                            >lock_open</mat-icon
                          >
                          <!-- <span>Open now</span> -->
                          <!-- Show only when small screen -->
                          <span>open in 7 minutes</span>
                        </span>
                        <!-- Only for screen readers -->
                        <span class="screen-reader-only"
                          >a performance plan account</span
                        >
                      </button>
                    </div>
                  </div>
                  <!-- Overlay -->
                  <div
                    style="
                      background-color: rgba(0, 0, 0, 0.8);
                      position: fixed;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      z-index: 1005;
                      display: none;
                      overflow-y: scroll;
                    "
                  ></div>
                </div>
              </div>
              <div
                class="featured-products-first-card-content-button-caption-container"
              >
                <div
                  class="featured-products-first-card-content-button-first-caption-container"
                >
                  <strong class="featured-products-font-weight-large"
                    >$16.95 per month</strong
                  >
                </div>
                <div
                  class="featured-products-first-card-content-button-two-caption-container"
                >
                  <strong style="line-height: 1.5rem; font-weight: 300">
                    <strong class="featured-products-font-weight-large"
                      >or $0 with min. $4,000 balance</strong
                    >
                    <a
                      href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#four"
                      target="_blank"
                      aria-label="star 4 learn more about B M O Bank Plan fees, opens in new tab"
                      class="featured-products-first-card-content-button-two-caption-link"
                    >
                      <!-- For screen readers only -->
                      <span class="screen-reader-only">footnote</span>
                      <sup
                        class="featured-products-first-card-content-button-two-sup"
                        >*4</sup
                      >
                    </a>
                  </strong>
                </div>
              </div>
              <div class="featured-products-first-card-line"></div>
              <ul class="featured-products-first-card-list-container">
                <li class="featured-products-first-card-list-li">
                  <div
                    class="featured-products-first-card-list-content-wrapper"
                  >
                    <div
                      class="featured-products-first-card-list-content-icon-wrapper"
                    >
                      <mat-icon aria-hidden="true">check</mat-icon>
                    </div>
                    <div class="featured-products-first-card-list-content">
                      <div>
                        <div>
                          <span
                            class="featured-products-first-card-list-content-text-wrapper"
                          >
                            <strong class="featured-products-font-weight-large"
                              >Unlimited transactions</strong
                            >
                            per month
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#fiftytwo"
                              target="_blank"
                              aria-label="star 52 learn more about monthly transactions, opens in new tab"
                              class="featured-products-first-card-content-button-two-caption-link"
                            >
                              <span class="screen-reader-only"></span>
                              <sup
                                class="featured-products-first-card-content-button-two-sup"
                                >*52</sup
                              >
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="featured-products-first-card-learn-more-container">
                <a
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  aria-label="learn more about B M O Performance Chequing account, opens in new tab"
                  target="_blank"
                  class="featured-products-first-card-learn-more-link"
                >
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- First card bottom button -->
        <div class="featured-products-first-card-explore-container">
          <a
            href="https://www.bmo.com/main/personal/bank-accounts/chequing-accounts/"
            aria-label="learn more about B M O chequing accounts, opens in new tab"
            target="_blank"
            class="featured-products-first-card-explore-link"
          >
            <span class="featured-products-first-card-explore-link-text">
              <span>Explore Chequing Accounts</span>
            </span>
          </a>
        </div>
      </div>
      <!-- Second card -->
      <!-- @TODO: rename classes with 'first' - because of reusing -->
      <div class="featured-products-first-card-container">
        <!-- Second card content -->
        <div class="featured-products-first-card-content-container">
          <div class="featured-products-first-card-top-banner-container">
            <h3 class="featured-products-first-card-top-banner-title">
              Most Benefits
            </h3>
            <span
              style="
                background-color: #0075be;
                color: #ffffff;
                border-radius: 0.25rem;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                line-height: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 0.625rem;
              "
              >New</span
            >
          </div>
          <div class="featured-products-first-card-content-wrapper">
            <div style="text-align: center">
              <div style="white-space: nowrap; display: inline-flex">
                <a
                  href="https://www.bmo.com/main/personal/bank-accounts/savings-accounts/savings-amplifier/"
                  aria-label="star 26 learn more about B M O Savings Amplifier account, opens in new tab"
                  target="_target"
                  class="featured-products-second-card-content-link"
                >
                  <span>
                    <span
                      style="
                        margin-right: 0.25rem;
                        line-height: 1.5rem;
                        font-weight: 700;
                        font-size: 1.125rem;
                      "
                      >Saving Amplifier</span
                    >
                    <span
                      style="
                        white-space: nowrap;
                        align-items: center;
                        display: inline-flex;
                      "
                      ><span
                        style="
                          margin-right: 0.25rem;
                          line-height: 1.5rem;
                          font-weight: 700;
                          font-size: 1.125rem;
                        "
                        >Account</span
                      ><mat-icon aria-hidden="true"
                        >chevron_right</mat-icon
                      ></span
                    >
                  </span>
                </a>
                <a
                  href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#twentysix"
                  aria-label="star 26 learn more about B M O Savings Amplifier account, opens in new tab"
                  target="_blank"
                  class="featured-products-second-card-content-link"
                >
                  <sup
                    class="featured-products-first-card-content-button-two-sup"
                    >*26</sup
                  >
                </a>
              </div>
              <div style="margin-top: 1.5rem; margin-bottom: 1.5rem">
                <div>
                  <a
                    href="https://www.bmo.com/main/personal/bank-accounts/getting-started/?rg=BMO&spc=7880184&ofid=SAASTAND001&lang=en"
                    aria-label="open a B M O Savings Amplifier account, opens in new tab"
                    target="_blank"
                    style="
                      letter-spacing: 0.01562rem;
                      line-height: 3.25rem;
                      text-transform: uppercase;
                      border: 0.125rem solid #0075be;
                      background-color: #0075be;
                      color: #ffffff;
                      box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 25, 40, 0.04),
                        0 0.25rem 1.5rem 0 rgba(0, 25, 40, 0.1);
                      cursor: pointer;
                      display: inline-block;
                      font-size: 0.875rem;
                      text-align: center;
                      font-weight: 700;
                      padding: 0 2rem;
                      overflow: hidden;
                      height: 3.5rem;
                      transition: all 0.2s ease;
                      border-radius: 1.75rem;
                      box-sizing: border-box;
                    "
                  >
                    <span style="display: inline-flex; vertical-align: middle">
                      <mat-icon aria-hidden="true" style="margin-right: 0.5rem"
                        >lock_open</mat-icon
                      ><span
                        style="
                          line-height: 1.5rem;
                          text-transform: uppercase;
                          font-weight: 700;
                          letter-spacing: 0.01562rem;
                          font-size: 0.875rem;
                          text-align: center;
                          cursor: pointer;
                        "
                        >Open now</span
                      ></span
                    >
                  </a>
                </div>
              </div>
              <div style="font-weight: 700; text-align: center">
                <span style="line-height: 1.5rem">1.900% interest rate</span>
                <a
                  href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#twelve"
                  aria-label="star 12 learn about B M O interest rates, opens in new tab"
                  target="_blank"
                  rel="noopener"
                  style="
                    color: #0075be;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: transparent;
                  "
                >
                  <sup
                    style="
                      top: -0.5em;
                      font-size: 75%;
                      line-height: 0;
                      position: relative;
                      vertical-align: baseline;
                    "
                    >*12</sup
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Second card bottom button -->
        <div></div>
      </div>
    </div>
  </div>
</section>
