<section class="featured-products-section">
  <!-- Title -->
  <div class="featured-products-title-container">
    <div class="featured-products-title-wrapper">
      <h2 class="featured-products-title">Banking that's made for you</h2>
    </div>
  </div>
  <!-- Content -->
  <div class="featured-products-cards-container">
    <div class="featured-products-cards-wrapper">
      <!-- First card -->
      <div class="featured-products-first-card-container">
        <!-- First card content -->
        <div class="featured-products-first-card-content-container">
          <!-- First card top banner -->
          <div class="featured-products-first-card-top-banner-container">
            <h3 class="featured-products-first-card-top-banner-title">
              Most Popular
            </h3>
          </div>
          <div class="featured-products-first-card-content-wrapper">
            <div>
              <div class="featured-products-first-card-content-title-container">
                <a
                  aria-label="learn more about B M O Performance Chequing Account, opens in new tab"
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  target="_blank"
                  style="
                    margin-bottom: 1.5rem;
                    color: #0075be;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: transparent;
                  "
                >
                  <span>
                    <span
                      style="
                        line-height: 1.5rem;
                        font-weight: 700;
                        font-size: 1.125rem;
                      "
                      >Performance Chequing
                    </span>
                    <span
                      style="
                        white-space: nowrap;
                        line-height: 1.5rem;
                        align-items: center;
                        display: inline-flex;
                        font-weight: 700;
                        font-size: 1.125rem;
                      "
                    >
                      <span>Account</span>
                      <span
                        ><mat-icon aria-hidden="true"
                          >chevron_right</mat-icon
                        ></span
                      >
                    </span>
                  </span>
                </a>
              </div>
              <div
                style="
                  margin-top: 1.5rem;
                  margin-bottom: 1.5rem;
                  text-align: center;
                "
              >
                <div>
                  <div>
                    <div>
                      <button
                        aria-label="open a performance plan account now, opens in new pop up"
                        aria-haspopup="false"
                        style="
                          letter-spacing: 0.01562rem;
                          line-height: 3.25rem;
                          cursor: pointer;
                          text-transform: uppercase;
                          border: 0.125rem solid #0075be;
                          background-color: #0075be;
                          color: #ffffff;
                          box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 25, 40, 0.04),
                            0 0.25rem 1.5rem 0 rgba(0, 25, 40, 0.1);
                          display: inline-block;
                          font-size: 0.875rem;
                          text-align: center;
                          font-weight: 700;
                          padding: 0 2rem;
                          overflow: hidden;
                          height: 3.5rem;
                          transition: all 0.2s ease;
                          border-radius: 1.75rem;
                          box-sizing: border-box;
                        "
                      >
                        <span style="align-items: center; display: flex">
                          <mat-icon
                            aria-hidden="true"
                            style="margin-right: 0.5rem"
                            >lock_open</mat-icon
                          >
                          <!-- <span>Open now</span> -->
                          <!-- Show only when small screen -->
                          <span>open in 7 minutes</span>
                        </span>
                        <!-- Only for screen readers -->
                        <span
                          style="
                            text-indent: -9999px;
                            position: absolute !important;
                            width: 1px;
                            height: 1px;
                            overflow: hidden;
                            clip: rect(0, 0, 0, 0);
                          "
                          >a performance plan account</span
                        >
                      </button>
                    </div>
                  </div>
                  <!-- Overlay -->
                  <div
                    style="
                      background-color: rgba(0, 0, 0, 0.8);
                      position: fixed;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      z-index: 1005;
                      display: none;
                      overflow-y: scroll;
                    "
                  ></div>
                </div>
              </div>
              <div
                style="
                  margin-bottom: 1.5rem;
                  margin-left: auto;
                  margin-right: auto;
                  display: flex;
                  flex-flow: row wrap;
                "
              >
                <div
                  style="flex: 0 0 100%; max-width: 100%; text-align: center"
                >
                  <strong style="font-weight: 700">$16.95 per month</strong>
                </div>
                <div
                  style="flex: 0 0 100%; max-width: 100%; text-align: center"
                >
                  <strong style="line-height: 1.5rem; font-weight: 300">
                    <strong style="font-weight: 700"
                      >or $0 with min. $4,000 balance</strong
                    >
                    <a
                      href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#four"
                      target="_blank"
                      aria-label="star 4 learn more about B M O Bank Plan fees, opens in new tab"
                      style="
                        line-height: 1.5rem;
                        font-weight: 700;
                        font-size: 0.875rem;
                        color: #0075be;
                        text-decoration: none;
                        cursor: pointer;
                      "
                    >
                      <!-- For screen readers only -->
                      <span
                        style="
                          text-indent: -9999px;
                          position: absolute !important;
                          width: 1px;
                          height: 1px;
                          overflow: hidden;
                          clip: rect(0, 0, 0, 0);
                        "
                        >footnote</span
                      >
                      <sup
                        style="
                          top: -0.5em;
                          font-size: 75%;
                          line-height: 0;
                          position: relative;
                          vertical-align: baseline;
                          font-weight: 700;
                        "
                        >*4</sup
                      >
                    </a>
                  </strong>
                </div>
              </div>
              <div
                style="
                  background-color: #e6f9fe;
                  border-top-right-radius: 0.25rem;
                  border-top-left-radius: 0.25rem;
                  border-bottom-width: 0.0625rem;
                  border-bottom-color: #d9dce1;
                  border-bottom-style: solid;
                  margin-top: 1.5rem;
                  margin-bottom: 1.5rem;
                "
              ></div>
              <ul
                style="
                  padding-left: 0rem;
                  margin-left: 0rem;
                  margin-top: 0rem;
                  max-width: 100%;
                  list-style: none;
                  margin-bottom: 0;
                "
              >
                <li style="margin-bottom: 1rem; display: flex">
                  <div style="display: flex">
                    <div style="padding-right: 1rem">
                      <mat-icon aria-hidden="true">check</mat-icon>
                    </div>
                    <div style="text-align: left">
                      <div>
                        <div>
                          <span
                            style="
                              line-height: 1.5rem;
                              display: inline;
                              font-weight: 300;
                              font-size: 1rem;
                            "
                          >
                            <strong style="font-weight: 700"
                              >Unlimited transactions</strong
                            >
                            per month
                            <a
                              href="https://www.bmo.com/popups/main/personal/bank-accounts/global-terms-and-conditions-en.html#fiftytwo"
                              target="_blank"
                              aria-label="star 52 learn more about monthly transactions, opens in new tab"
                              style="
                                line-height: 1.5rem;
                                font-weight: 700;
                                font-size: 0.875rem;
                                color: #0075be;
                                text-decoration: none;
                                cursor: pointer;
                                background-color: transparent;
                              "
                            >
                              <span
                                style="
                                  text-indent: -9999px;
                                  position: absolute !important;
                                  width: 1px;
                                  height: 1px;
                                  overflow: hidden;
                                  clip: rect(0, 0, 0, 0);
                                "
                              ></span>
                              <sup
                                style="
                                  top: -0.5em;
                                  font-size: 75%;
                                  line-height: 0;
                                  position: relative;
                                  vertical-align: baseline;
                                "
                                >*52</sup
                              >
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div style="margin-top: 2rem; text-align: center">
                <a
                  href="https://www.bmo.com/en-ca/main/personal/bank-accounts/chequing-accounts/performance/"
                  aria-label="learn more about B M O Performance Chequing account, opens in new tab"
                  target="_blank"
                  style="
                    display: inline-flex;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #0075be;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: transparent;
                  "
                >
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- First card bottom button -->
        <div
          style="padding-bottom: 2rem; padding-top: 1.5rem; text-align: center"
        >
          <a
            href="https://www.bmo.com/main/personal/bank-accounts/chequing-accounts/"
            aria-label="learn more about B M O chequing accounts, opens in new tab"
            target="_blank"
            style="
              letter-spacing: 0.01562rem;
              line-height: 3.25rem;
              width: auto;
              text-transform: uppercase;
              border: 0.125rem solid #0075be;
              background-color: transparent;
              color: #0075be;
              cursor: pointer;
              display: inline-block;
              font-size: 0.875rem;
              text-align: center;
              font-weight: 700;
              padding: 0 2rem;
              overflow: hidden;
              height: 3.5rem;
              transition: all 0.2s ease;
              border-radius: 1.75rem;
              box-sizing: border-box;
              text-decoration: none;
            "
          >
            <span
              style="
                align-items: center;
                justify-content: center;
                display: flex;
              "
            >
              <span>Explore Chequing Accounts</span>
            </span>
          </a>
        </div>
      </div>
      <!-- Second card -->
      <div></div>
    </div>
  </div>
</section>
