.featured-products-section {
  background-color: #f5f6f7;
  box-sizing: inherit;
}
.featured-products-title-container {
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 75rem;
}
.featured-products-title-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.featured-products-title {
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.featured-products-cards-container {
  background-color: #f5f6f7;
  padding-bottom: 2rem;
}
.featured-products-cards-wrapper {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 75rem;
}
.featured-products-card-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 0rem;
  flex: 0 0 100%;
  max-width: 100%;
}
.featured-products-card-content-container {
  background-color: #ffffff;
  box-shadow: 0 0 0.125rem 0 rgba(0, 25, 40, 0.12),
    0 0.125rem 0.125rem 0 rgba(0, 25, 40, 0.07);
  border-radius: 0.25rem;
  overflow: hidden;
}
.featured-products-card-top-banner-container {
  margin: 5px;
  height: 60px;
  background-color: #e6f9fe;
  border-bottom-width: 0.125rem;
  border-bottom-color: #0075be;
  border-bottom-style: solid;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.featured-products-card-top-banner-title {
  color: #005587;
  margin-right: 0.25rem;
  line-height: 2rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.featured-products-card-content-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.featured-products-first-card-content-title-container {
  text-align: center;
}
.featured-products-first-card-content-title-wrapper {
  margin-bottom: 1.5rem;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.featured-products-first-card-content-title-one {
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 1.125rem;
}
.featured-products-first-card-content-title-two {
  white-space: nowrap;
  line-height: 1.5rem;
  align-items: center;
  display: inline-flex;
  font-weight: 700;
  font-size: 1.125rem;
}
.featured-products-card-content-button-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.featured-products-card-content-button {
  letter-spacing: 0.01562rem;
  line-height: 3.25rem;
  cursor: pointer;
  text-transform: uppercase;
  border: 0.125rem solid #0075be;
  background-color: #0075be;
  color: #ffffff;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 25, 40, 0.04),
    0 0.25rem 1.5rem 0 rgba(0, 25, 40, 0.1);
  display: inline-block;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  padding: 0 2rem;
  overflow: hidden;
  height: 3.5rem;
  transition: all 0.2s ease;
  border-radius: 1.75rem;
  box-sizing: border-box;
}
.featured-products-first-card-content-button-content-wrapper {
  align-items: center;
  display: flex;
}
.screen-reader-only {
  text-indent: -9999px;
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.featured-products-first-card-content-overlay-container {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1005;
  display: none;
  overflow-y: scroll;
}
.featured-products-first-card-content-overlay-container.show {
  display: block;
}

.featured-products-first-card-content-overlay-inner-container {
  background-color: #f5f6f7;
  padding: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  height: 100vh;
  min-height: 100vh;
  margin-left: 0;
  border: 0;
  border-radius: 0;
}
.featured-products-first-card-content-overlay-inner-container.show {
  display: block;
}

.featured-products-first-card-content-overlay-close-btn {
  position: absolute;
  border-radius: 0;
  font-size: 36px;
  text-align: center;
  line-height: 21px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  top: 16px;
  right: 20px;
}
.featured-products-first-card-content-overlay-content-container {
  text-align: center;
  padding: 16px 16px 0;
}
.featured-products-first-card-content-overlay-content-title-container {
  padding-bottom: 1rem;
}
.featured-products-first-card-content-overlay-content-title-wrapper {
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0;
}
.featured-products-first-card-content-overlay-content-title-superscript-link {
  display: inline;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.superscript-no-font-weight {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.featured-products-first-card-content-overlay-content-description {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}

.featured-products-first-card-content-overlay-content-product-container {
  background-color: #ffffff;
  box-shadow: 0 0 0.125rem 0 rgba(0, 25, 40, 0.12),
    0 0.125rem 0.125rem 0 rgba(0, 25, 40, 0.07);
  border-radius: 0.25rem;
  padding: 1.5rem;
}
.featured-products-first-card-content-overlay-content-product-title-container {
  padding-bottom: 1.5rem;
}
.featured-products-first-card-content-overlay-content-product-title {
  border-bottom-width: 0.0625rem;
  border-bottom-color: #d9dce1;
  border-bottom-style: solid;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0;
}
.featured-products-first-card-content-overlay-content-promo-title {
  font-weight: 300;
}
.featured-products-first-card-content-overlay-content-promo-rate-container {
  margin-top: 0.5rem;
}
.featured-products-first-card-content-overlay-content-promo-rate {
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.75rem;
}
.featured-products-first-card-content-overlay-content-promo-rate-link {
  line-height: 2rem;
  display: inline;
  font-weight: 700;
  font-size: 1.75rem;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
}
.featured-products-first-card-content-overlay-content-promo-rate-superscript {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.featured-products-first-card-content-overlay-content-form-container {
  float: none;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.featured-products-first-card-content-overlay-content-form-terms-container {
  margin-top: 1.5rem;
  justify-content: center;
  display: flex;
}
.featured-products-first-card-content-overlay-content-form-terms-label-wrapper {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 12px;
  color: #001928;
  letter-spacing: 0.15px;
  margin-bottom: 1rem;
  text-align: left;
}
.featured-products-first-card-content-overlay-content-form-terms-wrapper {
  align-items: center;
  padding-left: 32px;
  padding-top: 0;
  padding-bottom: 0;
}
.featured-products-first-card-content-overlay-content-reject-container {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.featured-products-first-card-content-overlay-content-reject-link {
  font-weight: 700;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.featured-products-first-card-content-button-caption-container {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}
.featured-products-first-card-content-button-first-caption-container {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.featured-products-font-weight-large {
  font-weight: 700;
}
.featured-products-first-card-content-button-two-caption-container {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.featured-products-first-card-content-button-two-caption-link {
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.featured-products-card-content-button-two-sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-weight: 700;
}
.featured-products-card-line {
  background-color: #e6f9fe;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-width: 0.0625rem;
  border-bottom-color: #d9dce1;
  border-bottom-style: solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.featured-products-first-card-list-container {
  padding-left: 0rem;
  margin-left: 0rem;
  margin-top: 0rem;
  max-width: 100%;
  list-style: none;
  margin-bottom: 0;
}
.featured-products-first-card-list-li {
  margin-bottom: 1rem;
  display: flex;
}
.featured-products-first-card-list-content-wrapper {
  display: flex;
}
.featured-products-first-card-list-content-icon-wrapper {
  padding-right: 1rem;
}
.featured-products-first-card-list-content {
  text-align: left;
}
.featured-products-first-card-list-content-text-wrapper {
  line-height: 1.5rem;
  display: inline;
  font-weight: 300;
  font-size: 1rem;
}
.featured-products-first-card-learn-more-container {
  margin-top: 2rem;
  text-align: center;
}
.featured-products-card-learn-more-link {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.featured-products-first-card-explore-container {
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  text-align: center;
}
.featured-products-card-explore-link {
  letter-spacing: 0.01562rem;
  line-height: 3.25rem;
  width: auto;
  text-transform: uppercase;
  border: 0.125rem solid #0075be;
  background-color: transparent;
  color: #0075be;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  padding: 0 2rem;
  overflow: hidden;
  height: 3.5rem;
  transition: all 0.2s ease;
  border-radius: 1.75rem;
  box-sizing: border-box;
  text-decoration: none;
}
.featured-products-card-explore-link-text {
  align-items: center;
  justify-content: center;
  display: flex;
}

.featured-products-card-top-banner-new {
  background-color: #0075be;
  color: #ffffff;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.625rem;
}

.featured-products-second-card-content-link {
  font-weight: 700;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.featured-products-second-card-content-title-one {
  margin-right: 0.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 1.125rem;
}
.featured-products-second-card-content-title-two-wrapper {
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
}
.featured-products-second-card-content-title-two {
  margin-right: 0.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 1.125rem;
}
.featured-products-first-card-content-button {
  display: inline-flex;
  vertical-align: middle;
}
.featured-products-second-card-content-button-text {
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01562rem;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}
.featured-products-second-card-button-caption-container {
  font-weight: 700;
  text-align: center;
}
.featured-products-second-card-button-caption {
  line-height: 1.5rem;
}
.featured-products-second-card-button-caption-link {
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.featured-products-second-card-list-container {
  padding-left: 0rem;
  margin-left: 0rem;
  margin-top: 0rem;
  list-style: none;
  margin-bottom: 0;
}
.featured-products-second-card-list-li {
  margin-bottom: 1rem;
  display: flex;
}
.featured-products-second-card-list-li-content-container {
  display: flex;
}
.featured-products-second-card-list-li-content-icon-wrapper {
  padding-right: 1rem;
}
.featured-products-second-card-list-li-content {
  text-align: left;
}
.featured-products-second-card-list-li-content-text {
  line-height: 1.5rem;
  display: inline;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}
.featured-products-second-card-list-li-content-abbr {
  border-bottom: none;
  cursor: default;
  text-decoration: none;
}
.featured-products-second-card-content-button-wrapper {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
}
