.dialog-container {
  padding: 0 0.5rem;
}
.dialog-title {
  font-size: 1.5rem;
}
.done-title {
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.reference-text {
  font-size: small;
  color: rgb(128, 128, 128);
}
.notice-container {
  border-left: 5px solid peachpuff;
  padding-left: 1rem;
  margin: 1.5rem 0;
}
.notice-title {
  margin: 0;
  font-size: 1rem;
}
.notice-text {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.button-container {
  display: flex;
  justify-content: center;
}
.mat-button-class {
  background-color: #005587;
  color: rgb(255, 255, 255);
}
