<div class="navbar-container">
  <div class="navbar-inner-container">
    <div class="navbar-wrapper">
      <div class="navbar-content-container">
        <div class="navbar-logo-container">
          <a
            routerLink="login"
            aria-label="Home - BMO Digital Banking"
            draggable="false"
          >
            <img
              src="assets/svg/bmo-roundel-logo-crop.svg"
              alt="B M O logo"
              class="navbar-logo-img"
            />
          </a>
        </div>
        <div>
          <nav class="navbar-options-wrapper">
            <ul class="navbar-options-ul">
              <li class="navbar-options-li">
                <a
                  href="https://branchlocator.bmo.com/"
                  aria-label="Find us! opens in new window"
                  target="_blank"
                  draggable="false"
                  matTooltip="Find us"
                  matTooltipShowDelay="800"
                  class="navbar-options-icon-container"
                >
                  <mat-icon aria-hidden="true">location_on</mat-icon>
                </a>
              </li>
              <li class="navbar-options-li">
                <a
                  aria-label="help"
                  draggable="false"
                  aria-expanded="false"
                  aria-haspopup="false"
                  matTooltip="Help"
                  matTooltipShowDelay="800"
                  class="navbar-options-icon-container"
                >
                  <mat-icon>help_outline</mat-icon>
                </a>
              </li>
              <li class="navbar-options-li">
                <a
                  aria-label="Français"
                  draggable="false"
                  matTooltip="Français"
                  matTooltipShowDelay="800"
                  class="navbar-options-icon-container"
                >
                  <span aria-hidden="true">FR</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
