<div class="navbar-container">
  <div class="navbar-inner-container">
    <div class="navbar-wrapper">
      <div class="navbar-content-container">
        <div class="navbar-logo-container">
          <a
            routerLink="login"
            aria-label="Home - BMO Digital Banking"
            draggable="false"
          >
            <img
              src="assets/svg/bmo-roundel-logo-crop.svg"
              alt="B M O logo"
              class="navbar-logo-img"
            />
          </a>
        </div>
        <div>
          <nav class="navbar-options-wrapper">
            <ul class="navbar-options-ul">
              <li class="navbar-options-li">
                <a
                  aria-label="help"
                  draggable="false"
                  aria-expanded="false"
                  aria-haspopup="false"
                  matTooltip="Help"
                  matTooltipShowDelay="800"
                  class="navbar-options-icon-container"
                >
                  <mat-icon aria-hidden="true" class="navbar-options-mat-icon"
                    >help_outline</mat-icon
                  >
                </a>
              </li>
              <li class="navbar-options-li">
                <a
                  draggable="false"
                  matTooltip="Find us"
                  matTooltipShowDelay="800"
                  class="navbar-options-icon-container"
                >
                  <mat-icon aria-hidden="true" class="navbar-options-mat-icon"
                    >mail_outline</mat-icon
                  >
                </a>
              </li>
              <li class="navbar-options-li">
                <a
                  aria-label="Français"
                  draggable="false"
                  matTooltip="Français"
                  matTooltipShowDelay="800"
                  class="navbar-options-icon-container"
                >
                  <mat-icon aria-hidden="true" class="navbar-options-mat-icon">
                    perm_identity</mat-icon
                  >
                </a>
              </li>
              <li
                class="navbar-options-li"
                *ngIf="currentScreenSize === 'Large'"
              >
                <button
                  class="navbar-options-sign-out-btn"
                  aria-label="sign out of online banking"
                >
                  Sign out
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar for Desktop -->
  <div
    *ngIf="currentScreenSize === 'Large'"
    class="navbar-second-portion-container"
  >
    <ul class="navbar-second-portion-ul-container">
      <li class="navbar-second-portion-ul-li-container">
        <button
          class="navbar-second-portion-ul-li-button-container"
          [routerLink]="['/']"
        >
          Accounts
        </button>
      </li>
      <li class="navbar-second-portion-ul-li-container">
        <button class="navbar-second-portion-ul-li-button-container">
          Pay & Transfer
        </button>
      </li>
      <li class="navbar-second-portion-ul-li-container">
        <button
          routerLink="/"
          class="navbar-second-portion-ul-li-button-container"
        >
          Bank Services
        </button>
      </li>
    </ul>
  </div>
</div>
