.desktop-navigation-bar-container {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.desktop-navigation-bar-logo-container {
  transform: translateY(16px);
}
.logo-small {
  width: 116px;
  height: 40px;
}
.desktop-inner-navigation-bar-wrapper {
  display: flex;
}

.desktop-inner-navigation-ul {
  display: flex;
  list-style-type: none;
  height: 100%;
}
.desktop-inner-navigation-ul-li {
  height: 100%;
}
.desktop-inner-navigation-ul-li-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0 12px;
  height: 100%;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.desktop-inner-navigation-ul-li-button:hover {
  border-bottom: 3px solid #0075be;
  border-top: 3px solid transparent;
}
.desktop-inner-navigation-ul-li-button:focus {
  border-bottom: 3px solid #0075be;
  border-top: 3px solid transparent;
}
