<div class="desktop-navigation-bar-container">
  <div style="transform: translateY(16px)">
    <a aria-label="Bank of Montreal logo" href="/">
      <div>
        <picture>
          <img
            src="assets/svg/bmoLogo.svg"
            alt="Bank of Montreal logo"
            class="logo-small"
        /></picture>
      </div>
    </a>
  </div>
  <div class="desktop-inner-navigation-bar-container">
    <div class="desktop-inner-navigation-bar-wrapper">
      <nav>
        <ul role="list" class="desktop-inner-navigation-ul">
          <li
            role="listitem"
            *ngFor="let navOption of navbarOptions"
            class="desktop-inner-navigation-ul-li"
          >
            <button
              aria-haspopup="true"
              aria-controls="header-menu-desktop-bank-accounts-item1"
              aria-expanded="false"
              class="desktop-inner-navigation-ul-li-button"
            >
              {{ navOption.title }}
            </button>
            <div id="header-menu-desktop-bank-accounts-item1">
              <!-- @TODO: The popup content will be here -->
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
