<div class="desktop-navigation-bar-container">
  <div class="desktop-navigation-bar-logo-container">
    <a aria-label="Bank of Montreal logo" href="/{{ originalPath }}">
      <div>
        <picture>
          <img
            src="assets/svg/bmoLogo.svg"
            alt="Bank of Montreal logo"
            class="logo-small"
        /></picture>
      </div>
    </a>
  </div>
  <div class="desktop-inner-navigation-bar-container">
    <div class="desktop-inner-navigation-bar-wrapper">
      <nav>
        <ul role="list" class="desktop-inner-navigation-ul">
          <li
            role="listitem"
            *ngFor="let navOption of navbarOptions; let i = index"
            class="desktop-inner-navigation-ul-li"
          >
            <button
              aria-haspopup="true"
              aria-controls="header-menu-desktop-bank-accounts-item1"
              aria-expanded="false"
              class="desktop-inner-navigation-ul-li-button"
              (click)="handleMenuClick(i)"
            >
              {{ navOption.title }}
            </button>
            <!-- @TODO: Change the id to correspond to aria-controls -->
            <div
              *ngIf="menuIsOpen"
              id="header-menu-desktop-bank-accounts-item1"
              class="desktop-inner-nav-menu-container"
            >
              <!-- @TODO: The popup content will be here -->
              <div class="desktop-inner-nav-menu-container-object"></div>
              <div class="desktop-inner-nav-menu-bank-accounts-container">
                <ul role="list" class="desktop-inner-nav-menu-bank-accounts-ul">
                  <li
                    role="listitem"
                    *ngFor="
                      let categories of navOption.categories;
                      let j = index
                    "
                    class="desktop-inner-nav-menu-bank-accounts-ul-li"
                  >
                    <a
                      *ngIf="categories.link"
                      href="{{ categories.link }}"
                      [attr.aria-label]="categories.ariaLabel"
                      target="_blank"
                      class="desktop-inner-nav-menu-bank-accounts-links"
                      >{{ categories.title }}</a
                    >
                    <ng-container *ngIf="categories.children">
                      <button
                        aria-haspopup="true"
                        aria-controls=""
                        aria-expanded="false"
                        class="desktop-inner-nav-menu-bank-accounts-buttons"
                      >
                        <span
                          class="desktop-inner-nav-menu-bank-accounts-buttons-title"
                          >{{ categories.title }}</span
                        >
                        <mat-icon aria-hidden="true" class="chevron-icon"
                          >chevron_right</mat-icon
                        >
                      </button>
                      <ul
                        role="list"
                        id="MATCH ARIA CONTROLS ABOVE"
                        class="desktop-inner-nav-inner-ul"
                      >
                        <li
                          role="listitem"
                          *ngFor="let children of categories.children"
                          class="desktop-inner-nav-inner-ul-li"
                        >
                          <a
                            href="{{ children.link }}"
                            [attr.aria-label]="children.ariaLabel"
                            target="_blank"
                            class="desktop-inner-nav-inner-ul-li-link"
                          >
                            <span
                              class="desktop-inner-nav-inner-ul-li-link-image-wrapper"
                            >
                              <img
                                alt="{{ children.alt }}"
                                src="{{ children.icon }}"
                              />
                            </span>
                            <span
                              role="text"
                              class="desktop-inner-nav-inner-ul-li-link-text-wrapper"
                            >
                              <span
                                class="desktop-inner-nav-inner-ul-li-link-text-title"
                                >{{ children.title }}</span
                              >
                              <span
                                class="desktop-inner-nav-inner-ul-li-link-text-description"
                                >{{ children.description }}</span
                              >
                            </span>
                          </a>
                        </li>
                      </ul>
                    </ng-container>
                  </li>
                </ul>
              </div>
              <!-- Resources -->
              <div></div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
