<div class="desktop-navigation-bar-container">
  <div>
    <a
      aria-label="Bank of Montreal logo"
      href="https://www.bmo.com/en-ca/main/personal/"
    >
      <div>
        <picture>
          <img
            src="assets/svg/bmoLogo.svg"
            alt="Bank of Montreal logo"
            class="logo-small"
        /></picture>
      </div>
    </a>
  </div>
  <div>
    <nav>
      <ul style="display: flex; list-style-type: none">
        <li *ngFor="let navOption of navbarOptions">
          <button
            style="
              border: none;
              background: transparent;
              cursor: pointer;
              font-size: 1rem;
              padding: 0 12px;
            "
          >
            {{ navOption.title }}
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
