<button
  mat-button
  [matMenuTriggerFor]="siteSelector"
  #siteSelectorTrigger="matMenuTrigger"
  class="full-height-btn site-selector-button"
>
  <span class="site-selector-button-text">
    Private Wealth @if(siteSelectorTrigger.menuOpen){
    <mat-icon>expand_less</mat-icon>}@else {
    <mat-icon>expand_more</mat-icon>
    }
  </span>
</button>

<mat-menu #siteSelector="matMenu" yPosition="below">
  <a mat-menu-item [routerLink]="['/']">Personal</a>
  <a mat-menu-item [routerLink]="['/business']">Business</a>
  <a mat-menu-item>Private Wealth</a>
  <a mat-menu-item>Commercial</a>
  <a mat-menu-item>Capital Markets</a>
  <a mat-menu-item>Global Asset Management</a>
  <a mat-menu-item>About BMO</a>
</mat-menu>
