<div #MobileMenuContainer class="mobile-menu-btn-menu-container">
  <div class="mobile-menu-btn-menu-inner-container">
    <div class="mobile-menu-btn-menu-options-container">
      <app-mobile-menu-search-bar></app-mobile-menu-search-bar>
      <app-mobile-menu-country-select></app-mobile-menu-country-select>
      <app-mobile-menu-site-selector></app-mobile-menu-site-selector>
      <app-mobile-menu-language-selector></app-mobile-menu-language-selector>
    </div>
    <app-mobile-menu-inner-menu></app-mobile-menu-inner-menu>
  </div>
  <app-mobile-bottom-navigation></app-mobile-bottom-navigation>
  <button
    (focus)="backToMenuBtn()"
    aria-hidden="true"
    class="mobile-menu-btn-back-to-menu-btn"
  ></button>
</div>
