<div class="search-bar-container">
  <div
    [ngClass]="
      isSearchBarOpen ? 'search-icon-wrapper-open' : 'search-icon-wrapper'
    "
    (click)="handleSearchBarClick($event, true)"
  >
    <div class="search-bar-form-wrapper">
      <form style="width: 100%" onsubmit="return false">
        <div class="search-form-inner-wrapper">
          <label
            for="header-search"
            aria-hidden="true"
            class="search-form-input-label"
            >Search</label
          >
          <input
            #searchInput
            type="text"
            id="header-search"
            placeholder="Search"
            class="search-form-input"
            [ngClass]="isSearchBarOpen ? 'open' : null"
            aria-label="Search"
            (focus)="handleSearchBarClick($event, true)"
          />
          <button
            aria-label="Clear search results"
            type="reset"
            class="search-form-close-wrapper"
            [ngClass]="isSearchBarOpen ? ' open' : null"
            (click)="
              handleSearchBarClick($event, false); searchInput.value = ''
            "
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
