<!-- @TODO: Make sure logo select goes back to selected page -->
<div>
  <header role="banner">
    <a
      class="home-skip-navigation"
      tabindex="0"
      (click)="handleSkipNav($event, 'nav-skip')"
      (keydown.enter)="handleSkipNav($event, 'nav-skip')"
      >Skip navigation</a
    >
    <app-navbar [currentScreenSize]="currentScreenSize"></app-navbar>
    <span id="nav-skip" tabindex="-1" class="home-skip-navigation-end"
      >Navigation skipped</span
    >
  </header>
  <main>
    <app-business-hero
      [currentScreenSize]="currentScreenSize"
    ></app-business-hero>
    <app-business-products-tabs
      [currentScreenSize]="currentScreenSize"
    ></app-business-products-tabs>
    <app-business-download-banner [currentScreenSize]="currentScreenSize">
    </app-business-download-banner>
    <app-business-where-to-begin
      [currentScreenSize]="currentScreenSize"
    ></app-business-where-to-begin>
  </main>
  <footer
    role="contentinfo"
    class="footer"
    [ngClass]="{
      hidden:
        (isMobileSignInMenuOpen &&
          (this.currentScreenSize === 'Small' ||
            this.currentScreenSize === 'Medium')) ||
        (isMobileMenuOpen &&
          (this.currentScreenSize === 'Small' ||
            this.currentScreenSize === 'Medium'))
    }"
  >
    <app-business-footer
      [currentScreenSize]="currentScreenSize"
    ></app-business-footer>
  </footer>
</div>
