<div>
  <header role="banner">
    <a
      class="home-skip-navigation"
      tabindex="0"
      (click)="handleSkipNav($event, 'nav-skip')"
      (keydown.enter)="handleSkipNav($event, 'nav-skip')"
      >Skip navigation</a
    >
    <app-business-navbar></app-business-navbar>
    <span id="nav-skip" tabindex="-1" class="home-skip-navigation-end"
      >Navigation skipped</span
    >
  </header>
  <main>
    <app-business-hero></app-business-hero>
    <app-business-products-tabs></app-business-products-tabs>
    <app-business-get-in-touch></app-business-get-in-touch>
    <app-business-download-banner> </app-business-download-banner>
    <app-business-where-to-begin></app-business-where-to-begin>
  </main>
  <footer
    role="contentinfo"
    class="footer"
    [ngClass]="{
      hidden:
        (isMobileSignInMenuOpen &&
          (this.currentScreenSize === 'Small' ||
            this.currentScreenSize === 'Medium')) ||
        (isMobileMenuOpen &&
          (this.currentScreenSize === 'Small' ||
            this.currentScreenSize === 'Medium'))
    }"
  >
    <app-business-footer></app-business-footer>
  </footer>
</div>
