.mat-toolbar {
  border-bottom: 1px solid #d9dce1;
  padding-left: 1rem;
  height: 101px;
  padding-left: 2rem;
}

.medium-logo-container {
  flex: 1;
}

.medium-btn-container {
  display: flex;
  justify-content: flex-end;
}
/* .medium-btn-container button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
} */
