<div
  (click)="handleCountrySelectMenuClick()"
  (keydown.enter)="handleCountrySelectMenuClick()"
  (keydown.Space)="handleCountrySelectMenuClick(); $event.preventDefault()"
  class="mobile-menu-btn-menu-country-select-container"
>
  <label
    class="mobile-menu-btn-menu-search-label"
    id="mobile-menu-btn-menu-search-label"
    >Country Selector</label
  >
  <div
    [attr.aria-expanded]="isCountrySelectMenuOpen"
    aria-labelledby="mobile-menu-btn-menu-search-label"
    aria-controls="mobile-menu-btn-menu-country-dropdown-container"
    tabindex="0"
    (focusout)="closeCountrySelectMenu()"
    class="mobile-menu-btn-menu-country-select-wrapper"
  >
    <mat-icon
      class="mobile-menu-btn-menu-country-select-chevron"
      [ngClass]="isCountrySelectMenuOpen ? 'open' : null"
      >chevron_right</mat-icon
    >
    <div class="mobile-menu-btn-menu-country-select-content-wrapper">
      <span class="mobile-menu-btn-menu-country-select-icon-wrapper"
        ><img
          alt="Canada flag"
          height="25"
          width="25"
          src="assets/svg/flag-canada.svg" /></span
      ><span class="mobile-menu-btn-menu-country-select-text-wrapper">CA</span>
    </div>
  </div>
  <div
    role="listbox"
    tabindex="-1"
    class="mobile-menu-btn-menu-country-dropdown-container"
    id="mobile-menu-btn-menu-country-dropdown-container"
    [ngClass]="isCountrySelectMenuOpen ? 'open' : null"
  >
    <div
      *ngFor="let option of countryOptions"
      role="option"
      aria-selected="true"
      class="mobile-menu-btn-menu-country-wrapper"
    >
      <div class="mobile-menu-btn-menu-country-content-container">
        <span class="mobile-menu-btn-menu-country-icon-wrapper">
          <img
            src="{{ option.icon }}"
            height="auto"
            width="25px"
            min-width="25px"
          />
        </span>
        <span class="mobile-menu-btn-menu-country-text-wrapper"
          ><a>{{ option.country }}</a></span
        >
      </div>
    </div>
  </div>
</div>
