<div class="mobile-footer-container">
  <div class="mobile-footer-inner-container">
    <div
    class="mobile-footer-options-container"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
      "
    >
      <mat-icon>credit_card</mat-icon>
      <p style="margin: 0">Accounts</p>
    </div>
    <div>
      <mat-icon>attach_money</mat-icon>
      <p>Pay & Transfer</p>
    </div>
    <div>
      <mat-icon>account_balance</mat-icon>
      <p>Bank Services</p>
    </div>
  </div>
</div>
