<div *ngIf="currentScreenSize !== 'Large'" class="mobile-footer-container">
  <div class="mobile-footer-inner-container">
    <div class="mobile-footer-options-container">
      <mat-icon>credit_card</mat-icon>
      <p class="mobile-footer-options-title-text">Accounts</p>
    </div>
    <div class="mobile-footer-options-container">
      <mat-icon>attach_money</mat-icon>
      <p class="mobile-footer-options-title-text">Pay & Transfer</p>
    </div>
    <div class="mobile-footer-options-container">
      <mat-icon>account_balance</mat-icon>
      <p class="mobile-footer-options-title-text">Bank Services</p>
    </div>
  </div>
</div>
