.register {
  padding: 0 16px;
}
.register-container {
  min-height: 0px;
  margin: 0;
  transition: 0.3s box-shadow ease, 1s all ease;
  padding: 0;
  border: 1px solid none;
  box-shadow: 0 0 2px 0 rgba(0, 25, 40, 0.12), 0 2px 2px 0 rgba(0, 25, 40, 0.07);
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.register-inner-container {
  position: relative;
  margin: 0;
  padding: 0;
}
.register-content-wrapper {
  padding: 0 16px;
  margin: 0;
}

.register-title-text {
  margin-top: 16px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.15px;
  color: #001928;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  margin-bottom: 0;
}
.register-p-container {
  padding: 0;
  margin: 0;
  color: #001928;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-decoration: none;
}

.register-p-a-wrapper {
  max-height: 3.2rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: none;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 3.2rem;
  margin-right: 0 24px 0 0;
  border-radius: 4px;
  color: #0075be;
  align-items: center;
  text-decoration: none;
}
.register-or-text {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.15px;
  margin-right: 5px;
  padding: 0;
}
